<div>
<table>
<% pending.each do |identifier, membership| %>
<tr>
  <td><%= identifier %></td>
    <% unless membership.id.nil? %>
      <td><%= button_to (t :'user_groups.views.partials.pending.approve'), user_group.approve_membership_path(membership), method: :put, :id => 'approve_access' %></td>
    <% end %>

    <td><%= form_for(membership, url: user_group.membership_path, html: {:method => :delete}) do |f| %>
      <%= f.hidden_field :group_id %>
      <%= f.hidden_field :user_id %>
      <%= f.submit (t :'user_groups.views.shared.cancel'), :id => 'deny_access' %>
    <% end %></td>
</tr>
<% end %>
</table>
</div>
