<div id="content" class="span9 show-document">
  <div id="document">
    <div class="document">

    <h1><%= t('dri.views.collection.index.title.admin') %></h1>

    <ul>
      <% @mycollections.each do |collection| %>

        <li>
          <%= link_to collection[:title], collection_path(:id => collection[:id]) %> (<%= t('dri.views.collection.index.items', :count => collection[:objectCount]) %>)

          <% if !get_current_collection.nil? && get_current_collection.id.eql?(collection[:id]) %>

            <%= form_tag (clear_current_collection_path(collection)), :method => :delete, :style=>"margin:0;padding:0;display:inline;" do %>
              <%= submit_tag t('dri.views.collection.buttons.clear_collection'), :class => "btn", :id => "clear_collection_#{collection[:id]}" %>
            <% end %>

          <% else %>

            <%= form_tag (current_collection_path(collection)), :style=>"margin:0;padding:0;display:inline;" do %>
              <%= submit_tag t('dri.views.collection.buttons.set_collection'), :class => "btn", :id => "set_collection_#{collection[:id]}" %>
            <% end %>

          <% end %>

        </li>

      <% end %>

   </ul>

   <% if @mycollections.blank? %>
     <p><%= t('dri.views.collection.index.no_collections.admin') %></p>
   <% end %>

   <br/>
   <%= link_to t('dri.views.collection.buttons.new_collection'), new_collection_path, :class => "btn-primary btn-large", :id => "new_collection" %>

   </div>
  </div>
</div>
