<div id="content" class="span9 show-document">
  <div id="document">
    <div class="document">

    <h1><%= t('dri.views.collection.index.title.admin') %></h1>

    <ul>
      <% @mycollections.each do |collection| %>

        <li>
          <%= link_to collection.title, collection_path(:id => collection.id) %> (<%= t('dri.views.collection.index.items', :count => @collection_counts[collection.id]) %>) 
        </li>

      <% end %>

   </ul>

   <% if @mycollections.blank? %>
     <p><%= t('dri.views.collection.index.no_collections.admin') %></p>
   <% end %>

   <br/>
   <%= link_to t('dri.views.collection.buttons.new_collection'), new_collection_path, :class => "btn-primary btn-large", :id => "new_collection" %>

   </div>
  </div>
</div>
