

<% @collections.each do |collection| %>
<article class="block5">
					<div class="dri_content_block_collection">
					    <% if collection[:cover_image] %>
     	 					<%= image_tag(collection[:cover_image], :class=>"dri_image", :width=>"228", :height=>"127") %>
      					<% else %>
      						<% image = "dri/formats/collection.png".downcase %>
      						<a >
        						<%= image_tag image, :width=>"228", :height=>"127" %>
      						</a>
    					<% end %>
    					<h1><%= link_to collection[:title], collection_path(:id => collection[:id]) %></h1>
    					
                        <p class="dri_publishing_institute">
							<a href=""><!-- need callback to get search on rights -->
								<%= collection[:rights] %>
							</a>
						</p>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#"><%= t('dri.views.collection.index.object_count', :count => @collection_counts[collection[:id]]) %></a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>
<% end %>



     <% if @collections.blank? %>
       <p><%= t('dri.views.collection.index.no_collections.public') %></p>
       <% end %>


       <% if signed_in? %>
       <div class="dri_grey_button dri_clearfix">
					<%= link_to t('dri.views.collection.buttons.new_collection'), new_collection_path, :class => "btn-primary btn-large", :id => "new_collection" %>
		</div>

       <% end %>

