<div class="dri_ingest_form_container">
  <h1><%= t('dri.views.collection.new.title') %></h1>
  <div class="dri_ingest_form">
  	<%= form_for @object, as: :digital_object, url: { controller: 'collections', action: 'create' }, method: 'post', html: { class: 'form-vertical' } do |f| %>

      <section>
        <%= render partial: 'shared/form_metadata_qualifieddublincore', locals: { f: f, action: 'create' } %>
      </section>

      <%= f.hidden_field :dataset, value: params[:dataset] %>

      <section>
        <h2><%= t('dri.views.objects.legends.reuse') %></h2>
        <%= render partial: 'shared/form_copyright_field', locals: { f: f } %>
        <%= render partial: 'shared/form_licence_field', locals: { f: f } %>
        <%= render partial: 'shared/form_rights_field', locals: { f: f } %>
      </section>

      <section>
        <div class="dri_access_controls">
          <h2>
            <%= t('dri.views.objects.legends.access_control') %>
          </h2>
        </div>
    	  <%= render partial: 'access_controls/access_controls', locals: { f: f, record: @object, inherit_disabled: true } %>
      </section>

      <section>
        <h2><%= t('dri.application.terms.deposit_agreement_form') %></h2>
    	  <div class="checkbox mb-1">
    		  <label>
    			  <input name="deposit" id="deposit" required type="checkbox" />
    			  <span><%= link_to t('dri.application.terms.deposit_agreement'), main_app.page_path('deposit_terms'), id: "deposit_agreement", target: "_blank" %></span>
          </label>
    	  </div>
      </section>
  	    <%= f.submit t('dri.views.collection.buttons.create_collection'), :class => "dri_button_green dri_w330 mt-1", id: "create_new_collection" %>

  	<% end %>
  	<%= form_for @object, as: :digital_object, url: {controller: 'collections', action: 'create'}, method: 'post', html: { class: 'dri_ingest_form'} do |f| %>
  	  <%= f.submit t('dri.views.objects.buttons.cancel'), class: "dri_button_red dri_w330 mt-1", id: 'cancel_collection' %>
  	<% end %>
  </div>
</div>
