<h1><%= @collection.title %></h1>

<dl>
  <dt><%= t('dri.views.objects.forms.description') %></dt>
  <dd><%= @collection.description %></dd>
  <dt><%= t('dri.views.objects.forms.publisher') %></dt>
  <dd><%= @collection.publisher %></dd>
</dl>

<h2><%= t('dri.views.collection.legends.governed_objects') %></h2>
<%= render :partial => 'governed_item', :children => @children %>


<h2><%= t('dri.views.collection.legends.objects') %></h2>
<%= render :partial => 'item', :collection => @collection.items, :locals => {:collection_id => @collection.pid} %>

<% if signed_in? && (can? :edit, @collection) %>
  <%= link_to t('dri.views.collection.edit'), edit_collection_path, :id => "edit_collection" %>
<% end %>

<% if signed_in? && (can? :manage, @collection) %>
<% object = UserGroup::Group.find(UserGroup::Group.where(:name => @collection.id)) %>
  <%= render :partial => 'shared/approve_membership' %>
<% end %>
