<h1><%= @document_fedora.title %></h1>

<dl>
  <dt><%= t('dri.views.objects.forms.description') %></dt>
  <dd><%= @document_fedora.description %></dd>
  <dt><%= t('dri.views.objects.forms.publisher') %></dt>
  <dd><%= @document_fedora.publisher %></dd>
</dl>

<h2><%= t('dri.views.collection.legends.governed_objects') %></h2>
<%= render :partial => 'governed_item', :collection => @document_fedora.governed_items %>
