<div class="dri_collection_container">
							<div class="dri_object_view dri_object_title_top"><%= @collection.title %></div>

				<!-- close dri_object_second_block -->



				<div class="dri_object_first_block">

					<dl class="dl-horizontal  dl-invert  dri_object_metadata_readview">
						<dt class="blacklight-title_tesim">Title</dt>
						<dd class="blacklight-title_tesim"><%= @collection.title %></dd>
						<dt class="blacklight-description_tesim"><%= t('dri.views.objects.forms.description') %></dt>
						<dd class="blacklight-description_tesim"><%= @collection.description %></dd>
						<dt class="dri_capitalize"><%= t('dri.views.objects.forms.publisher') %></dt>
  						<dd><%= @collection.publisher %></dd>
  						
					</dl>




				</div>

				<!-- close dri_object_first_block -->
				<div class="dri_object_second_block">

					<div class="dri_vc_title">
						<img alt="Vc_folder" height="12" src="/assets/vc_folder.png" width="22"> <a href="/collections/dri:j9602060k">Objects
							in this Collection</a> 
					</div>
					<!-- close vc_title -->
                    		<div class="dri_vc_image"><!-- need callback for cover image -->
						<a href="/collections/dri:j9602060k"><img src="/assets/dri/rnag.jpg" width="230" height="139"></a>


					</div>
					<!-- close vc_title -->

					<ul class="dri_view_collection"> <!-- need callback to get search by collection title -->
						<li>All Objects <span class="dri_stat_num"> <a href="/?f%5Bcollection_sim%5D%5B%5D=%5B%22NAIC+Performance%22%5D"><%= @children.count %></a>
						</span></li>
					</ul>
					

      		      
					<% if signed_in? && (can? :edit, @collection) %>
  <div class="dri_grey_button"><%= link_to t('dri.views.collection.edit'), edit_collection_path, :id => "edit_collection" %></div> 
<% end %>
				   

<% if signed_in? && (can? :manage_collection, @collection) %><div class="dri_grey_button dri_no_display">
  <%= render :partial => 'approve_membership', :pending => @pending %></div>
<% end %>



<% if signed_in? && (can? :manage_collection, @collection) %>
  <%= render :partial => 'approve_membership', :pending => @pending %>
<% end %>

				</div>
				<h2 class="dri_clearfix"><%= t('dri.views.collection.legends.governed_objects') %></h2>
<%= render :partial => 'governed_item', :children => @children %>

				<div class="dri_object_institutes_block">


					<div class="dri_institutes_title">
						<span>Institutes and Sponsors</span>
					</div>
					<!-- close vc_title -->

					<ul class="dri_collection_institutes_list">
						<li><span class="dri_collection_institutes_item"> <a href=""><img src="/assets/dri/inst_sample_01.png"></a>
						</span></li>
						<li><span class="dri_collection_institutes_item"> <a href=""><img src="/assets/dri/inst_sample_02.png"></a>
						</span></li>
						<li><span class="dri_collection_institutes_item"> <a href=""><img src="/assets/dri/inst_sample_03.png"></a>
						</span></li>
					</ul>
					<div class="dri_institutes_show_more">
						<span>Show more</span>
					</div>

					<!-- close dri_bookmark_object -->

				</div>
				<!-- close dri_object_institutes_block -->




			</div>
