<h1><%= @document_fedora.title %></h1>

<dl>
  <dt><%= t('dri.views.objects.forms.description') %></dt>
  <dd><%= @document_fedora.description %></dd>
  <dt><%= t('dri.views.objects.forms.publisher') %></dt>
  <dd><%= @document_fedora.publisher %></dd>
</dl>

<h2><%= t('dri.views.collection.legends.members') %></h2>

<ul>
<% @document_fedora.governed_items.each do |i| %>
  <li><%= link_to i.pid, catalog_path(i) %></li>
<% end %>
</ul>
