<table class="table table-bordered table-condensed">
<thead>
  <th>DOI</th>
  <th><%= t('dri.views.doi.fields.modified') %></th>
  <th><%= t('dri.views.doi.fields.modified_at') %></th>
</thead>
<% @history.each_with_index do |doi, index| %>
  <tr>
    <td><%= "#{doi.doi.split("-")[0]}-#{index}" %></td>
    <td><%= doi.modified %></td>
    <td><%= doi.created_at %></td>
  </tr>
<% end %>
</table>    
