<% if @available && can?(:show_digital_object, @object_id) %>
  <div><%= link_to t('dri.views.doi.links.view_full_object'), catalog_path(@object_id) %><div>
<% else %>
  <p><i class="fa fa-exclamation-circle"></i><%= t('dri.views.doi.unavailable') %></p>
<% end %>
<br/>
<table class="table table-bordered table-condensed">
<thead>
  <th>DOI</th>
  <th><%= t('dri.views.doi.fields.modified') %></th>
  <th><%= t('dri.views.doi.fields.modified_at') %></th>
</thead>
<% @history.each do |doi| %>
  <tr>
    <td><%= doi.doi %></td>
    <td><%= doi.modified %></td>
    <td><%= doi.created_at %></td>
  </tr>
<% end %>
</table>    
