<div id="dri_organisations_manage">
  <div><%= t('dri.views.collection.institute.org_not_created', :url => new_organisation_path() ).html_safe %></div>
  <%= form_tag collection_organisations_path(@document), :id => 'associate_institute', :name => 'associate_institute' do %>
    <select multiple="multiple" size="10" id="select_institutes" name="institutes[]" 
            onchange="setDepositingOrgs()">
      
      <% if @presenter.unassigned_organisations %>
        <% @presenter.unassigned_organisations.each do |inst| %>
          <option value="<%= inst %>"><%= inst %></option>
        <% end %>
      <% end %>

      <%= @presenter.depositing_organisation %>
      <% if @presenter.depositing_organisation %>
        <option value="<%= @presenter.depositing_organisation.name %>" selected="selected">
        	<%= @presenter.depositing_organisation.name %>
        </option>
      <% end %>
          
      <% @presenter.assigned_organisations.each do |inst| %>
        <option value="<%= inst %>" selected="selected"><%= inst %></option>
      <% end %>
    </select>

    <div class="dri_institutes_title">
        <span><%= t('dri.views.collection.institute.associate_depositing') %></span>
    </div>
    <select name="depositing_organisation" id="select_depositing_institute" class="w240">
    </select>
    <br/>

    <%= submit_tag t('dri.views.collection.institute.set_institutes'), :class => 'hidden' %>
  <% end %>
</div>

<script>
  var selectInstitutes = $('select[name="institutes[]"]').bootstrapDualListbox({
                  nonSelectedListLabel: "<%= t('dri.views.collection.institute.available') %>",
                  selectedListLabel: "<%= t('dri.views.collection.institute.selected') %>",
                  moveSelectedLabel: "<%= t('dri.views.collection.institute.move_selected_label') %>",
                  moveAllLabel: "<%= t('dri.views.collection.institute.move_all_label') %>",
                  removeSelectedLabel: "<%= t('dri.views.collection.institute.remove_selected_label') %>",
                  removeAllLabel: "<%= t('dri.views.collection.institute.remove_all_label') %>",
                  preserveSelectionOnMove: 'moved',
                  moveOnSelect: false,
                });

  function setDepositingOrgs() {
    var orgs = $("#select_institutes").val();

    var select = $('#select_depositing_institute');
    if(select.prop) {
      var options = select.prop('options');
    }
    else {
      var options = select.attr('options');
    }
    $('option', select).remove();
    options[0] = new Option("<%= t('dri.views.collection.institute.not_set') %>", "not_set");   

    <% if @presenter.depositing_organisations %>
      var depositors = <%= raw(@presenter.depositing_organisations) %>
    <% end %>

    if(orgs) {
      orgs = intersect(orgs,depositors)
      $.each(orgs, function(val, text) {
        options[options.length] = new Option(text, text);
      });
    
      <% if @presenter.depositing_organisation %>
        select.val("<%= @presenter.depositing_organisation.name %>");
      <% end %>
    }
  } 
    
  $(document).ready(function(){
    setDepositingOrgs();

    if (document.getElementById('select_institutes').options.length == 0) {
    	$("associate_institute input[type=submit]").attr('disabled','disabled');
    } 
    else {
    	$("associate_institute input[type=submit]").removeAttr('disabled');
    }
  });


  function intersect(a, b) {
    var t;
    if (b.length > a.length) t = b, b = a, a = t; // indexOf to loop over shorter
    return a.filter(function (e) {
        return b.indexOf(e) > -1;
    });
  }
</script>
