<div class="dri_sidenav">
  <h3>
    <i class="fa fa-pencil"></i>&nbsp;<%= t('dri.views.catalog.titles.editor_tools') %>
  </h3>
  <ul>
    <li class="dri_subnav_editor_tools">
      <% draft_objects = @document.draft_objects_count %>
      <% draft_subcoll = @document.draft_subcollections_count %>
      <% duplicate_total = @document.duplicate_total %>
      <% reviewed_objects = @document.reviewed_objects_count %>
      <% reviewed_subcoll = @document.reviewed_subcollections_count %>
      <% published_objects = @document.published_objects_count %>
      <% published_subcoll = @document.published_subcollections_count %>

      <ul class="dri_subnav_review_list">
        <!-- Draft Stats Block -->
        <li>
          <%= t('dri.views.catalog.links.draft') %>
          (<i class="fa fa-folder" aria-hidden="true"></i><%= review_link("#{draft_subcoll}", "#{my_collections_index_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=draft&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>/<i class="fa-solid fa-file" aria-hidden="true"></i><%= review_link("#{draft_objects})", "#{my_collections_index_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=draft&mode=objects&view=grid", t('dri.help.view_objects')) %>
        </li>
        <!-- end Draft Stats Block -->
        <!-- Reviewed Stats Block -->
        <li>
          <%= "#{t('dri.views.catalog.links.reviewed')}" %>
          (<i class="fa fa-folder" aria-hidden="true"></i><%= review_link("#{reviewed_subcoll}", "#{my_collections_index_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=reviewed&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>/<i class="fa-solid fa-file" aria-hidden="true"></i><%= review_link("#{reviewed_objects})","#{search_catalog_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=reviewed&mode=objects&view=grid", t('dri.help.view_objects')) %>
          <!-- end Reviewed Stats Block -->
          <!-- Published Stats Block -->
          <% if duplicate_total > 0 %>
        <li>
          <% else %>
        <li class="dri_subnav_review_list_last">
          <% end %>
          <%= "#{t('dri.views.catalog.links.published')}" %>
          (<i class="fa fa-folder" aria-hidden="true"></i><%= review_link("#{published_subcoll}", "#{my_collections_index_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=published&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>/<i class="fa-solid fa-file" aria-hidden="true"></i><%= review_link("#{published_objects})","#{my_collections_index_path}?f[ancestor_id_ssim][]=#{@document.id}&f[status_ssi][]=published&mode=objects&view=grid", t('dri.help.view_objects')) %>
        </li>
        <!-- end Published Stats Block -->
        <!-- Duplicate Stats Block -->
        <% if duplicate_total > 0 %>
        <%= link_to collection_duplicates_path(@document.id) do %>
        <li class="dri_subnav_review_list_last dri_warning"><%= "#{t('dri.views.catalog.links.duplicates')} (#{duplicate_total})" %></li>
        <% end %>
        <% end %>
        <!-- end Duplicate Stats Block -->
      </ul>
    </li>

   <% if @document.editable? %>
    <li class="dri_edit_collection">
      <div class="accordion" id="dri_add_object_id">
        <div class="accordion-group">
          <a class="accordion-toggle" id="add_object_menu" data-bs-toggle="collapse" data-parent="#dri_add_object_id" href="#dri_add_object_collapsed_id">
            <i class="fa-regular fa-square-caret-down fa-lg"></i> <%= t('dri.views.catalog.links.add_object') %>
          </a>
          <div id="dri_add_object_collapsed_id" class="accordion-body collapse" style="height: 0px; ">
          <div class="accordion-inner">
          <ul class="dri_subnav_add_object">
            <% if @document.active_fedora_model == 'DRI::QualifiedDublinCore' %>
              <%= link_to new_object_path(collection: document.id, method: 'form'), :id => "add_object" do %>
                <li>
                  <%= t('dri.views.catalog.links.metadata_form') %>
                </li>
              <% end %>
            <% end %>

            <%= link_to new_object_path(collection: document.id, method: 'upload'), :id => "add_object_xml" do %>
              <li class="accordion_last"><%= t('dri.views.catalog.links.add_object_xml') %></li>
            <% end %>
          </ul>
          </div>
          </div>
        </div>
      </div>
    </li>

    <!-- Add documentation should be available to any collection (MARC, MODS, QDC and EAD) -->
    <li class="dri_edit_collection">
      <div class="accordion" id="dri_add_documentation_id">
        <div class="accordion-group">
          <a class="accordion-toggle" id="add_documentation_menu" data-bs-toggle="collapse" data-parent="#dri_add_documentation_id" href="#dri_add_documentation_collapsed_id">
            <i class="fa-regular fa-square-caret-down fa-lg"></i> <%= t('dri.views.catalog.links.add_documentation') %>
          </a>
          <div id="dri_add_documentation_collapsed_id" class="accordion-body collapse" style="height: 0px; ">
          <div class="accordion-inner">
            <ul class="dri_subnav_add_object dri_help_popover" data-bs-content="<%= t('dri.help.add_documentation_help_text') %>" title="<%= t('dri.help.add_documentation_help_title') %>" data-bs-trigger="hover" data-bs-placement="left">
              <%= link_to new_object_path(collection: document.id, method: 'form', :is_documentation => 'true'), :id => "add_documentation_object" do %><li><%= t('dri.views.catalog.links.metadata_form') %></li><% end %>
              <%= link_to new_object_path(collection: document.id, method: 'upload', is_documentation: 'true'), class: "accordion_last", id: "add_documentation_object_xml" do %>
                <li class="accordion_last"><%= t('dri.views.catalog.links.add_documentation_xml') %></li>
              <% end %>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
