<script>
  $(document).ready(function() {
        $('#dri_metadata_uploader').change(function() {
                if ($(this).val()) {
                        $('#dri_upload_metadata_file').attr('style', 'display: inherit;');
                }
        });
  }); 
</script>
<script>
  function confirmDelete() {
  if (confirm("<%= t('dri.views.collection.confirm_delete') %>")) {
           $('#delete_collection').submit();
       } else {
           return false;
       }
  }
</script>
<div class="dri_sidenav">
  <h5>
    <i class="fa fa-pencil"></i>&nbsp;<%= t('dri.views.catalog.titles.editor_tools') %>
  </h5>
  <ul>
    <li>
      <% draft_objects = @document.draft_objects %>
      <% draft_subcoll = @document.draft_subcollections %>
      <% duplicate_total = @document.duplicate_total %>
      <% reviewed_objects = @document.reviewed_objects %>
      <% reviewed_subcoll = @document.reviewed_subcollections %>
      <% published_objects = @document.published_objects %>
      <% published_subcoll = @document.published_subcollections %>
      <ul class="dri_subnav_review_list">
        <!-- Draft Stats Block -->
        <li>
          <%= t('dri.views.catalog.links.draft') %>
          (<i class="fa fa-folder" aria-hidden="true"></i>
          <%= review_link("#{draft_subcoll} ", "#{my_collections_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=draft&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>
          /<i class="fa fa-file" aria-hidden="true"></i>
          <%= review_link("#{draft_objects} )", "#{my_collections_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=draft&mode=objects&view=grid", t('dri.help.view_objects')) %>
        </li>
        <!-- end Draft Stats Block -->
        <!-- Reviewed Stats Block -->
        <li>
          <%= "#{t('dri.views.catalog.links.reviewed')}" %>
          (<i class="fa fa-folder" aria-hidden="true"></i>
          <%= review_link("#{reviewed_subcoll}", "#{my_collections_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=reviewed&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>
          /<i class="fa fa-file" aria-hidden="true"></i>
          <%= review_link("#{reviewed_objects} )","#{catalog_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=reviewed&mode=objects&view=grid", t('dri.help.view_objects')) %>
          <!-- end Reviewed Stats Block -->
          <!-- Published Stats Block -->
          <% if duplicate_total > 0 %>
        <li>
          <% else %>
        <li class="dri_subnav_review_list_last">
          <% end %>
          <%= "#{t('dri.views.catalog.links.published')}" %>
          (<i class="fa fa-folder" aria-hidden="true"></i>
          <%= review_link("#{published_subcoll}", "#{my_collections_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=published&mode=collections&show_subs=true&view=grid", t('dri.help.view_subcollections')) %>
          /<i class="fa fa-file" aria-hidden="true"></i>
          <%= review_link("#{published_objects} )","#{my_collections_index_path}?f[ancestor_id_sim][]=#{@document.id}&f[status_sim][]=published&mode=objects&view=grid", t('dri.help.view_objects')) %>
        </li>
        <!-- end Published Stats Block -->
        <!-- Duplicate Stats Block -->
        <% if duplicate_total > 0 %>
        <%= link_to collection_duplicates_path(@document.id) do %>
        <li class="dri_subnav_review_list_last dri_warning"><%= "#{t('dri.views.catalog.links.duplicates')} (#{duplicate_total})" %></li>
        <% end %>
        <% end %>
        <!-- end Duplicate Stats Block -->
      </ul>
    </li>
    <% if @document.editable? %>
    <% if @document.active_fedora_model == 'DRI::QualifiedDublinCore' %>
    <%= link_to new_object_path(collection: document.id, method: 'form'), :id => "add_object" do %>
    <li>
      <%= t('dri.views.catalog.links.add_object') %>
    </li>
    <% end %>
    <% end %>
    <%= link_to new_object_path(collection: document.id, method: 'upload'), :id => "add_object_xml" do %>
    <li ><%= t('dri.views.catalog.links.add_object_xml') %></li>
    <% end %>
    <% end %> <!-- if end (non-EAD collections) -->
  </ul>
</div>
