<div id="dri_result_container_id" class="dri_result_container">
  <%- if current_or_guest_user.blank? -%>
      <h5><%= t('dri.views.catalog.legends.request_permission_not_logged_in') %></h5>
  <%- elsif @document_list.blank? -%>
      <h5>
        <% if (params[:mode] == "collections") %>
            <%= t('dri.views.catalog.legends.no_bookmarked_colletions') %>
        <% elsif (params[:mode] == "objects") %>
            <%= t('dri.views.catalog.legends.no_bookmarked_objects') %>
        <% else %>
            <%= t('dri.views.catalog.legends.no_bookmarks') %>
        <% end %>
      </h5>
  <% else %>
      <%= render_document_index %>
      <div class="dri_result_container dri_clearfix">
        <%= render :partial => "bookmarks/paginate_compact" %>
      </div>
  <% end %>
</div>
