<%= render :partial => "user_group/shared/header" %>

<%= form_for(@user) do |f| %>
    <%= render 'user_group/shared/error_messages', object: f.object %>
    <div>
      <h1><%= t('dri.application.edit_user_profile.edit_account') %></h1>
      <h4><%= f.label :email, (t :'dri.application.edit_user_profile.email') %></h4>
      <p><%= f.email_field :email %></p>
      <br/>
      <h4><%= f.label :first_name, (t :'dri.application.edit_user_profile.first_name') %></h4>
      <p><%= f.text_field :first_name %></p>
      <h4><%= f.label :second_name, (t :'dri.application.edit_user_profile.last_name') %></h4>
      <p><%= f.text_field :second_name %></p>
    </div>

    <div>
      <h1><%= t('dri.application.edit_user_profile.change_password') %></h1>
      <% if current_user.id == @user.id or !current_user.is_admin? %>
          <h4><%= f.label :current_password, (t :'dri.application.edit_user_profile.current_password') %></h4>
          <p><%= f.password_field :current_password, :disabled => @user.password_required? ? false : true %></p>
      <% end %>
      <h4><%= f.label :password, (t :'dri.application.edit_user_profile.new_password') %></h4>
      <p><%= f.password_field :password, :disabled => @user.password_required? ? false : true %></p>
      <h4><%= f.label :password_confirmation, (t :'dri.application.edit_user_profile.confirm_new_password') %></h4>
      <p><%= f.password_field :password_confirmation, :disabled => @user.password_required? ? false : true %></p>
    </div>

    <!--TO BE CHANGED placeholder for real functionality when it is developed-->
    <div>
      <% collection_data = get_collection_permission %>
      <% if (collection_data.count > 0) %>
          <h1><%= t('dri.application.user_profile.your_collection_details') %></h1>
          <% collection_data.each_with_index do |collection, i| %>
              <h4><%= "#{t('dri.application.user_profile.collection_title')} #{i + 1}" %></h4>
              <p><%= collection[:collection_title] %></p>
              <h4><%= t('dri.application.user_profile.user_type') %></h4>
              <p><%= collection[:permission] %></p>
              <% if (i == 1) %>
                  <%= link_to t('dri.application.edit_user_profile.requested_to_leave'), '#' %>
              <% else %>
                  <%= link_to '#' do %>
                      <%= t('dri.application.edit_user_profile.request_to_leave') %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </div>



    <div>
      <%= f.submit (t :'user_groups.views.shared.update'), :id => "commit" %>
      <%= link_to(@user, method: :delete, confirm: (t :'user_groups.views.shared.confirm'), :id => "cancel_account") do %>
          <button>
            <%= t :'user_groups.views.users.edit.delete' %>
          </button>
      <% end %>
    </div>
<% end %>



<% if current_user.is_admin? %>
    <h3><%= (t :'user_groups.views.shared.group_membership')%></h3>
    <% #Rendering the other way does odd things %>
    <h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.cancel') %></h4>
    <%= render 'user_group/shared/leave_groups', object: @user %>
    <% if @user.pending_memberships.count >0 %>
        <h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.pending') %></h4>
        <%= render 'user_group/shared/pending_groups', object: @user %>
    <% end %>

    <h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.add') %></h4>
    <%= render 'user_group/shared/join_groups', object: @user %>
<% end %>
