<% lang_params = {:path => request.fullpath} %>
<div id="dri_login_form_container_id" class="dri_login_form_container">
  <div class="dri_login_form_block">
    <%= render :partial => "user_group/shared/header" %>

    <h2><%= t :'user_groups.views.users.new.signup' %></h2>
    <%= form_for(@user) do |f| %>
        <%= render 'user_group/shared/error_messages', object: f.object %>

        <div>
          <%= f.label :first_name, (t :'user_groups.views.shared.first_name') %>
          <%= f.text_field :first_name, :autofocus => "true" %>
        </div>

        <div>
          <%= f.label :second_name, (t :'user_groups.views.shared.second_name') %>
          <%= f.text_field :second_name %>
        </div>

        <div>
          <%= f.label :email, (t :'user_groups.views.shared.email') %>
          <%= f.email_field :email %>
        </div>

        <div class="dri_signup_password">
          <%= f.label :password, (t :'user_groups.views.shared.password') %>
          <%= f.password_field :password, :disabled => @user.password_required? ? false : true %>
        </div>

        <div class="dri_signup_password dri_input_error">
          <%= f.label :password_confirmation, (t :'user_groups.views.shared.password_confirm') %>
          <%= f.password_field :password_confirmation, :disabled => @user.password_required? ? false : true %>
        </div>
        <%= f.hidden_field(:locale, :value => I18n.locale) %>

        <div class="dri_submit">
          <%= f.submit t('user_groups.views.shared.register'), :id => 'submit_new_user' %>
        </div>
        <div>&nbsp;</div>
    <% end %>
  </div>
</div>
