<%= render partial: "user_group/shared/header" %>

<% allowed_edit = user_signed_in? && ( current_user.id == @user.id || current_user.is_admin? ) %>

<div class="dri_account_buttons">

  <div class="dri_account_block_info_buttons dri_float_right">

    <% if current_user.id == @user.id %> <!-- viewing own profile page -->
       <%= link_to main_app.destroy_user_session_path, :method => :delete, :id => 'logout' do %>
         <button class="dri_button_green dri_w230">
           <%= t('blacklight.header_links.logout') %>
         </button>
       <% end %>
    <% end %>


    <% if allowed_edit %>
      <%= link_to user_group.edit_user_path(@user), :id => "edit_account" do %>
        <button class="dri_button_green dri_w230">
          <%= t('dri.application.user_profile.edit') %>
        </button>
      <% end %>
    <% end %> 
  </div>
</div> <!-- end the dri_account_bottons block -->

<div  class="dri_account_block dri_clearfix">
	<h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.my_account') %></h4>
	<div class="dri_account_block_info">
		<h5><%= t('dri.application.user_profile.email') %></h5>
		<p>
			<%= @user.email %>
		</p>

		<h5><%= t('dri.application.user_profile.name') %></h5>
		<p>
			<%= @user.first_name %>&nbsp;<%= @user.second_name %>
		</p>
 
    <% if !(@user.groups.pluck(:name) & [SETTING_GROUP_CM, SETTING_GROUP_OM]).empty? || @user.is_admin? %>
      <h5><%= t('dri.application.user_profile.user_type') %></h5>
      <% if @user.is_admin? %>
        <p><%= t('dri.application.user_profile.administrator') %></p>
      <% else %>
        <% @user.groups.each do |group| %>
          <% next if group.name == SETTING_GROUP_DEFAULT %>
          <% if group.name == SETTING_GROUP_CM %>
              <p><%= t('dri.application.user_profile.collection_manager') %></p>
           <% end %>
          <% if group.name == SETTING_GROUP_OM %>
              <p><%= t('dri.application.user_profile.organisational_manager') %></p>
           <% end %>
        <% end %>
      <% end %>
    <% end %>
                  
    <% if @user.authentication_token.present? %>
      <% example_params_hash = {user_email: @user.email, user_token: @user.authentication_token} %>
      <h5><%=  (t :'user_groups.views.shared.token')  %></h5>
      <p><%= @user.authentication_token %></p>

      <p>
        <%=t('dri.application.user_profile.token_params')%>:
        <pre><%= example_params_hash.to_param %></pre>
        <br />
        <%= t('dri.application.user_profile.for_example') %>,<br />
        <%= link_to(
          "#{request.env["HTTP_HOST"]}#{my_collections_index_path(example_params_hash)}",
          my_collections_index_path(example_params_hash))
        %>

                <%#= link_to "#{request.env["HTTP_HOST"]}#{my_collections_path(:user_token => @user.authentication_token, :user_email => @user.email)}", my_collections_path(:user_token => @user.authentication_token, :user_email => @user.email)  %>
      </p>

      <% if SETTING_PROFILE_TOKEN_EXPIRY_DAYS == 0 %>
        <% expiry_date = t :'user_groups.views.users.show.never' %>
      <% elsif @user.token_expired? %>
        <% expiry_date = t :'user_groups.views.users.show.expired' %>
      <% else %>
        <% expiry_date = (@user.token_creation_date.to_date+SETTING_PROFILE_TOKEN_EXPIRY_DAYS).to_s %>
      <% end %>
      <%= (t :'user_groups.views.users.show.expiry') %><%= expiry_date %><br />
      <%= (t :'user_groups.views.shared.created') %><%= @user.token_creation_date.to_s %><br />

      <br /><%= link_to (t :'user_groups.views.users.edit.delete_token'), destroy_token_user_path(@user), :method => :delete, confirm: (t :'user_groups.views.shared.confirm')  %>
    <% elsif current_user.is_admin? %>
      <p><%= link_to (t :'user_groups.views.users.edit.new_token'), create_token_user_path(@user), :method => :post, confirm: (t :'user_groups.views.shared.confirm')  %>
      </p>
    <% end %>

	</div>

</div>

<% collection_data = collection_permission(@user) %>
<% unless collection_data.blank? %>
  <div class="dri_account_block dri_clearfix">

	<h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.your_collection_details') %></h4>
    <% page = params[:page].to_i || 0 %>
  	<div class="dri_account_block_info">
      <% collection_data.each_with_index do |collection, i| %>
    		<div class="dri_account_block_info_item">
    			<h5><%= "#{t('dri.application.user_profile.collection_title')}" %></h5>
    			<p>
    				<%= link_to collection[:collection_title].join(', '), my_collections_path(collection[:id]) %>
    			</p>
    			<h5><%= t('dri.application.user_profile.permissions') %></h5>
    			<p>
    				<%= collection[:permission] %>
    			</p>
    		</div>
  		<% end %>
      <%= paginate collection_data, theme: 'blacklight' %>
  	</div>
  </div>
<% end %>


