<h2>New Audio</h2>

<%= form_for @document_fedora, :url => {:controller=>"audios", :action=>"update"}, :method=>"put", :html => {:class => 'form-vertical'} do |f| %>

  <fieldset id="metadata">
    <legend>Metadata</legend>
    <%= f.label 'Title:' %>
    <%= f.text_field :title, :class => "edit span6", :required => "true" %>
    <%= f.label 'Description:' %>
    <%= f.text_area :description, :class => "edit span6" %>
  </fieldset>

  <%= f.submit "Save Changes", :class => "btn-primary btn-large" %>
<% end %>

<fieldset>
        <legend>Upload Metadata:</legend>
        <p class="legend-caption">Replace metadata using XML file.</p>
        <form id="metadata_uploader" action="<%= url_for(:action=>"replace_metadata", :controller=>"downloads", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="file" name="metadata_file" accept="application/xml" >
        <input class="btn-primary" name="upload_metadata" type="submit" value="Upload Metadata"/>
        </form>
</fieldset>

<fieldset>
        <legend>Upload Audio:</legend>
         <p class="legend-caption">No audio files have been uploaded. Please upload audio master file.</p>
<form id="file_uploader" action="<%= url_for(:action=>"upload_file", :controller=>"downloads", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="file" name="Filedata" accept="audio/*">
        <input type="hidden" name="datastream" value="masterContent" />
        <input class="btn-primary" name="upload_file" type="submit" value="Upload Master File"/>
        </form>
</fieldset>
