<h1>New Audio</h1>

<fieldset>
        <legend>Upload Metadata:</legend>
        <p class="legend-caption">Replace metadata using XML file.</p>
        <form id="metadata_uploader" action="<%= url_for(:action=>"replace_metadata", :controller=>"downloads") %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="file" name="metadata_file" accept="application/xml" >
        <input class="btn-primary btn-large" name="upload_metadata" type="submit" value="Ingest Metadata"/>
        </form>
</fieldset>

<%= form_for @document_fedora, :url => {:controller=>"audios"}, :html => {:class => 'form-vertical'} do |f| %>

  <fieldset id="metadata">
    <legend>Metadata</legend>
    <%= f.label 'Title:' %>
    <%= f.text_field :title, :class => "edit span6", :required => "true" %>
    <%= f.label 'Description:' %>
    <%= f.text_area :description, :class => "edit span6" %>
  </fieldset>

  <%= f.submit "Save Changes", :class => "btn-primary btn-large" %>

<% end %>
