<div class="document_viewer" id="cover_container">
  <div class="content-type-header">
    <h1>Edit Audio Resource</h1>
  </div>
  <div class="multipleEdit">
<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"hydra/assets", :content_type=>"audio")%>" method="post" data-resourceType="audio" accept-charset="utf-8" >
<% @content_type = "audio" %>
  <input type="hidden" name="content_type" value="audio" />
<input type="hidden" name="_method" value="put" />

<p id="title_field" class="fedora-text-field"><%= fedora_field_label("descMetadata", [:title], "Title:") %>
  <%= fedora_text_field(@document_fedora,"descMetadata", [:title], :multiple=>false, :required=>true) %></p>

<p id="description_field" class="fedora-text-area"><%= fedora_field_label("descMetadata", [:description], "Description:") %>
    <%= fedora_text_area(@document_fedora,"descMetadata", [:description], :multiple=>false, :required=>false) %></p>


<p id="broadcast_text_field" class="fedora-text-field"><%= fedora_field_label("descMetadata", [:broadcast_date], "Broadcast Date:") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:broadcast_date], :multiple=>false, :required=>false) %></p>

<p id="language_field" class="fedora_select"><%= fedora_field_label("descMetadata", [:language], "Language:") %>
	<%= fedora_select(@document_fedora, "descMetadata", [:language], {:choices => ["ga", "en"]}) %>
<fieldset id="presenter_fields">
  <legend>Presenters:</legend>
  <p class="legend-caption">Add people who presented the work.</p>
  <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"descMetadata", [:presenter], :multiple=>true, :required=>false) %></p>
  <p class="dri-text-field-add"><a class="addval textfield" href="#" data-datastream-name="descMetadata" title="Add Presenter">Add Presenter</a></p>
</fieldset>

<fieldset id="guest_fields">
  <legend>Guests:</legend>
  <p class="legend-caption">Add people who were guests in the work.</p>
  <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"descMetadata", [:guest], :multiple=>true, :required=>false) %></p>
  <p class="dri-text-field-add"><a class="addval textfield" href="#" data-datastream-name="descMetadata" title="Add Guest">Add Guest</a></p>
</fieldset>

<fieldset id="subject_fields">
  <legend>Subjects:</legend>
  <p class="legend-caption">Add subjects that describe the work.</p>
  <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"descMetadata", [:subject], :multiple=>true, :required=>false) %></p>
  <p class="dri-text-field-add"><a class="addval textfield" href="#" data-datastream-name="descMetadata" title="Add Subject">Add Subject</a></p>
</fieldset>

<fieldset id="source_fields">
  <legend>Source References:</legend>
  <p class="legend-caption">Add references to the original work.</p>
  <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"descMetadata", [:source], :multiple=>true, :required=>false) %></p>
  <p class="dri-text-field-add"><a class="addval textfield" href="#" data-datastream-name="descMetadata" title="Add Source">Add Source</a></p>
</fieldset>

<div>
  <div class="form-control">
      <%= submit_tag "Save metadata" %>
  </div>
</div>
</form>
<fieldset>
<legend>Uploaded Files:</legend>
        <% if @document_fedora.datastreams.has_key?("masterContent") %>
        <form id="file_uploader" action="<%= url_for(:action=>"upload_file", :controller=>"downloads", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post">
        <p>Master Audio File: <a href="<%= url_for :controller => 'downloads', :action => 'show_file', :id => @document_fedora.id %>">view</a></p>
        <input type="file" name="Filedata" accept="audio/*" />
        <input type="hidden" name="datastream" value="masterContent" />
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input name="upload_file" class="uploader_submit" type="submit" value="Replace Master File" />
        </form>
        <% else %>
        <form id="file_uploader" action="<%= url_for(:action=>"upload_file", :controller=>"downloads", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <p class="legend-caption">No audio files have been uploaded. Please upload audio master file.</p>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="file" name="Filedata" accept="audio/*">
        <input type="hidden" name="datastream" value="masterContent" />
        <input class="uploader_submit" name="upload_file" type="submit" value="Upload Master File"/>
        </form>
        <% end %>
</fieldset>
<fieldset>
	<legend>Upload Metadata:</legend>
	<p class="legend-caption">Replace current metadata with XML file.</p>
        <form id="metadata_uploader" action="<%= url_for(:action=>"replace_metadata", :controller=>"downloads", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<input type="file" name="metadata_file" accept="application/xml" >
        <input class="metadata_uploader_submit" name="upload_metadata" type="submit" value="Replace Metadata"/>
        </form>
</fieldset>
</div>
</div>
