<script>
	function fileUploadHelper(thisObj) {
		$("#institution_logo").html(($(thisObj).val()).replace("C:\\fakepath\\", ""));
	}
</script>

<div class="dri_collection_institutes_dropdown" style="border-top-width: 0px;">
	<div id="dri_add_institutes_block">
		<%= form_for(@inst, url: organisation_path) do |f| %>
		  <%= render partial: 'institute_form', locals: { f: f } %>
          <%= f.submit t('dri.views.collection.institute.edit'), :id => 'edit_institute', :class=>'dri_button_green' %>
		<% end %>
		<%= form_for(@inst, url: organisation_path) do |f| %>
		  <%= hidden_field_tag 'action', 'edit' %>
		  <%= f.submit "Cancel", :class=>'dri_button_red' %>
		<% end %>
	</div>
</div>
