<script>
	function fileUploadHelper(thisObj) {
		$("#institution_logo").html(($(thisObj).val()).replace("C:\\fakepath\\", ""));
	}
</script>

<div class="dri_collection_institutes_dropdown" style="border-top-width: 0px;">
  <div id="dri_add_institutes_block">
	<%= form_for(@inst, url: organisation_path) do |f| %>
	  <div class="dri_file_upload">
		<a class='btn btn-default' href='javascript:;'> <h5 class="dri_upload_file_text"><i class="fa fa-upload">&nbsp;</i><%= "#{t('dri.views.collection.institute.form.logo')}"%></h5>
		<p>
			(recommended height 75px)
		</p> <%= f.file_field :logo, :accept=>'image/*', :onchange=>'fileUploadHelper($(this));' %> <h5 id="institution_logo">No File</h5> </a>
	  </div>
	  <label for="institute_name"> <%= t('dri.views.collection.institute.form.name') %></label>
	  <%= f.text_field :name, :required=>'required' %>
	  <label for="institute_url"><%= t('dri.views.collection.institute.form.url') %></label>
	  <%= f.url_field :url, :required=>'required'  %>

	  <% if current_user.is_admin? %>
        <label for="organisation_manager"> <%= t('dri.views.collection.institute.form.manager') %></label>
	    <%= f.text_field :manager %>  
        <%= f.label :depositing, t('dri.views.collection.institute.form.depositing') %>
        <%= f.check_box :depositing %>
	  <% end %>
	  <br/>
	  <%= f.submit t('dri.views.collection.institute.edit'), id: 'edit_institute', class: 'dri_button_green' %>
	  <%= f.submit "Cancel", class: 'btn dri_grey_button' %>
	<% end %>
  </div>
</div>
