<% institute_browse_params = { :mode => "collections", :search_field => "all_fields", :view => "grid", :f => {} } %>
<% style='' %>
<% @institutes.each_with_index do |institute, i| %>
    <% style='not_first' unless i == 0 %>
    <% collection_count = @collections[institute.id].size %>
    <div class="dri_collection_institutes_pages <%= style %>">
      <% institute_browse_params[:f] = { ActiveFedora.index_field_mapper.solr_name('institute', :facetable, type: :string).to_sym => [institute[:name].to_s.mb_chars.downcase.html_safe] } %>
      <%= link_to main_app.catalog_index_path(institute_browse_params) do %>
          <div class="dri_collection_institutes_pages_img">
            <%= image_tag logo_url(institute), alt: institute[:name].to_s.html_safe if institute.brand %>
            <h6>
              <%= institute[:name].to_s.html_safe %>
            </h6>
            <% if signed_in? && current_user.is_admin? %>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_organisation_path(institute) %>
              <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, organisation_path(institute), method: :delete %>
            <% end %>
          </div>
          <div class="dri_collection_institutes_pages_text" >
            <ul>
              <% if (collection_count > 0) %>
                  <% collections = @collections[institute.id] %>
                  <% collections[0..2].each do |collection| %>
                     <% collection = collection.symbolize_keys! %>
                     <% image = cover_image collection %>
                     <% if image %>
                        <li><%= image_tag image, :width=>"150", title: collection[:title_tesim].first %></li>
                     <% else %>
                        <li><%= image_tag "no_image.png", :width=>"150", title: collection[:title_tesim].first %></li>
                     <% end %>
                  <% end %>
              <% end %>
            </ul>
            <p>
              <%= t('dri.headerlinks.collections') %>
              <span class="dri_bold_text">
                <%= "(#{collection_count})" %>
              </span>
            </p>
          </div>
      <% end %>
    </div>
<% end %>
