<script>
  function fileUploadHelper(thisObj) {
        $("#institution_logo").html(($(thisObj).val()).replace("C:\\fakepath\\", ""));
  }
</script>
<h5><%= t('dri.views.collection.institute.are_you_sure') %> (<%=  link_to t('dri.views.collection.institute.see_orgs'), '#', :'data-toggle' => 'modal',  :'data-target' => '#dri_organisations_modal_id' %>)</h5>
<div class="dri_collection_institutes_dropdown">
  <div class="dri_institutes_title">
    <div class="dri_file_upload">
      <div class="dri_add_institute_link">
        <h5><%= t('dri.views.collection.institute.add') %></h5>
      </div>
      <div>
        <p><%= t('dri.views.collection.institute.depositing_org_text') %></p>
        <p><%= t('dri.views.collection.institute.what_is_org_text') %></p>
        <p><%= t('dri.views.collection.institute.associating_text') %></p>
      </div>
      <div id="dri_add_institutes_block">
        <div class="dri_file_upload">
          <%= form_for(@inst, url: organisations_path) do |f| %>
          <div>
            <a class='btn btn-default' href='javascript:;'>
              <h5 class="dri_upload_file_text"><i class="fa fa-upload">&nbsp;</i><%= "#{t('dri.views.collection.institute.form.logo')}"%></h5>
              <p>
                (recommended height 75px)
              </p>
              <%= f.file_field :logo, :required=>'required', :accept=>'image/png,image/jpeg', :onchange=>'fileUploadHelper($(this));' %> 
              <h5 id="institution_logo">No File</h5>
            </a>
          </div>
          <label> <%= t('dri.views.collection.institute.form.name') %></label>
          <%= f.text_field :name, list: 'orgs', :required=>'required' %>
          <datalist id="orgs">
            <% Institute.all.each do |organisation| %>
            <option value="<%= organisation.name %>"></option>
            <% end %>
          </datalist>
          <label><%= t('dri.views.collection.institute.form.url') %></label>
          <%= f.url_field :url, :required=>'required'  %>
          <% if current_user.is_admin? %>
            <label><%= t('dri.views.collection.institute.form.depositing') %></label>
            <%= f.check_box :depositing %>
          <% end %>
          <%= f.submit t('dri.views.collection.institute.buttons.save'), :id => 'add_institute', :class=>'dri_button_green' %>
          <% end %>
          <%= form_for(@inst, url: organisations_path) do |f| %>
          <%= f.submit t('dri.views.objects.links.cancel'), :class=>'btn dri_grey_button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dri_organisations_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('dri.headerlinks.institutions') %></h4>
      </div>
      <div class="modal-body">
        <% @institutes.each_with_index do |institute, i| %>
          <% style='not_first' unless i == 0 %>
          <div class="dri_collection_institutes_pages <%= style %>">
            <div class="dri_collection_institutes_modal_img">
              <%= image_tag logo_url(institute), alt: institute[:name].to_s.html_safe if institute.brand %>
              <h6><%= institute[:name].to_s.html_safe %></h6>
              <% if signed_in? && current_user.is_admin? %>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_organisation_path(institute) %>
              <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, organisation_path(institute), method: :delete %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('dri.window.modal.close') %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
