<script>
  function fileUploadHelper(thisObj) {
        $("#institution_logo").html(($(thisObj).val()).replace("C:\\fakepath\\", ""));
  }
</script>
<p><%= t('dri.views.collection.institute.are_you_sure') %> (<%=  link_to t('dri.views.collection.institute.see_orgs'), '#', :'data-bs-toggle' => 'modal',  :'data-bs-target' => '#dri_organisations_modal_id' %>)</p>
<div class="dri_collection_institutes_dropdown">
  <div class="dri_add_institute_link">
    <h1 class="h3"><%= t('dri.views.collection.institute.add') %></h1>
  </div>
  <div>
    <p><%= t('dri.views.collection.institute.depositing_org_text') %></p>
    <p><%= t('dri.views.collection.institute.what_is_org_text') %></p>
    <p><%= t('dri.views.collection.institute.associating_text') %></p>
  </div>
  <div id="dri_add_institutes_block">
    <%= form_for(@inst, url: organisations_path) do |f| %>
      <%= render partial: 'institute_form', locals: { f: f } %>
      <%= f.submit t('dri.views.collection.institute.buttons.save'), :id => 'add_institute', :class=>'dri_button_green' %>
    <% end %>
    <%= form_for(@inst, url: organisations_path) do |f| %>
      <%= f.hidden_field :action, value: 'new' %>
      <%= f.submit t('dri.views.objects.links.cancel'), :class=>'btn dri_grey_button' %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="dri_organisations_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h4 modal-title"><%= t('dri.headerlinks.institutions') %></h2>
        <button type="button" class="dri-btn-close" data-bs-dismiss="modal" aria-hidden="true"/>
      </div>
      <div class="modal-body">
        <% @institutes.each_with_index do |institute, i| %>
          <% style = 'not_first' unless i == @institutes.size - 1 %>
          <div class="dri_collection_institutes_pages <%= style %>">
            <% style='not_first' %>
            <div class="dri_collection_institutes_modal_img">
              <%= image_tag logo_url(institute), alt: institute[:name].to_s.html_safe if institute.brand %>
              <h6><%= institute[:name].to_s.html_safe %></h6>
              <% if signed_in? && current_user.is_admin? %>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_organisation_path(institute) %>
              <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, organisation_path(institute), method: :delete %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          <%= t('dri.window.modal.close') %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
