<div class="modal fade" id="dri_advanced_search_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('dri.views.objects.buttons.advanced_search') %></h4>
      </div>

      <div class="modal-body">
        <div class="input-criteria">
          <div class="query-criteria">
            <h3 class="query-criteria-heading">
              <%= t('blacklight.advanced_search.form.query_criteria_heading_html', :select_menu =>  select_menu_for_field_operator ) %>
            </h3>
            <div id="advanced_search">
              <%= render 'advanced/advanced_search_fields' %>
            </div>
          </div>
        </div>
        <hr>
        <div class="sort-submit-buttons clearfix">
          <div class='submit-buttons pull-right'>
            <%# TODO: split into more partials? %>
            <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>

            <%= link_to(
                  t('blacklight.search.form.start_over'),
                  '#',
                  onclick: "clearAdvancedForm('#dri_advanced_search_modal_id')",
                  class: 'btn btn-default advanced-search-start-over dri_help_popover_slow',
                  'data-content': t('dri.help.advanced_search.start_over'),
                  'data-original-title': t('dri.help.advanced_search.start_over_title'),
                  'data-placement': 'left',
                  'data-trigger': 'hover') %>

            <%= submit_tag(
                  t('blacklight.search.form.search'),
                  class: 'btn btn-primary advanced-search-submit dri_help_popover_slow',
                  id: 'advanced-search-submit',
                  'data-content': t('dri.help.advanced_search.search'),
                  'data-original-title': t('dri.help.advanced_search.search_title'),
                  'data-placement': 'left',
                  'data-trigger': 'hover') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to t('dri.views.objects.buttons.advanced_search'), '', :'data-target' => '#dri_advanced_search_modal_id', :'data-toggle' => 'modal', class: 'btn', id: 'advanced_search' %>
