<%= form_tag(url_for(action: "update", controller: "metadata", id: @document.id), multipart: true, method: :put, id: "metadata_uploader") do %>
  <div class="dri_fileUpload">
    <%= t('dri.views.objects.legends.replace_metadata') %>
    <%= button_tag t('dri.views.objects.buttons.upload'), id: "dri_upload_metadata_file", name: "upload_file", style: "display:none; margin-left: 5px;", class: "dri_button_green_small" %>
    <% options = { accept: "application/xml", required: "true", class: 'upload', id: 'dri_metadata_uploader' } %>
    <% if @document.published? && @document.doi.present? %>
      <% options[:onclick] = "return warnOnReplace();" %>
    <% end %>
    <%= file_field_tag 'metadata_file', options %>
  </div>
  <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
  <%= hidden_field_tag 'datastream', "content" %>
<% end %>
