      <div class="sort-buttons pull-left">
        <%= label_tag(:sort, t('blacklight.advanced_search.form.sort_label'), class: "control-label") %>

        <%
          translated_fields = sort_fields.map do |(label, value)|
            [t("blacklight.search.sort.#{label}", default: label), value]
          end
        %>

        <%= select_tag(:sort, options_for_select(translated_fields, h(params[:sort])), class: "form-control sort-select") %>
      </div>

      <div class="page-buttons pull-left">
        <%= label_tag(:per_page, t('blacklight.advanced_search.form.paginate_label'), class: "control-label") %>
        <%
          translated_per_page = blacklight_config[:per_page].map do |count|
            [t('blacklight.search.per_page.label', count: count).html_safe, count]
          end
        %>
        <%= select_tag(:per_page, options_for_select(translated_per_page, h(params[:per_page])), class: "form-control page-select") %>
      </div>

      <div class="submit-buttons pull-right">
        <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
        <%= link_to t('blacklight.search.form.start_over'), advanced_search_path, class: "btn btn-default advanced-search-start-over" %>

        <%= submit_tag t('blacklight.search.form.search'), class: 'btn btn-primary advanced-search-submit', id: "advanced-search-submit" %>
      </div>
