      <div class='sort-buttons pull-left'>
        <%
          translated_fields = sort_fields.map do |(label, value)|
            [t("blacklight.search.sort.#{label}", default: label), value]
          end
        %>

        <%= select_tag(
              :sort,
              options_for_select(translated_fields, h(params[:sort])),
              class: 'dri_help_popover_slow dri_select',
              'data-content': t('dri.help.dri_sort_options'),
              'data-original-title': t('dri.help.dri_sort_options_title'),
              'data-placement': 'right',
              'data-trigger': 'hover') %>
      </div>

      <div class='page-buttons pull-left'>
        <%
          translated_per_page = blacklight_config[:per_page].map do |count|
            [t('blacklight.search.per_page.label', count: count).html_safe, count]
          end
        %>

        <%= select_tag(
              :per_page,
              options_for_select(translated_per_page, h(params[:per_page])),
              class: 'dri_help_popover_slow dri_select',
              'data-content': t('dri.help.dri_page_options'),
              'data-original-title': t('dri.help.dri_page_options_title'),
              'data-placement': 'right',
              'data-trigger': 'hover') %>
      </div>

      <div class='submit-buttons pull-right'>
        <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>

        <%= link_to(
              t('blacklight.search.form.start_over'),
              advanced_path,
              class: 'btn btn-default advanced-search-start-over dri_help_popover_slow',
              'data-content': t('dri.help.advanced_search.start_over'),
              'data-original-title': t('dri.help.advanced_search.start_over_title'),
              'data-placement': 'left',
              'data-trigger': 'hover') %>

        <%= submit_tag(
              t('blacklight.search.form.search'),
              class: 'btn btn-primary advanced-search-submit dri_help_popover_slow',
              id: 'advanced-search-submit',
              'data-content': t('dri.help.advanced_search.search'),
              'data-original-title': t('dri.help.advanced_search.search_title'),
              'data-placement': 'left',
              'data-trigger': 'hover') %>
      </div>
