<div class="modal fade" id="dri_advanced_search_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <%= t('dri.views.advanced_search.header') %>
        </h2>
        <button type="button" class="dri-btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <%= form_tag main_app.search_catalog_path, class: 'advanced form-horizontal', method: :get do  %>
          <%= render Blacklight::HiddenSearchStateComponent.new(params: controller.search_state_class.new(advanced_search_context, blacklight_config).params_for_search({})) %>
          <%= render 'advanced/dri_search_fields' %>
          <hr>
          <%= render 'advanced/dri_submit_buttons' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
