<% unless @collection_data.blank? %>
  <div class="dri_account_block dri_clearfix">

	<h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.your_collection_details') %></h4>
    <% page = params[:page].to_i || 0 %>
  	<div class="dri_account_block_info">
      <% @collection_data.each_with_index do |collection, i| %>
    		<div class="dri_account_block_info_item">
    			<h5><%= "#{t('dri.application.user_profile.collection_title')}" %></h5>
    			<p>
    				<%= link_to collection[:collection_title].join(', '), my_collections_path(collection[:id]) %>
    			</p>
    			<h5><%= t('dri.application.user_profile.permissions') %></h5>
    			<p>
    				<%= collection[:permission] %>
			</p>
      <h5><%= t('dri.views.objects.legends.access_control') %></h5>
			<p>
			  <%= link_to t('dri.views.collection.access_controls_review'), access_controls_review_path(collection[:id]) %>
			  <%= link_to "(#{t('dri.views.collection.access_controls_csv')})", access_controls_review_path(collection[:id], format: 'csv') %>
			</p>
    		</div>
  		<% end %>
  		<nav id="dri_my_collections_pagination_nav_id" class="dri_pagination_nav" aria-label="Navigation">
        <ul id="dri_my_collections_pagination_nav_links_id" class="dri_pagination_nav_links">
          <%= paginate @collection_data, theme: 'blacklight' %>
        </ul>
      </nav>
  	</div>
  </div>
<% end %>
