<% @page_title = 'Workspace' %>


<div class="dri_account_block dri_clearfix">
  <h4 class="dri_account_block_heading"><%= t('dri.headerlinks.workspace') %></h4>
  <div class="dri_account_block_info">

    <% if current_user.present? %>
      <p>
        <%= link_to user_group.user_path(current_user) do %>
          <i class="fa fa-user"></i>&nbsp;<%= current_user[:first_name].to_s %>
        <% end %>
      </p>

      <p>
        <%= link_to t('dri.headerlinks.my_collections'), workspace_path(:mode => "collections"), :id => "my_collections", :tabindex => "-1" %>
      </p>

      <p>
        <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path({:mode => 'collections', :view => 'grid'}), :tabindex => "-1" %>
      </p>

      <p>
        <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, :tabindex => "-1", :id => 'saved_search' %>
      </p>

      <p>
        <%= link_to t('dri.headerlinks.mirador'), '/mirador/', :tabindex => "-1", :id => 'mirador', target: '_blank'  %>
      </p>    

    <% else %>

      <p>
        <%= t('dri.views.static.workspace.please_login', :url => new_user_session_path ).html_safe %>
      <p>
    <% end %>
                  
  </div>
</div>





<% if signed_in? && (current_user.is_cm? || current_user.is_om? || current_user.is_admin? || @collections.count > 0 ) %>
  <div class="dri_account_block dri_clearfix">
    <h4 class="dri_account_block_heading"><%= t('dri.headerlinks.manage') %></h4>
    <div class="dri_account_block_info">

    <p>
      <%= link_to t('dri.headerlinks.new_collection'), new_collection_path, :id => "new_collection", :tabindex => "-1" %>
    </p>

    <p>
      <%= link_to t('dri.headerlinks.new_organisation'), new_organisation_path %>
    </p>


    <% if signed_in? && current_user.is_om? %>
      <p>
        <%= link_to t('dri.headerlinks.manage_users'), main_app.manage_users_path, :tabindex => "-1" %>
      </p>
    <% end %>

     <% if tasks? %>
       <p>
         <%= link_to t('dri.headerlinks.my_tasks'), user_tasks_path, id: "tasks" %>
       </p>
     <% end %>
    </div>
  </div>
<% end %>






<% if signed_in? && (current_user.is_admin?) %>
  <div class="dri_account_block dri_clearfix">
    <h4 class="dri_account_block_heading"><%= t('dri.headerlinks.admin') %></h4>
    <div class="dri_account_block_info">

      <p>
        <%= link_to t('dri.views.static.admin.licences'), main_app.licences_path, :id => "licences", :tabindex => "-1" %>
      </p>
    
      <p>
        <%= link_to t('dri.headerlinks.resque'), main_app.resque_server_path, :id => "resque", :tabindex => "-1" %>
      </p>

      <p>
        <%= link_to t('user_groups.views.header.admin'), user_group.admin_path, :tabindex => "-1" %>
      </p>

      <p>
        <%= link_to t('dri.headerlinks.reports'), main_app.page_path('reports'), :tabindex => "-1" %>
      </p>

    </div>
  </div>
<% end %>
