<% @page_title = 'Workspace' %>
<div class="dri_workspace_menu_block dri_clearfix">
  <h1 class="dri_workspace_menu_block_heading"><%= t('dri.headerlinks.workspace') %></h1>
  <div class="dri_workspace_menu_block_info">
    <ul>
      <li>
        <%= link_to user_group.user_path(current_user) do %>
          <i class="fa fa-user"></i>&nbsp;<%= current_user[:first_name].to_s %>
        <% end %>
      </li>

      <% if @collection_count > 0 || current_user.is_admin? %>
        <li>
          <%= link_to t('dri.headerlinks.search_my_collections'), my_collections_index_path(mode: 'collections', search_field: 'all_fields'), id: 'search_my_collections' %>
        </li>
        <li>
          <%= link_to t('dri.headerlinks.my_collections'), workspace_collections_path, id: 'my_collections' %>
        </li>
     <% end %>
     <li>
       <%= link_to t('dri.headerlinks.downloads'), downloads_path %>
     </li>
     <li>
       <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path({mode: 'collections', view: 'grid'}) %>
     </li>
     <li>
       <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, id: 'saved_search' %>
     </li>
   </ul>
  </div>
</div>

<% if @collection_count > 0 || (current_user.is_cm? || current_user.is_om? || current_user.is_admin?) %>
  <div class="dri_workspace_menu_block dri_clearfix">
    <h2 class="dri_workspace_menu_block_heading"><%= t('dri.headerlinks.ingest') %></h2>
    <div class="dri_workspace_menu_block_info">
      <ul>
        <% if current_user.is_cm? || current_user.is_om? || current_user.is_admin? %>
          <li>
            <%= link_to t('dri.headerlinks.new_collection'), new_collection_path, id: 'new_collection' %>
          </li>
        <% end %>
        <li>
          <%= link_to t('dri.headerlinks.batch_ingest'), dri_batch_ingest.new_batch_path %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% if @manage_collections_count > 0 || (current_user.is_cm? || current_user.is_om? || current_user.is_admin?) %>
  <div class="dri_workspace_menu_block dri_clearfix">
    <h2 class="dri_workspace_menu_block_heading"><%= t('dri.headerlinks.manage') %></h2>
    <div class="dri_workspace_menu_block_info">
    <ul>
      <li>
        <%= link_to t('dri.headerlinks.new_organisation'), new_organisation_path %>
      </li>

      <% if current_user.is_om? %>
        <li>
          <%= link_to t('dri.headerlinks.manage_users'), main_app.manage_users_path %>
        </li>
      <% end %>

      <% if @manage_collections_count > 0 %>
        <li>
          <%= link_to t('dri.views.collection.manage_read_requests'), manage_access_requests_path, id: 'manage_readers' %>
        </li>
      <% end %>

      <li>
        <%= link_to t('dri.datatables.analytics.header'), analytics_path %>
      </li>
    </ul>
    </div>
  </div>
<% end %>

<% if current_user.is_admin? %>
  <div class="dri_workspace_menu_block dri_clearfix">
    <h2 class="dri_workspace_menu_block_heading"><%= t('dri.headerlinks.admin') %></h2>
    <div class="dri_workspace_menu_block_info">
    <ul>
      <li>
        <%= link_to t('dri.views.static.admin.licences'), main_app.licences_path, id: 'licences' %>
      </li>

      <li>
        <%= link_to t('dri.views.static.admin.copyrights'), main_app.copyrights_path, id: 'copyrights' %>
      </li>

      <li>
        <%= link_to t('dri.headerlinks.resque'), main_app.resque_server_path, id: 'resque' %>
      </li>

      <li>
        <%= link_to t('user_groups.views.header.admin'), user_group.admin_path %>
      </li>

      <li>
        <%= link_to t('dri.headerlinks.reports'), main_app.page_path('reports') %>
      </li>
    </ul>
    </div>
  </div>
<% end %>
