<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside

   Paginator now using the Bootstrap paginator class
-%>

<%= paginator.render do -%>
	<!-- navigation to allow the user to page through the search results  -->
	<nav id="dri_pagination_nav_id" class="dri_pagination_nav">
		<ul id="dri_pagination_nav_links_id" class="dri_pagination_nav_links" data-content="<%= I18n.t('dri.help.dri_pagination_nav_links') %>"  data-original-title="<%= I18n.t('dri.help.dri_pagination_nav_links_title')%>" data-trigger="hover" data-placement="left">
			
		    <%= prev_page_tag unless current_page.first? %>
		    <% each_relevant_page do |page| -%>
		      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
		        <%= page_tag page %>
		      <% elsif !page.was_truncated? -%>
		        <!-- <%= gap_tag %> -->
		      <% end -%>
		    <% end -%>
		    <%= next_page_tag unless current_page.last? %>

		</ul>
	</nav>
<% end %>