<%= render partial: "user_group/shared/header" %>

<ul class="list-unstyled">
  <li><%= link_to (t :'user_groups.views.shared.users'), main_app.reports_path(report: 'users') %></li>
  <li><%= link_to (t :'user_groups.views.shared.groups'), groups_path %></li>
  <br />
  <li><%= link_to (t :'user_groups.views.shared.add_user'), new_user_path %></li>
  <li><%= link_to (t :'user_groups.views.shared.add_group'), new_group_path %></li>

  <br/>

  <h4><%= t('dri.headerlinks.manage_om_users') %></h4>
  <%= form_tag(manage_users_path, method: :post) do %>
    <%= label_tag(:user, t('dri.views.manager_users.email') ) %>
    <%= text_field_tag(:user) %>
    <%= submit_tag( t('dri.views.manager_users.buttons.submit') ) %>

    </br>
    <%= label_tag :type, "#{t('dri.application.user_profile.organisational_manager')}?" %>
    <%= check_box_tag :type, 'om' %>
  <% end %>
</ul>

<%#= link_to "Data Logging", "#" %>
