<h3><%= (t :'user_groups.views.shared.manage_read_group', collection_name: @collection.title.first) %></h3>
<h4 class="no_bottom_margin"><%= (t :'dri.views.readers.headers.pending') %></h4>
<%= render partial: 'pending_read', locals: {object: @group} %>

<h4 class="no_bottom_margin"><%= (t :'dri.views.readers.headers.remove') %></h4>
<%= render partial: 'remove_read', locals: {object: @group} %>

