<div class="dri_report_container">

  <h3><%= t('dri.reports.headings.object') %></h3>
  <table>
    <tr><td> <%= t('dri.reports.object.object_id') %> </td><td> <%= @object.alternate_id %> </td></tr>
    <tr><td> <%= t('dri.reports.object.title') %> </td><td> <%= @object.title.join(' : ') %> </td></tr>
    <tr><td> <%= t('dri.reports.object.depositor') %> </td><td> <%= @object.depositor %> </td></tr>
    <tr><td> <%= t('dri.reports.object.metadata_md5') %> </td><td> <%= @object.metadata_checksum %> </td></tr>
  </table>

  <% if (!@object.collection? || @object.root_collection?) && @fixity.present? %>
    <h3><%= t('dri.reports.headings.fixity') %></h3>
    <table class="table">
      <tr>
        <th><%= t('dri.reports.headings.date') %></th>
        <th><%= t('dri.reports.headings.fixity_status') %></th>
        <% if @object.collection? %>
          <th><%= t('dri.reports.headings.fixity_failures') %></th>
        <% else %>
          <th><%= t('dri.reports.headings.fixity_result') %></th>
        <% end %>
      </tr>
      <tr>
        <td><%= @fixity[:time] %></td>
        <td><%= @fixity[:verified] %></td>
        <td>
          <% if @object.collection? %>
            <% @fixity[:result].each do |result| %>
              <%= link_to(result, object_history_path(result)) %>
            <% end %>
          <% else %>
            <%= @fixity[:result] %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <h3><%= t('dri.reports.headings.versions') %></h3>

  <% if @versions.present? %>
    <table class="table">
      <tr>
        <th><%= t('dri.reports.headings.date') %></th>
        <th><%= t('dri.reports.headings.committer') %></th>
        <th><%= t('dri.reports.headings.download') %></th>
    </tr>
    <% @versions.each do |version| %>
       <tr>
        <td><%= version[:created] %></td>
        <td><%= version[:committer] %></td>
        <td><%= link_to(version[:version_id], object_version_path(@object.alternate_id, version[:version_id])) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>
