
<div id="dri_login_form_container_id" class="dri_login_form_container">

	<div id="dri_login_form_block_id" class="dri_login_form_block">
	    <h4>We are not currently accepting new accounts. <br /> Please come back in late 2014.</h4>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

			<h2>
				<%= t('.forgot_your_password', :default => 'Forgot your password?') %>
			</h2>
			<div>
				<%= f.label :email, (t :'user_groups.views.shared.email') %><br />
  <%= f.email_field :email %>
			</div>

		<div class="dri_submit">
			<%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions") %>
			
		</div>
<% end %>
		<div class="dri_form_text">
			<%= render "devise/shared/links" %>
		</div>
		<!--  close dri_form_text -->


	</div>




</div>
