<div class='choose-vocab-container'>
  <%
    vocabs = DRI::AuthorityPresenter.viewable_vocabs(source)
    # if no default is set, use the first label
    default ||= vocabs[0][:name]
  %>
  <label for="vocab-dropdown-<%= source %>" class="visually-hidden">Select controlled vocabulary for autocomplete</label>
  <select class='vocab-dropdown' id="vocab-dropdown-<%= source %>">
    <% vocabs.each do |vocab_hash| %>
      <option <%= selected='selected' if vocab_hash[:name] == default %>
              value="<%=vocab_hash[:endpoint]%>">
        <%=vocab_hash[:name]%>
      </option>
    <% end %>
  </select>

  <i class="dri_help_popover fa fa-info-circle fa-1"
     data-bs-title="<%=t('dri.help.autocomplete.title')%>"
     data-bs-content="<%=t('dri.help.autocomplete.content')%>"
     data-bs-trigger="hover"
     data-bs-placement="right">
  </i>
</div>
