<article class="block5" id="<%= document.id.to_s %>">
  <div class="dri_content_block">
    <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
      <%= link_to bookmark_path(document.id), method: :delete, id: "remove_#{document.id}_bookmark" do %>
        <div class="dri_remove_bookmark_button">
          <span class="dri_remove_bookmark">x</span>
          <span class="dri_remove_bookmark_back"><i class="fa fa-circle"></i></span>
        </div>
      <% end %>
    <% end %>

    <%= link_to(search_state.url_for_document(document), document_link_params(document, { counter: document_counter_with_offset(document_counter)} )) do %>
        <h3><%= document['title_tesim'][0] %></h3>
        <div class="dri_image">
          <% present(document, DRI::ImagePresenter) do |images| %>
            <% if @assets && @assets.key?(document.id) %>
              <%= image_tag images.image_for_search(@assets[document.id]), width: "200", alt: "Object " + document['title_tesim'][0].to_s.html_safe + "cover picture" %>
            <% else %>
              <%= image_tag images.image_for_search, width: "200", alt: "Object " + document['title_tesim'][0].to_s.html_safe + "has no cover picture" %>
            <% end %>
          <% end %>
        </div><!-- close image -->
    <% end %>

    <p class="dri_subject">
      <% present(document, DRI::ObjectPresenter) do |presenter| %>
        <% subjects = presenter.subjects %>
        <%= subjects if subjects %>
      <% end %>
    </p>

    <div class="dri_icon">
      <%= render partial: 'shared/object_icons', locals: { document: document } %>
    </div>
    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
