<article class="block5" id="<%= document.id.to_s %>">
  <div class="dri_content_block">
    <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
      <%= link_to bookmark_path(document.id), method: :delete, id: 'remove_bookmark' do %>
        <span class="dri_remove_bookmark">x</span>
        <span class="dri_remove_bookmark_back"><i class="fa fa-circle"></i></span>
      <% end %>
    <% end %>

    <%= link_to(url_for_document(document), document_link_params(document, { counter: document_counter_with_offset(document_counter)} )) do %>
        <h1><%= document[ActiveFedora.index_field_mapper.solr_name('title', :stored_searchable, type: :string).to_sym][0] %></h1>
        <div class="dri_image">
          <% present(document, DRI::ImagePresenter) do |images| %>
            <%= image_tag images.image_for_search, width: "200" %>
          <% end %>
        </div><!-- close image -->
    <% end %>

    <p class="dri_subject">
      <% present(document, DRI::ObjectPresenter) do |presenter| %>
        <% subjects = presenter.subjects %>
        <%= subjects if subjects %>
      <% end %>
    </p>

    <div class="dri_icon">
      <%= render partial: 'shared/object_icons', locals: { document: document } %>
    </div>
    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
