<article class="dri_result_object dri_clearfix" id="<%= document.id.to_s %>">
  <div class="dri_content_list_collection">
    <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
      <%= link_to bookmark_path(document.id), method: :delete, id: 'remove_bookmark' do %>
      <span class="dri_remove_bookmark"><i class="fa fa-bookmark"></i></span>
      <% end %>
    <% end %>

    <!-- close image -->

    <div class="dri_content_list_collection_data">
      <%= link_to(url_for_document(document), document_link_params(document, { counter: document_counter_with_offset(document_counter) })) do %>
          <h4><%= document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym][0] %></h4>
      <% end %>
      <p>
        <%= truncate_description(document[Solrizer.solr_name('description', :stored_searchable, type: :string).to_sym][0], 280).html_safe %>
      </p>
      <p class="dri_publishing_institute">
	    <% @depositing_institute = document.depositing_institute %>
		<% if @depositing_institute.present? %>
		    <%= @depositing_institute.name %>
		<% else %>
			N/A
		<% end %>
      </p>
      <%# If ROOT COLLECTION %>
      <% if document[Solrizer.solr_name('collection_id', :stored_searchable, type: :string)].nil? %>
          <% collection_objects_params = { f: {Solrizer.solr_name('root_collection_id', :facetable).to_sym => [document[Solrizer.solr_name('root_collection_id', :stored_searchable, type: :string)].first]}, mode: "objects", search_field: "all_fields", view: params[:view] } %>
      <% else %>
          <%# If SUB-COLLECTION %>
          <% collection_objects_params = { f: {Solrizer.solr_name('ancestor_id', :facetable).to_sym => [document.id]}, mode: "objects", search_field: "all_fields", view: params[:view] } %>
      <% end %>
      <% controller = (controller_name == 'bookmarks') ? 'catalog' : controller_name %>
      <%= link_to collection_objects_params.merge({ controller: controller, action: :index, mode: "objects", search_field: "all_fields", view: params[:view]}) do %>
          <div class="dri_num_list_objects">
            <span class="dri_object_text_num">
              <%= t('dri.views.catalog.forms.objects_in_collection') + " (" + object_count.to_s + ") " %>
            </span>
            <% unless document.public_read? %>
              <span class="dri_icon_text pull-right"><i class="dri_help_popover fa fa-lock" style="font-size: 1.4em;" data-content="<%= t('dri.help.dri_browse_collection_restricted') %>" data-original-title="<%= t('dri.views.catalog.forms.restricted_asset') %>" data-trigger="hover" data-placement="auto"></i></span>
            <% end %>
          </div>
      <% end %> <!-- close dri_num_objects -->
    </div>
  </div>
  <%= link_to(url_for_document(document), document_link_params(document, { counter: document_counter_with_offset(document_counter) })) do %>
      <div class="dri_image">
        <% present(document, DRI::ImagePresenter) do |images| %>
          <% image = images.cover_image %>
          <% if image %>
            <%= image_tag image, width: "200" %>
          <% else %>
            <%= image_tag "no_image.png", width: "200" %>
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
      <%= link_to 'remove bookmark', bookmark_path(document.id), method: :delete, id: 'remove_bookmark' %>
  <% end %>
  <!-- close content_block -->
</article>
