<article class="block5" id="<%= document.id.to_s %>">
  <div class="dri_content_block_collection">
      <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
        <%= link_to bookmark_path(document.id), method: :delete, id: "remove_#{document.id}_bookmark" do %>
          <div class="dri_remove_bookmark_button">
            <span class="dri_remove_bookmark">x</span>
            <span class="dri_remove_bookmark_back"><i class="fa fa-circle"></i></span>
          </div>
        <% end %>
      <% end %>

      <%= link_to(
            search_state.url_for_document(document),
            document_link_params(document, { counter: document_counter_with_offset(document_counter) })
          ) do %>
        <div class="dri_collection_link">
          
          <div class="dri_collection_image">
            <% present(document, DRI::ImagePresenter) do |images| %>
              <% image = images.cover_image %>
              <% if image %>
                <%= image_tag image, loading: "lazy", alt: "collection cover image"%>
              <% else %>
                <%= image_tag "no_image.png", alt: "default collection cover image" %>
              <% end %>
            <% end %>
          </div>
          <!-- close image -->
          <h3><%= document[:title_tesim][0] %></h3>
          <% if document.root_collection? %>
            <p class="dri_publishing_institute">
              <% unless document.dataset? %>
                <% if document.key?('depositing_institute_ssi') %>
                  <%= document['depositing_institute_ssi'] %>
                <% else %>
                  <%= t('dri.views.collection.depositing_organisation_not_set') %>
                <% end %>
              <% end %>
            </p>
          <% else %>
            <p class="dri_publishing_institute">
              Sub-collection of <%= document['collection_tesim'].first %>
            </p>
          <% end %>
        </div>
    <% end %>

    <% if document.root_collection? %>
      <% collection_objects_params = { f: {'root_collection_id_ssi' => [document['root_collection_id_ssi']]}} %>
    <% else %>
      <%# If SUB-COLLECTION %>
      <% collection_objects_params = { f: {'ancestor_id_ssim' => [document.id]}} %>
    <% end %>

    <% controller = (controller_name == 'bookmarks') ? 'catalog' : controller_name %>
    <%= link_to collection_objects_params.merge({ controller: controller, action: :index, mode: "objects", view: params[:view]}) do %>
        <div class="dri_num_objects">
          <span class="dri_object_text_num"> <%= t('dri.views.catalog.forms.objects_in_collection') + " (#{object_count})" %></span>
          <% if document.visibility == "restricted" %>
              <span class="dri_icon_text float-end"><i class="dri_help_popover fa-solid fa-lock" data-bs-content="<%= t('dri.help.dri_browse_collection_restricted') %>" data-bs-title="<%= t('dri.views.catalog.forms.restricted_asset') %>" data-bs-trigger="hover" data-bs-placement="auto"></i></span>
            <% elsif document.visibility == "logged-in" %>
              <span class="dri_icon_text float-end"><i class="dri_help_popover fa-solid fa-user" data-bs-content="<%= t('dri.help.dri_browse_collection_registered') %>" data-bs-title="<%= t('dri.views.catalog.forms.restricted_asset') %>" data-bs-trigger="hover" data-bs-placement="auto"></i></span>
            <% end %>
        </div>
    <% end %> <!-- close dri_num_objects -->
  </div>
  <!-- close content_block -->
</article>
