<article class="dri_result_object">
		<%= link_to search_state.url_for_document(child.id) do %>
      <div class="dri_sub_collection_content_block">
        <div class="dri_collection_image">
          <% image = child.cover %>
          <% if image %>
              <%= image_tag cover_image_path(child.id),alt:"content image"%>
          <% else %>
              <%= image_tag "no_image.png", alt:"No content image" %>
          <% end %>
        </div>
        <div>
          <h3><%= child.link_text %></h3>
        </div>
        <div class="dri_icon">
          <span class="dri_icon_image">
            <% if child.type == 'Item'%>
              <i class="fa fa-file"></i>
            <% else %>
              <i class="fa fa-folder"></i>
            <% end %>
            &nbsp;<%= child.type %>
          </span>
        </div>
        
        <!-- close dri_icon -->
      </div>
      <!-- close content_block -->
      <% end %>
</article>
