<div class="dri_display_institutes">
	<div class="dri_institutes_title">
		<span><%= t('dri.views.collection.institute.title') %></span>
	</div>

	<% if /edit/.match(request.path) || /newdepositingassociation/.match(request.path) || /newassociation/.match(request.path) %>
	<div id='dri_collection_institutes_dropdown' name='dri_collection_institutes_dropdown'>
		<%= render :partial => "shared/associate_depositing_institute" %>
	</div>
	<% is_edit_page = TRUE %>
	<% end %>
	<!-- close vc_title -->

	<% if @collection_institutes %>
	<ul class="dri_collection_institutes_list">
		<% if @depositing_institute %>
		<li>
			<div class="dri_collection_institutes_item">
				<%if @depositing_institute.logo.blank? && @depositing_institute.url.blank?%>
				<%= @depositing_institute.name %>
				<% elsif @depositing_institute.logo.blank? && !@depositing_institute.url.blank? %>
				<%= link_to @depositing_institute.name, @depositing_institute.url, :target => "_blank" %>
				<% elsif !@depositing_institute.logo.blank? && @depositing_institute.url.blank? %>
				<%= image_tag @depositing_institute.logo, :height => "75px" %>
				<% else %>
				<%= link_to image_tag(@depositing_institute.logo, :height => "75px"), @depositing_institute.url, :target => "_blank" %>
				<% end %>
                <% if is_edit_page %>
                <div>
                    <%= link_to '#', :class => 'remove' do %>
                    <i class="fa fa-times-circle">&nbsp;</i> <%= t('dri.views.objects.forms.delete') %>
                    <% end %>
         
                <% end %>
                </div>
			</div>

		</li>
		<% end %>
		<% @collection_institutes.each do |inst| %>
		<% if @depositing_institute %>
		<% next if @depositing_institute.name == inst.name %>
		<% end %>
		<li>
			<div class="dri_collection_institutes_item">
				<%if inst.logo.blank? && inst.url.blank? %>
				<%= inst.name %>
				<% elsif inst.logo.blank? && !inst.url.blank? %>
				<%= link_to inst.name, inst.url, :target => "_blank" %>
				<% elsif !inst.logo.blank? && inst.url.blank? %>
				<%= image_tag inst.logo, :height => "75px" %>
				<% else %>
				<%= link_to image_tag(inst.logo, :height => "75px"), inst.url, :target => "_blank" %>
				<% end %>
				<% if is_edit_page %>
				<div>
					<%= link_to '#', :class => 'remove' do %>
					<i class="fa fa-times-circle">&nbsp;</i> <%= t('dri.views.objects.forms.delete') %>
					<% end %>
				</div>
				<% end %>
			</div>
		</li>
		<% end %>

	</ul>
	<% end %>

