<% if @document.licence.present? %>
  <dt class="dri_licence"><%= t('dri.views.fields.licence') %></dt>
  <dd class="dri_licence">
    <% if @document.licence.is_a? Array %>
      <%= "#{@document.licence.first}" %>
    <% else %>
      <% if @document.collection? and controller_name=="catalog" %>
        <%= t('dri.views.licences.collection') %>
      <% elsif @document.collection? %>
        <%= t('dri.views.licences.collection_mgr', licence: @document.licence.name) %>
      <% elsif @document.licence.name == "All Rights Reserved" %>
        <%= t('dri.views.licences.all_rights_reserved') %>
      <% elsif @document.licence.name == "Public Domain" %>
        <%= t('dri.views.licences.public_domain') %>
      <% elsif @document.licence.name == "Orphan Work" %>
        <div><%= t('dri.views.licences.unlicenced') %></div>
        <div><%= t('dri.views.licences.orphan_work') %></div>
        <div><%= t('dri.views.licences.more_info', url: @document.licence.url).html_safe %></div>
      <% elsif @document.licence.name == "Educational Use" %>
        <div><%= t('dri.views.licences.educational_use') %></div>
        <div><%= t('dri.views.licences.more_info', url: @document.licence.url).html_safe %></div>
      <% elsif @document.licence.name == "Open COVID Licence 1.1" %>
        <div><%= t('dri.views.licences.open_covid') %></div>
        <div><%= t('dri.views.licences.more_info', url: @document.licence.url).html_safe %></div>
      <% elsif @document.licence.url.present? %>
        <% if @document.licence.logo.present? %>
          <%= link_to @document.licence.url, target: "_blank" do %>
            <span><%= image_tag(@document.licence.logo, class: 'dri_licence_logo', alt:"License logo") %> <%= @document.licence.description %></span>
          <% end %>
        <% else %>
          <%= link_to "#{@document.licence.name} - #{@document.licence.description}", @document.licence.url, target: "_blank" %>
        <% end %>
      <% else %>
        <%= "#{@document.licence.name}" %>
      <% end %>
    <% end %>
  </dd>
<% end %>
