<div id="dri_download_assets" class="<%= generic_file.id %>" style="display:none">
  <div>
    <p>
        <%= t('dri.views.catalog.forms.download_tsandcs_msg', url: main_app.page_path('terms')).html_safe %>
    </p>
  </div>
  <% if surrogate %>
    <div>
       <%= link_to file_download_path(@document.id, generic_file.id, type: 'surrogate') do %>
       <i class="fa fa-download"></i>
     <%= label_tag(:surrogate, t('dri.views.catalog.forms.download_surrogate')) %>
     <% end %>
    </div>
  <% end %>

   <% if @document.read_master? || (can? :edit, @document) %>
   <div>
     <%= link_to file_download_path(@document.id, generic_file.id, type: 'masterfile') do %>
       <i class="fa fa-download"></i>
     <% file_size = number_to_human_size(generic_file['file_size_isi']) %>
     <%= label_tag(:masterfile, "#{t('dri.views.catalog.forms.download_originals')} (#{file_size})") %>
     <% end %>
    </div>
  <% end %>

  <% if current_user %>
    <div>
      <%= link_to object_path(@document, format: 'zip') do %>
        <i class="fa fa-download"></i>
      <%= label_tag(:all, t('dri.views.catalog.forms.download_all', count: displayfiles_count)) %>
      <% end %>
      <div> (<%= t('dri.views.catalog.forms.download_archive_explanation') %>)</div>
    </div>
  <% end %>
</div>
