<footer id="dri_main_footer_id" class="dri_main_footer">

  <div id="dri_footer_address_id" class="dri_footer_address">
    <%= t('dri.footer.ria_address.project') %><br/>
    <%= t('dri.footer.ria_address.name') %><br/>
    <%= t('dri.footer.ria_address.street') %><br/>
    <%= t('dri.footer.ria_address.zip') %><br/>
    <% phoneNum = '+353 1 609 0674' %>
    <% emailAddress = 'dri@ria.ie' %>
    <%= t('dri.footer.contacts.email') + ' ' %>
    <%= link_to emailAddress, "mailto:#{emailAddress}", id: 'contact_email' %><br/><br/>
    <% if current_user && current_user.is_admin? %>
      <%= render partial: "shared/version" %>
    <% end %>
  </div>

  <div id="dri_footer_dsa_logo_id" class="dri_footer_dsa_logo mt-3 d-none d-md-block">
     <%= link_to 'https://www.coretrustseal.org/', id: "dsa_link", target: "_blank" do %>
      <%= image_tag("dri/home/CoreTrustSeal-logo_60x60.png", alt: "Core Trust Seal" ) %>
    <% end %>
  </div>

  <nav id="dri_main_footer_navigation_id"
       class="dri_main_footer_navigation">
    <ul id="dri_main_footer_navigation_links_id"
        class="dri_main_footer_navigation_links">
      <li>
        <span> <%= link_to t('dri.headerlinks.end_user_agreement'), main_app.page_path('terms'), id: "end_user_agreement", class: "muted" %> </span>
      </li>
      <li>
        <span> <%= link_to t('dri.headerlinks.privacy_statement'), 'http://www.dri.ie/dri-privacy-statement', id: "privacy_statement", class: "muted" %> </span>
      </li>
      <li>
        <span> <%= link_to t('dri.headerlinks.licensing_statement'), 'http://www.dri.ie/licensing-statement', id: "licensing_statement", class: "muted" %> </span>
      </li>
      <li>
        <span> <%= link_to t('dri.headerlinks.help'), 'https://dri.ie/general-faq', id: "dri_footer_help", class: "muted" %> </span>
      </li>
      <li>
        <span> <%= link_to t('dri.headerlinks.find_us'), 'http://dri.ie/contact', id: "find_us_footer", class: "muted" %> </span>
      </li>
    </ul>

    <div class="dri_funder_institutes" id="dri_funder_institutes_id">

      <p>&nbsp;</p>
      <p>&nbsp;</p>
        <%= image_tag("dri/home/FunderLogos.png", alt: "Funded by " ) %>
    </div>

  </nav>


</footer>
<!-- close dri_main_footer_id -->
