
<footer id="dri_main_footer_id" class="dri_main_footer">
	<div id="dri_footer_address_id" class="dri_footer_address">
Royal Irish Academy<br>19 Dawson Street<br>Dublin 2<br>Tel +353 1 609 0674<br>Email dri@ria.ie
	</div>
	<nav id="dri_main_footer_navigation_id"
	class="dri_main_footer_navigation">
		<ul id="dri_main_footer_navigation_links_id"
		class="dri_main_footer_navigation_links">
			<li class="selected no_border_right">
				<span> <%= link_to t('dri.headerlinks.privacy'), 'http://www.dri.ie/privacy-statement', :id => "privacy", :class => "muted" %> </span>
			</li>
			<li class="selected no_border_right">
				<span> <%= link_to t('dri.headerlinks.about'), 'http://www.dri.ie/about', :id => "about", :class => "muted" %> </span>
			</li>
			<li class="selected no_border_right">
				<span> <%= link_to t('dri.headerlinks.contact'), 'http://www.dri.ie/contact', :id => "contact", :class => "muted" %> </span>
			</li>
			<li class="selected no_border_right">
				<span> <%= link_to t('dri.headerlinks.sitemap'), '#', :id => "sitemap" %> </span>
			</li>
		</ul>
	</nav>
	<div class="dri_funder_institutes">
      <%= image_tag("dri/dri_funder_logos.png", :alt=>"funder logos" ) %>

	</div>

</footer>
<!-- close dri_main_footer_id -->
