
<footer id="dri_main_footer_id" class="dri_main_footer">
  <div id="dri_footer_address_id" class="dri_footer_address">
    <%= t('dri.footer.ria_address.project') %><br/>
    <%= t('dri.footer.ria_address.name') %><br/>
    <%= t('dri.footer.ria_address.street') %><br/>
    <%= t('dri.footer.ria_address.zip') %><br/>
    <% phoneNum = '+353 1 609 0674' %>
    <%= t('dri.footer.contacts.phone') + ' ' + phoneNum %><br/>
    <% emailAddress = 'info@dri.ie' %>
    <%= t('dri.footer.contacts.email') + ' ' %>
    <%= link_to emailAddress, "mailto:#{emailAddress}" %>
  </div>
  <nav id="dri_main_footer_navigation_id"
       class="dri_main_footer_navigation">
    <ul id="dri_main_footer_navigation_links_id"
        class="dri_main_footer_navigation_links">
      <li class="selected no_border_right">
      <span> <%= link_to t('dri.headerlinks.end_user_agreement'), "#{main_app.root_url}/pages/terms", :id => "privacy", :class => "muted" %> </span>
      </li>
      <li class="selected no_border_right">
        <span><%= link_to t('dri.headerlinks.about'), "#{main_app.root_url}/pages/about_us", :id => "about", :class => "muted" %></span>
      </li>
    </ul>
  </nav>
  <div class="dri_funder_institutes">
    <%= image_tag("dri/dri_funder_logos.png", :alt=>"funder logos" ) %>
  </div>

</footer>
<!-- close dri_main_footer_id -->
