<style type="text/css">
    .form-control {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .ctrlfield-tag{
        width: 28px;
    }
    .datafield-tag {
        width: 28px;
    }
    .input-sm {
        width: 35px;
    }
    span.required {
        color: red;
        font-size: 20px;
    }
    .tab-content {
        border: solid;
        border-color: #ddd;
        border-top: none;
        border-width: 1px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
</style>
<% @marc = DRI::Metadata::Marc.marc_vocabulary %>

<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tab00X" role="tab" data-toggle="tab">C</a></li>
  <li><a href="#tab0XX" role="tab" data-toggle="tab">0</a></li>
  <li><a href="#tab1XX" role="tab" data-toggle="tab">1</a></li>
  <li><a href="#tab2XX" role="tab" data-toggle="tab">2</a></li>
  <li><a href="#tab3XX" role="tab" data-toggle="tab">3</a></li>
  <li><a href="#tab4XX" role="tab" data-toggle="tab">4</a></li>
  <li><a href="#tab5XX" role="tab" data-toggle="tab">5</a></li>
  <li><a href="#tab6XX" role="tab" data-toggle="tab">6</a></li>
  <li><a href="#tab7XX" role="tab" data-toggle="tab">7</a></li>
  <li><a href="#tab8XX" role="tab" data-toggle="tab">8</a></li>
  <li><a href="#tab9XX" role="tab" data-toggle="tab">9</a></li>
</ul>

<div class="tab-content">
    <%= content_tag(:div, :class => 'tab-pane active', :id => "tab00X") do %>
        <fieldset id="leader">
          <%= f.label "leader:" %>
          <%= f.text_field "leader][", :value=>@object.leader, :class => "edit span6 dri-textfield form-control" %><br/>
        </fieldset>

        <fieldset id="controlfields" class="input-group-sm">
          <%= f.label "controlfields" %></br>
          <% @marc[:controlfield].each_with_index do |i, index| %>
              <fieldset class="controlfield">
                <%= i[1][:tag] %>
                <%= link_to_loc(i[1][:tag]) %>
                <%= f.label i[1][:label] %>
                <% if i[1][:multivalue] %>
                    <a class="add-ctrlfield" model-name="batch">
                      <i class="fa fa-plus"></i>
                    </a>
                <% end %>
                <br>
                <%# TODO: Why is index in initialized df 0? for the moment I reindex after DOM is loaded %>
                <% @object.controlfield.each_index do |c| %>
                    <%# Initialize non existing ctrlfields %>
                    <% if not @object.controlfield_tag.include? i[1][:tag] %>
                        <% @object.controlfield(c).controlfield_tag = i[1][:tag] %>
                        <% @object.controlfield(c).val = "" %>
                    <% end %>
                    <% next if i[1][:tag] != @object.controlfield(c).controlfield_tag.first %>
                    <fieldset class="subfield">
                      <%= f.hidden_field "controlfield][#{c}][controlfield_tag][", :value=>@object.controlfield(c).controlfield_tag.first, :class => "form-control span6 ctrlfield-tag" %><br>
                      <%# Controlfields' Subfield %>
                      <i class="fa fa-sort-asc"></i>
                      <%= i[1][:subfield][:label] %>
                      <%= f.text_field "controlfield][#{c}][controlfield_value][", :value=>@object.controlfield[c], :class => "form-control span6 ctrlfield-value" %>
                      <a class="destroy-ctrlfield" model-name="batch"><i class="fa fa-times"></i><br /></a>
                    </fieldset>
                <% end %>
              </fieldset>
          <% end %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab0XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "0XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab1XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "1XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab2XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "3XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab3XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "4XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab4XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "2XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab5XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "5XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab6XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "6XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab7XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "7XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab8XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "8XX" } %>
        </fieldset>
    <% end %>
    <%= content_tag(:div, :class => 'tab-pane', :id => "tab9XX") do %>
        <fieldset class="datafields">
            <%= render partial: "shared/form_metadata_marc_datafields", locals: {f: f, tab: "9XX" } %>
        </fieldset>
    <% end %>
</div>
<!--Collection related:-->
<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
