<style type="text/css">
    .form-control {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .ctrlfield-tag{
        width: 28px;
    }

</style>
<% @marc = DRI::Metadata::Marc.marc_vocabulary %>
<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<fieldset id="leader">
  <%= f.label "leader:" %>
  <%= f.text_field "leader][", :value=>@object.leader, :class => "edit span6 dri-textfield" %><br/>
</fieldset>

<fieldset id="controlfields" class="input-group-sm">
  <%= f.label "controlfield" %></br>
  <% @marc[:controlfield].each_with_index do |i, index| %>
      <fieldset class="controlfield">
        <%= f.label i[1][:tag], class: "ctrlfield-tag-label" %>
        <%= f.label i[1][:label] %> <i class="fa fa-times"></i> <a class="add-fieldset" model-name="batch">
        <% if i[1][:multivalue] %>
            <i class="fa fa-plus"></i>
        <% end %>
        <br /></a>
        <%# TODO: Why is index in initialized df 0? for the moment I reindex after DOM is loaded %>
        <% @object.controlfield.each_index do |c| %>
            <!--Initialize non existing ctr fields-->
            <% if not @object.controlfield_tag.include? i[1][:tag] %>
                <% @object.controlfield(c).controlfield_tag = i[1][:tag] %>
                <% @object.controlfield(c).val = "" %>
            <% end %>
            <% next if i[1][:tag] != @object.controlfield(c).controlfield_tag.first %>
            <fieldset class="subfield">
              <%= f.hidden_field "controlfield][#{c}][controlfield_tag][", :value=>@object.controlfield(c).controlfield_tag.first, :class => "edit dri-textfield ctrlfield-tag" %><br>
              <!--Controlfields' Subfield-->
              <i class="fa fa-sort-asc"></i>
              <%= f.label i[1][:subfield][:label] %>
              <%= f.text_field "controlfield][#{c}][controlfield_value][", :value=>@object.controlfield[c], :class => "edit dri-textfield ctrlfield-value" %>
              <a class="destroy-fieldset" model-name="batch"><i class="fa fa-times"></i><br /></a>
            </fieldset>
        <% end %>
      </fieldset>
  <% end %>
</fieldset>

<fieldset id="datafields">
  <%= f.label "datafields:" %></br>
  <% @marc[:datafield].each_with_index do |i, index| %>
      <fieldset class="datafield">
        <%# Render empty df with sf  %>
        <% if not @object.datafield_tag.include? i[0] %>
            <%= f.label "tag:" %>
            <%= text_field_tag "batch[datafield][#{index}][datafield_tag][", i[1][:tag], :id => "batch_datafield][#{index}][datafield_tag][", :class => "edit dri-textfield datafield-tag" %>

            <%= f.label "ind1:" %>
            <%= text_field_tag "batch[datafield][#{index}][datafield_ind1][", "", :id => "batch_datafield][#{index}][datafield_ind1][", :class => "edit dri-textfield ind1-tag"%>

            <%= f.label "ind2:" %>
            <%= text_field_tag "batch[datafield][#{index}][datafield_ind2][", "", :id => "batch_datafield][#{index}][datafield_ind2][", :class => "edit dri-textfield ind2-tag"%>

            <fieldset class="subfield">
                <% i[1][:subfield].each_with_index do |sf, indexx| %>
                    <%= f.text_field "datafield]][#{indexx}][subfield][][subfield_code][", :value=>sf[1][:code], :class => "edit dri-textfield subfield-tag" %>
                    <%= f.text_field "datafield]][#{indexx}][subfield][][subfield_value][", :value=>"", :class => "edit dri-textfield subfield-value" %></br>
                <% end  %>
            </fieldset>
        <% end %>
        <%# end %>

        <% @object.datafield.each_index do |d| %>

            <% next if i[1][:tag] != @object.datafield(d).tag.first %>

              <%= f.label "tag:" %>
              <%= f.text_field "datafield][#{d}][datafield_tag][", :value=>@object.datafield(d).tag.first, :class => "edit dri-textfield datafield-tag" %>

              <%= f.label "ind1:" %>
              <%= f.text_field "datafield][#{d}][datafield_ind1][", :value=>@object.datafield(d).ind1.first, :class => "edit dri-textfield ind1-tag" %>
              <%= f.label "ind2:" %>
              <%= f.text_field "datafield][#{d}][datafield_ind2][", :value=>@object.datafield(d).ind2.first, :class => "edit dri-textfield ind2-tag" %></br>

            <fieldset class="subfield">
            <% @xml_sf_pool = [] %>
              <% @object.datafield(d).subfield.each_index do |s| %>
                  <%= f.label "subfield:" %>
                  <%= f.text_field "datafield]][#{d}][subfield][#{s}][subfield_code][", :value=>@object.datafield(d).subfield(s).code.first, :class => "edit dri-textfield subfield-tag" %>
                  <%= f.text_field "datafield]][#{d}][subfield][#{s}][subfield_value][", :value=>@object.datafield(d).subfield[s], :class => "edit dri-textfield subfield-value" %></br>

                  <%
                     @xml_sf_pool << @object.datafield(d).subfield(s).code.first
                  %>
              <% end %>

                <% @yaml_sf_pool = i[1][:subfield].keys %>
                <% @diff = [] %>
                <% @diff = @yaml_sf_pool - @xml_sf_pool %>
                <% if (@diff).size > 0 %>
                  <% @diff.each do |sf| %>
                      <%= f.text_field "datafield][#{index}][subfield][][subfield_code][", :value=>sf, :class => "edit dri-textfield subfield-tag" %>
                      <%= f.text_field "datafield][#{index}][subfield][][subfield_value][", :value=>"", :class => "edit dri-textfield subfield-value" %></br>
                  <% end %>
                <% end  %>

            </fieldset>
        <% end %>
      </fieldset>
  <% end %>
</fieldset>

<!--Collection related:-->
<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>

      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
