<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<fieldset id="title">
  <%= f.label "#{t('dri.views.fields.title')} 245$a:" %>
  <% @object.title.each do |i| %>
      <%= f.text_field "title][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Title"><%= t('dri.views.objects.forms.add_title') %></a></p>
</fieldset>

<fieldset id="type">
  <%= f.label "#{t('dri.views.fields.types')} leader:" %>
  <% @object.type.each do |i| %>
      <%= f.text_field "type][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Type"><%= t('dri.views.objects.forms.add_type') %></a></p>
</fieldset>

<fieldset id="description">
  <%= f.label "#{t('dri.views.fields.description')} 500$a:" %>
  <% @object.description.each do |i| %>
      <%= f.text_area "description][", :value=>i, :class => "edit span6 dri-textarea" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Description"><%= t('dri.views.objects.forms.add_description') %></a></p>
</fieldset>

<fieldset id="creator">
  <%= f.label "#{t('dri.views.fields.creator')} 100$a:" %>
  <% @object.creator.each do |i| %>
      <%= f.text_area "creator][", :value=>i, :class => "edit span6 dri-textarea" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Creator"><%= t('dri.views.objects.forms.add_creator') %></a></p>
</fieldset>

<fieldset id="creation_date">
  <%= f.label "#{t('dri.views.fields.creation_date')} 260$c:" %>
  <% @object.creation_date.each do |i| %>
      <%= f.text_field "creation_date][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Creation Date"><%= t('dri.views.objects.forms.add_creation_date') %></a></p>
</fieldset>

<!--Marc Field from Vocabulary-->
<%# TODO: move DRI::Vocabulary::marcDatafields to controller if accepted %>
<%  DRI::Vocabulary::marcDatafields.each do |df| %>
    <fieldset id="<%= 'sf_' + df[:code] + df[:sf] %>">
      <%= f.label df[:code]+ '$' + df[:sf] %>
      <% @object.send("sf_" + df[:code] + df[:sf]).each do |i| %>
          <%= f.text_field "#{'sf_' + df[:code] + df[:sf]}][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
      <% end %>
      <p class="add-text-field"><a href="#" model-name="batch" title="Add Title"><%= 'Add ' + df[:code] + '$' + df[:sf] %></a></p>
    </fieldset>
<% end %>

<fieldset id="rights">
  <%= f.label "#{t('dri.views.fields.rights')} 506$a:" %>
  <% @object.rights.each do |i| %>
      <%= f.text_area "rights][", :value=>i, :class => "edit span6 dri-textarea" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Rights"><%= t('dri.views.objects.forms.add_rights') %></a></p>
</fieldset>

<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>

      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
