<style type="text/css">
    .form-control {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .ctrlfield-tag{
        width: 28px;
    }

</style>
<% @marc = DRI::Metadata::Marc.marc_vocabulary %>
<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<fieldset id="type">
  <%= f.label "#{t('dri.views.fields.types')}:" %>
  <% @object.type.each do |i| %>
      <%= f.text_field "type][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Type"><%= t('dri.views.objects.forms.add_type') %></a></p>
</fieldset>

<fieldset id="controlfields" class="input-group-sm">
  <%= f.label "controlfield" %></br>
  <% @marc[:controlfield].each_with_index do |i, index| %>
      <fieldset class="controlfield">
      <%= f.label i[1][:tag], class: "ctrlfield-tag-label" %>
      <%= f.label i[1][:label] %> <i class="fa fa-times"></i> <a class="add-fieldset" model-name="batch">
        <% if i[1][:multivalue] %>
            <i class="fa fa-plus"></i>
        <% end %>
        <br /></a>
          <%# TODO: Why is index in initialized df 0? for the moment I reindex after DOM is loaded %>
          <% @object.controlfield.each_index do |c| %>
            <!--Initialize non existing ctr fields-->
            <% if not @object.controlfield_tag.include? i[1][:tag] %>
                <% @object.controlfield(c).controlfield_tag = i[1][:tag] %>
                <% @object.controlfield(c).val = "" %>
            <% end %>
            <% next if i[1][:tag] != @object.controlfield(c).controlfield_tag.first %>
                <fieldset class="subfield">
                  <%= f.hidden_field "controlfield][#{c}][controlfield_tag][", :value=>@object.controlfield(c).controlfield_tag.first, :class => "edit dri-textfield ctrlfield-tag" %><br>
                  <!--Controlfields' Subfield-->
                  <i class="fa fa-sort-asc"></i>
                  <%= f.label i[1][:subfield][:label] %>
                  <%= f.text_field "controlfield][#{c}][controlfield_value][", :value=>@object.controlfield[c], :class => "edit dri-textfield ctrlfield-value" %>
                  <a class="destroy-fieldset" model-name="batch"><i class="fa fa-times"></i><br /></a>
                </fieldset>
          <% end %>
      </fieldset>
<% end %>
</fieldset>

<fieldset id="datafield">
  <%= f.label "datafield:" %></br>
  <% @object.datafield.each_index do |i| %>
    <%= f.label "tag:" %>
    <%= f.text_field "datafield][#{i}][datafield_tag][", :value=>@object.datafield(i).tag.first, :class => "edit dri-textfield" %>
    <%= f.label "ind1:" %>
    <%= f.text_field "datafield][#{i}]datafield_ind1][", :value=>@object.datafield(i).ind1.first, :class => "edit dri-textfield" %>
    <%= f.label "ind2:" %>
    <%= f.text_field "datafield][#{i}]datafield_ind2][", :value=>@object.datafield(i).ind2.first, :class => "edit dri-textfield" %></br>

    <% @object.datafield(i).subfield.each_index do |s| %>
      <%= f.label "subfield:" %>
      <%= f.text_field "datafield]][#{i}][subfield][#{s}][subfield_code][", :value=>@object.datafield(i).subfield(s).code.first, :class => "edit dri-textfield" %>
      <%= f.text_field "datafield]][#{i}][subfield][#{s}][subfield_value][", :value=>@object.datafield(i).subfield[s], :class => "edit dri-textfield" %></br>
    <% end %>

  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Datafield">Add Datafield</a></p>
</fieldset>

<!--Collection related:-->
<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>

      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
