<!-- <h4><%= t('dri.views.objects.legends.metadata') %></h4>-->


<fieldset id="title" class="dri_title_metadata_fieldset">
	<% if (params[:controller] == "collections" ) %>
	<span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.collection_title')}"%><i class="dri_help_popover fa fa-info-circle fa-1 red" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
	<% else %>
	<span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.title')}"%><i class="dri_help_popover fa fa-info-circle fa-1 red" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
	<% end%>
	<% @object.title.each do |i| %>
	<%= f.text_field "title][", :value=>i, :class => "edit span6 dri-textfield", :required=>'required' %><a class="destructive" model-name="batch">&nbsp;&nbsp;<i class="fa fa-times-circle">&nbsp;</i> <%= t('dri.views.objects.forms.delete') %></a>
	<% end %>
	<p class="add-text-field">
		<i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Title"><%= t('dri.views.objects.forms.add_title') %></a>
	</p>
</fieldset>

<% if (params[:controller] == "collections") %>

    <div class="dri_file_upload">
            <% unless @object[:cover_image].blank? %>
            <div class="dri_cover_image_img">

            <%= image_tag @object[:cover_image], :width=>"228" unless @object[:cover_image].blank? %>            <h2>Current Image</h2></div>
            <% end %>
            <a class='btn btn-default' href='javascript:;'>
                <h4 class="dri_upload_file_text"><i class="fa fa-upload">&nbsp;</i><%= "#{t('dri.views.fields.cover_image')}"%></h4>
                <p>(228 x 128px)</p>
                
                <%= f.file_field :cover_image, :class => "edit span6",:onchange=>'coverImageFileUploadHelper($(this));', :accept => 'image/*'  %>
                 <h4 class='dri_cover_image_file' id="cover_image">No File</h4>
            </a>


    </div>

<% end %>

<fieldset id="description" class="dri_description_metadata_fieldset dri_form_multiline_block">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.description')}"%><i class="dri_help_popover fa fa-info-circle fa-1 red" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.description.each do |i| %>
      <%= f.text_area "description][", :value=>i, :class => "edit span6 dri-textarea", :required=>'required'  %><a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Description"><%= t('dri.views.objects.forms.add_description') %></a></p>
</fieldset>
<%# we don't want the Collection type to be output as we don't want it modified %>
<% if  @object.type.first == 'Collection' %>
<fieldset id="type" class="dri_no_display">
<% else %>
<fieldset id="type">
<% end %>
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.types')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% if params[:is_sub_collection] == 'true' %>
  <%= f.hidden_field "type][", :value=>'Collection' %>
  <% end %>
  <% if @object.type.count == 0%>
      <%= f.text_field "type][", :value=>'', :class => "edit span6 dri-textfield"  %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <% @object.type.each do |i| %>
      <%= f.text_field "type][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Type"><%= t('dri.views.objects.forms.add_type') %></a></p>
</fieldset>

<fieldset id="rights" class="dri_rights_metadata_fieldset dri_form_multiline_block">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.rights')}"%><i class="dri_help_popover fa fa-info-circle fa-1 red" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% if @object.rights.count == 0 %>
      <%= f.text_area "rights][", :value=>'', :class => "edit span6 dri-textarea", :required=>'required'  %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <% @object.rights.each do |i| %>
      <%= f.text_area "rights][", :value=>i, :class => "edit span6 dri-textarea", :required=>'required'  %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Rights"><%= t('dri.views.objects.forms.add_rights') %></a></p>
</fieldset>
<fieldset id="creation_date">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.creation_date')}"%><i class="dri_help_popover fa fa-info-circle fa-1 red" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% if @object.creation_date.count == 0 %>
      <%= f.text_field "creation_date][", :value=>'', :class => "edit span6 dri-textfield", :required=>'required', 'data-provide' => 'datepicker', 'data-date-force-parse' => 'false', 'data-date-min-view-mode' => 'days', 'data-date-format'=>'yyyy-mm-dd' %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <% @object.creation_date.each do |i| %>
      <%= f.text_field "creation_date][", :value=>i, :class => "edit span6 dri-textfield", :required=>'required' , 'data-provide' => 'datepicker', 'data-date-force-parse' => 'false', 'data-date-min-view-mode' => 'days', 'data-date-format'=>'yyyy-mm-dd' %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Creation Date"><%= t('dri.views.objects.forms.add_creation_date') %></a></p>
</fieldset>
<fieldset id="roles">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.roles')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% qdc_extract_people.each do |key, value_array| %>
      <% value_array.each do |value| %>
          <select id="batch_roles][type][" name="batch[roles][type][]">
            <% @qdc_people_select_list.each do |optgroup| %>
                <optgroup label="<%= optgroup[0] %>">
                  <% optgroup[1].each do |opt| %>
                      <% if opt[1] == key %>
                          <option value="<%= opt[1] %>" selected="selected"><%= opt[0] %></option>
                      <% else %>
                          <option value="<%= opt[1] %>"><%= opt[0] %></option>
                      <% end %>
                  <% end %>
                </optgroup>
            <% end %>
          </select>
          <%= f.text_field "roles][name][", :value=>value, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
      <% end %>
  <% end %>
  <p class="add-person-fields"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Role"><%= t('dri.views.objects.forms.add_role') %></a></p>
</fieldset>
<fieldset id="published_date">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.published_date')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.published_date.each do |i| %>
      <%= f.text_field "published_date][", :value=>i, :class => "edit span6 dri-textfield", :required=>'required', 'data-provide' => 'datepicker', 'data-date-force-parse' => 'false', 'data-date-min-view-mode' => 'days', 'data-date-format'=>'yyyy-mm-dd'  %><a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Published Date"><%= t('dri.views.objects.forms.add_published_date') %></a></p>
</fieldset>
<fieldset id="subject">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.subjects')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.subject.each do |i| %>
      <%= f.text_field "subject][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Subject"><%= t('dri.views.objects.forms.add_subject') %></a></p>
</fieldset>
<fieldset id="geographical_coverage">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.geographical_coverages')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.geographical_coverage.each do |i| %>
      <%= f.text_field "geographical_coverage][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Place"><%= t('dri.views.objects.forms.add_place') %></a></p>
</fieldset>
<fieldset id="temporal_coverage">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.temporal_coverages')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.temporal_coverage.each do |i| %>
      <%= f.text_field "temporal_coverage][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Subject (Era)"><%= t('dri.views.objects.forms.add_temporal_coverage') %></a></p>
</fieldset>
<fieldset id="coverage">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.coverages')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.coverage.each do |i| %>
      <%= f.text_field "coverage][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Coverage"><%= t('dri.views.objects.forms.add_coverage') %></a></p>
</fieldset>
<fieldset id="language">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.languages')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.language.each do |i| %>
      <%= f.text_field "language][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Language"><%= t('dri.views.objects.forms.add_language') %></a></p>
</fieldset>
<fieldset id="identifier">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.identifiers')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.identifier.each do |i| %>
      <%= f.text_field "identifier][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Identifier"><%= t('dri.views.objects.forms.add_identifier') %></a></p>
</fieldset>
<fieldset id="relation">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.relations')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.relation.each do |i| %>
      <%= f.text_field "relation][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Relation"><%= t('dri.views.objects.forms.add_relation') %></a></p>
</fieldset>
<fieldset id="source">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.sources')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.source.each do |i| %>
      <%= f.text_field "source][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Source"><%= t('dri.views.objects.forms.add_source') %></a></p>
</fieldset>
<fieldset id="format">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.formats')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <% @object.format.each do |i| %>
      <%= f.text_field "format][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch">&nbsp;<i class="fa fa-times-circle"></i> <%= t('dri.views.objects.forms.delete') %></a>
  <% end %>
  <p class="add-text-field"><i class="fa fa-plus">&nbsp;</i><a model-name="batch" title="Add Format"><%= t('dri.views.objects.forms.add_format') %></a></p>
</fieldset>



<fieldset class="dri_licence_metadata_fieldset" id="licence">
  <span class="dri_metadata_label_span"><%= f.label "#{t('dri.views.fields.licence')}"%><i class="dri_help_popover fa fa-info-circle fa-1" data-content="<%= t('dri.help.dummy_text') %>" data-original-title="<%= t('dri.help.dummy_title')%>" data-trigger="hover" data-placement="right"></i></span>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>

