<fieldset id="metadata">
  <legend><%= t('dri.views.objects.legends.metadata') %></legend>
  <%= f.label "#{t('dri.views.objects.forms.title')}:" %>
  <%= f.text_field :title, :class => "edit span6", :required => "true" %>
  <%= f.label "#{t('dri.views.objects.forms.description')}:" %>
  <%= f.text_area :description, :class => "edit span6" %>
  <%= f.label "#{t('dri.views.objects.forms.broadcast_date')}:" %>
  <%= f.text_field :broadcast_date, :class => "edit span6", :required => "true" %>
  <%= f.label "#{t('dri.views.objects.forms.rights')}:" %>
  <%= f.text_field :rights, :class => "edit span6", :required => "true" %>
  
  <% if action.eql?("update") %>
    <%= f.label "#{t('dri.views.objects.forms.collection')}:" %>
    <%= f.select :collection_id,  options_for_select(get_collections{ |c| [c.title, c.pid] }, get_current_collection(@document_fedora)), :class => "edit span6" %>
  <% end %>

</fieldset>
<fieldset id="presenter">
  <%= f.label "#{t('dri.views.objects.forms.presenters')}:" %>
  <% @document_fedora.presenter.each do |i| %>
    <%= f.text_field "presenter][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Presenter"><%= t('dri.views.objects.forms.add_presenter') %></a></p>
</fieldset>
<fieldset id="producer">
  <%= f.label "#{t('dri.views.objects.forms.producers')}:" %>
  <% @document_fedora.producer.each do |i| %>
    <%= f.text_field "producer][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Producer"><%= t('dri.views.objects.forms.add_producer') %></a></p>
</fieldset>
<fieldset id="guest">
  <%= f.label "#{t('dri.views.objects.forms.guests')}:" %>
  <% @document_fedora.guest.each do |i| %>
    <%= f.text_field "guest][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Guest"><%= t('dri.views.objects.forms.add_guest') %></a></p>
</fieldset>
<fieldset id="subject">
  <%= f.label "#{t('dri.views.objects.forms.subjects')}:" %>
  <% @document_fedora.subject.each do |i| %>
    <%= f.text_field "subject][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Subject"><%= t('dri.views.objects.forms.add_subject') %></a></p>
</fieldset>
<fieldset id="geographical_coverage">
  <%= f.label "#{t('dri.views.objects.forms.places')}:" %>
  <% @document_fedora.geographical_coverage.each do |i| %>
    <%= f.text_field "geographical_coverage][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Place"><%= t('dri.views.objects.forms.add_place') %></a></p>
</fieldset>
<fieldset id="language">
  <%= f.label "#{t('dri.views.objects.forms.language')}:" %>
  <%= f.select :language, [['English', 'en'],['Irish', 'ga']],:class => "edit span6" %>
</fieldset>
<fieldset id="source">
  <%= f.label "#{t('dri.views.objects.forms.sources')}:" %>
  <% @document_fedora.source.each do |i| %>
    <%= f.text_field "source][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Source"><%= t('dri.views.objects.forms.add_source') %></a></p>
</fieldset>
