<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<fieldset id="type">
  <%= f.label "#{t('dri.views.fields.types')} leader:" %>
  <% @object.type.each do |i| %>
      <%= f.text_field "type][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Type"><%= t('dri.views.objects.forms.add_type') %></a></p>
</fieldset>

<!--Marc DataFields from Vocabulary-->
<%  DRI::Vocabulary::marcDatafields.each do |df| %>
    <% df[:sf].each do |sf| %>
    <% sf_code = "sf_" + df[:code] + sf %>
    <% df_code = df[:code]+ '$' + sf %>
    <fieldset id="<%= sf_code %>">
      <%= f.label df_code %>
      <!-- Initialize empty mandatory subfields-->
      <% subfield = @object.send(sf_code) %>
      <% if ["sf_245a", "sf_500a", "sf_100a", "sf_245a", "sf_260c", "sf_100a", "sf_506a", ].include? sf_code and subfield.empty? %>
          <% subfield << "" %>
      <% end %>
      <!--Render fields-->
      <% subfield.each do |i| %>
          <%= custom_label_for_marc_field(df_code)  %>
          <%= f.text_field "#{sf_code}][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
      <% end %>
      <p class="add-text-field"><a href="#" model-name="batch" title="Add Title"><%= 'Add ' + df_code %></a></p>
    </fieldset>
  <% end %>
<% end %>

<!--Collection related:-->
<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>

      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
