<fieldset id="metadata">
  <% if action.eql?("update") && params[:controller] != "collections" %>
      <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
      <%= f.select :governing_collection_id,  options_for_select(@collections, governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>
</fieldset>

<fieldset id="type">
  <%= f.label "#{t('dri.views.fields.types')}:" %>
  <% @object.type.each do |i| %>
      <%= f.text_field "type][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="batch"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Type"><%= t('dri.views.objects.forms.add_type') %></a></p>
</fieldset>

<fieldset id="controlfield">
  <%= f.label "controlfield" %></br>
  <% @object.controlfield.each_index do |c| %>
    <%= f.label "tag:" %>
    <%= f.text_field "controlfield][#{c}][controlfield_tag][", :value=>@object.controlfield(c).controlfield_tag.first, :class => "edit dri-textfield" %>
    <%= f.text_field "controlfield][#{c}][controlfield_value][", :value=>@object.controlfield[c], :class => "edit dri-textfield" %></br>
  <% end %>
</fieldset>

<fieldset id="datafield">
  <%= f.label "datafield:" %></br>
  <% @object.datafield.each_index do |i| %>
    <%= f.label "tag:" %>
    <%= f.text_field "datafield][#{i}][datafield_tag][", :value=>@object.datafield(i).tag.first, :class => "edit dri-textfield" %>
    <%= f.label "ind1:" %>
    <%= f.text_field "datafield][#{i}]datafield_ind1][", :value=>@object.datafield(i).ind1.first, :class => "edit dri-textfield" %>
    <%= f.label "ind2:" %>
    <%= f.text_field "datafield][#{i}]datafield_ind2][", :value=>@object.datafield(i).ind2.first, :class => "edit dri-textfield" %></br>

    <% @object.datafield(i).subfield.each_index do |s| %>
      <%= f.label "subfield:" %>
      <%= f.text_field "datafield]][#{i}][subfield][#{s}][subfield_code][", :value=>@object.datafield(i).subfield(s).code.first, :class => "edit dri-textfield" %>
      <%= f.text_field "datafield]][#{i}][subfield][#{s}][subfield_value][", :value=>@object.datafield(i).subfield[s], :class => "edit dri-textfield" %></br>
    <% end %>

  <% end %>
  <p class="add-text-field"><a href="#" model-name="batch" title="Add Datafield">Add Datafield</a></p>
</fieldset>

<!--Collection related:-->
<fieldset id="cover_image">
  <% if (params[:controller] == "collections" ) %>
      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
      <%= f.file_field :cover_image, :class => "edit span6" %>
      <%= image_tag @object[:cover_image].first, :width=>"230", :height=>"139" unless @object[:cover_image].blank? %>

      <%= f.label "#{t('dri.views.fields.cover_image')}:" %>
  <% end %>
</fieldset>

<fieldset id="licence">
  <%= f.label "#{t('dri.views.fields.licence')}:" %>
  <%= f.select :licence, options_for_select(@licences, @object[:licence]), :class => "edit span6" %>
</fieldset>
