<fieldset id="metadata">
  <legend><%= t('dri.views.objects.legends.metadata') %></legend>
  <%= f.label "#{t('dri.views.objects.forms.title')}:" %>
  <%= f.text_field :title, :class => "edit span6", :required => "true" %>
  <%= f.label "#{t('dri.views.objects.forms.description')}:" %>
  <%= f.text_area :description, :class => "edit span6" %>
  <%= f.label "#{t('dri.views.objects.forms.creation_date')}:" %>
  <%= f.text_field :creation_date, :class => "edit span6", :required => "true" %>
  <%= f.label "#{t('dri.views.objects.forms.rights')}:" %>
  <%= f.text_field :rights, :class => "edit span6", :required => "true" %>

  <% if action.eql?("update") %>
    <%= f.label "#{t('dri.views.objects.forms.governing_collection')}:" %>
    <%= f.select :governing_collection_id,  options_for_select(get_collections{ |c| [c.title, c.pid] }, get_governing_collection(@object)), :prompt => t('dri.views.ingest.forms.collection_prompt'), :class => "edit span6" %>
  <% end %>

</fieldset>
<fieldset id="author">
  <%= f.label "#{t('dri.views.objects.forms.authors')}:" %>
  <% @object.author.each do |i| %>
    <%= f.text_field "author][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Author"><%= t('dri.views.objects.forms.add_author') %></a></p>
</fieldset>
<fieldset id="editor">
  <%= f.label "#{t('dri.views.objects.forms.editors')}:" %>
  <% @object.editor.each do |i| %>
    <%= f.text_field "editor][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Editor"><%= t('dri.views.objects.forms.add_editor') %></a></p>
</fieldset>
<fieldset id="subject">
  <%= f.label "#{t('dri.views.objects.forms.subjects')}:" %>
  <% @object.subject.each do |i| %>
    <%= f.text_field "subject][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Subject"><%= t('dri.views.objects.forms.add_subject') %></a></p>
</fieldset>
<fieldset id="geographical_coverage">
  <%= f.label "#{t('dri.views.objects.forms.places')}:" %>
  <% @object.geographical_coverage.each do |i| %>
    <%= f.text_field "geographical_coverage][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Place"><%= t('dri.views.objects.forms.add_place') %></a></p>
</fieldset>
<fieldset id="language">
  <%= f.label "#{t('dri.views.objects.forms.language')}:" %>
  <%= f.select :language, [['English', 'en'],['Irish', 'ga']],:class => "edit span6" %>
</fieldset>
<fieldset id="source">
  <%= f.label "#{t('dri.views.objects.forms.sources')}:" %>
  <% @object.source.each do |i| %>
    <%= f.text_field "source][", :value=>i, :class => "edit span6 dri-textfield" %> <a class="destructive" model-name="dri_model"><%= t('dri.views.objects.forms.delete') %></a><br />
  <% end %>
  <p class="add-text-field"><a href="#" model-name="dri_model" title="Add Source"><%= t('dri.views.objects.forms.add_source') %></a></p>
</fieldset>
<fieldset id="status">
  <%= f.label "#{t('dri.views.objects.forms.status')}:" %>
  <%= f.select :status, ['draft','review','published'],:class => "edit span6" %>
</fieldset>

