<% people = qdc_extract_people %>

<%= javascript_tag do %>
  window.roles = '<%= j grouped_options_for_select(@qdc_people_select_list) %>';
  window.form_action = '<%= action %>';
<% end %>

<h2><%= t('dri.views.objects.legends.metadata') %></h2>

<% if params[:controller] == 'collections' %>
	<div class="dri_file_upload">
		<% unless @object.cover_image.blank? %>
			<div class="dri_cover_image_img">
				<%= image_tag cover_image_path(@object), width:"228" unless @object.cover_image.blank? %>
				<p>Current Image</p>
			</div>
		<% end %>
		<a class='btn btn-default collection_form' href='javascript:;'>
			<p class="dri_upload_file_text">
				<i class="fa fa-upload">&nbsp;</i>
				<%= "#{t('dri.views.fields.cover_image')}"%>
			</p>
			<p>
				(228 x 128px)
			</p>
			<label for="digital_object_cover_image" class="visually-hidden">Upload image for collection cover</label>
			<%= f.file_field :cover_image, class: "edit span6",
			onchange:'coverImageFileUploadHelper($(this));', accept: 'image/*' %>
			<p class='dri_cover_image_file' id="cover_image">
				No File
			</p>
		</a>
	</div>
<% end %>

<% if update_desc_metadata?(@object.class.to_s) %>
	<fieldset id="title" class="dri_title_metadata_fieldset">
		<% if params[:controller] == 'collections' %>
		  <%= render "shared/form_fieldset_label", f:f, source:'collection_title' %>
		<% else %>
		  <%= render "shared/form_fieldset_label", f:f, source:'title' %>
		<% end%>

		<% @object.title.each_with_index do |title, index| %>
		  <div>
              <label for="<%= "digital_object_title_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.title") %></label>
		  	  <%= f.text_field "title][", value:title, class: "edit span6 dri-textfield", required:'required', id: "digital_object_title_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
	  <%= render "shared/form_add_text_field_button", action:%w(add title), label_string: t("dri.views.fields.title") %>
	</fieldset>

	<fieldset id="creator">
	  <%= render "shared/form_fieldset_label", f:f, source:'creator',
		  span_string:'dri.views.fields.creators' %>
      <% if @object.creator.size == 0 %>
        <div>
      	  <label for="digital_object_creator_1" class="visually-hidden"><%= t("dri.views.fields.creator") %></label>
          <%= f.text_field "creator][", value:'', class: "edit span6 dri-textfield", required:'required', id: 'digital_object_creator_1' %>
		  <%= render "shared/form_remove_field_button" %>
        </div>
      <% end %>
      <% @object.creator.each_with_index do |creator, index| %>
        <div>
      	   <label for="<%= "digital_object_creator_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.creator") %></label>
      	   <%= f.text_field "creator][", value:creator, class: "edit span6 dri-textfield", id: "digital_object_creator_#{index+1}" %>
		   <%= render "shared/form_remove_field_button" %>
        </div>
      <% end %>
      <%= render "shared/form_add_text_field_button", action:%w(add creator), label_string: t("dri.views.fields.creator") %>
	</fieldset>

	<%# contributors %>
	<fieldset id="roles">
		<%= render "shared/form_fieldset_label", f:f, source:'roles' %>

	    <% if people.length > 0 %>
	      <% people.each do |key, value_array| %>
			    <% value_array.each do |value| %>
			      <div>
			      	  <label for="digital_object_roles_type" class="visually-hidden">Role</label>
				      <select id="digital_object_roles_type" name="digital_object[roles][type][]">
	                    <%= grouped_options_for_select(@qdc_people_select_list, key) %>
				      </select>
				      <label for="digital_object_roles_name" class="visually-hidden">Name</label>
				      <%= f.text_field "roles][name][", value:value, class: "edit span6 dri-textfield", id: 'digital_object_roles_name' %>
					  <%= render "shared/form_remove_field_button" %>
			      </div>
	        <% end %>
	      <% end %>
	    <% end %>

	    <%# doesn't match add_text_field partial structure %>
		<p class="add-person-fields">
		  <i class="fa fa-plus">&nbsp;</i><a model-name="digital_object"><%= t('dri.views.objects.forms.add_role') %></a>
		</p>
	</fieldset>

	<p><%= t("dri.help.fields.creation_date_text").html_safe%></p>

	<fieldset id="date_group">
		<fieldset id="creation_date">
		    <%= render "shared/form_fieldset_label", f:f, source:'creation_date' %>
			<% if @object.creation_date.size == 0 %>
			  <div>
                  <label for="digital_object_creation_date_1" class="visually-hidden"><%= t("dri.views.fields.creation_date") %></label>
				  <%= f.text_field "creation_date][", value:'', class: "edit span6 dri-textfield date-group", id: 'digital_object_creation_date_1' %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
			<% @object.creation_date.each_with_index do |creation_date ,index| %>
			  <div>
			  	  <label for="<%= "digital_object_creation_date_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.creator") %></label>
				  <%= f.text_field "creation_date][", value:creation_date, class: "edit span6 dri-textfield date-group", id: "digital_object_creation_date_#{index+1}" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>

	    <%= render "shared/form_add_text_field_button", action:%w(add creation date), label_string: t('dri.views.fields.creation_date') %>
		</fieldset>
		<fieldset id="published_date">
		  <%= render "shared/form_fieldset_label", f:f, source:'published_date' %>
			<% if @object.published_date.size == 0 %>
			  <div>
                  <label for="digital_object_published_date_1" class="visually-hidden"><%= t("dri.views.fields.published_date") %></label>
 			  	  <%= f.text_field "published_date][", value:'', class: "edit span6 dri-textfield date-group", id: "digital_object_published_date_1" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
			<% @object.published_date.each_with_index do |published_date, index| %>
			  <div>
			  	  <label for="<%= "digital_object_published_date_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.published_date") %></label>
			  	  <%= f.text_field "published_date][", value:published_date, class: "edit span6 dri-textfield date-group", id: "digital_object_published_date_#{index+1}" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
	    <%= render "shared/form_add_text_field_button", action:%w(add published date), label_string: t('dri.views.fields.published_date') %>
		</fieldset>
		<fieldset id="date">
		  <%= render "shared/form_fieldset_label", f:f, source:'date' %>
			<% if @object.date.size == 0 %>
			  <div>
                  <label for="digital_object_date_1" class="visually-hidden"><%= t("dri.views.fields.date") %></label>
				  <%= f.text_field "date][", value:'', class: "edit span6 dri-textfield date-group", id: 'digital_object_date_1' %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
			<% @object.date.each_with_index do |date, index| %>
			  <div>
			  	  <label for="<%= "digital_object_date_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.date") %></label>
				  <%= f.text_field "date][", value:date, class: "edit span6 dri-textfield date-group", id: "digital_object_date_#{index+1}" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>

	    <%= render "shared/form_add_text_field_button", action:%w(add date), label_string: t('dri.views.fields.date') %>
		</fieldset>
	</fieldset>

	<fieldset id="description" class="dri_description_metadata_fieldset dri_form_multiline_block">
	  <%= render "shared/form_fieldset_label", f:f, source:'description' %>
		<% @object.description.each_with_index do |description, index| %>
		  <div>
		  	  <label for="<%= "digital_object_description_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.description") %></label>
		  	  <%= f.text_area "description][", value:description, class: "edit span6 dri-textarea", required:'required', id: "digital_object_description_#{index+1}"  %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>

      <%= render "shared/form_add_text_field_button", input_type: 'textarea', action:%w(add description), label_string: t("dri.views.fields.description") %>
	</fieldset>

	

	<%# we don't want the Collection type to be output as we don't want it modified %>
	<% if !@object.collection? %>
		<fieldset id="type">
			<%= render "shared/form_fieldset_label", f:f, source:'types' %>
			<% if @object.type.empty? %>
				<div>
					<%= render partial: 'shared/form_object_type.html', locals: { index: 0, type: "" } %>
				</div>
			<% else %>
			  <% primary_types = %w(text image movingImage interactiveResources 3D sound software dataset) %> 
				<% @object.type.each_with_index do |type, index| %>
					<% if index == 0 %>
						<% if ObjectsController::PrimaryTypes::TYPES.include?(type)%>
							<div>
								<%= render partial: 'shared/form_object_type.html', locals: { index: index, type: type } %>
							</div>
						<% else %>
							<div>
								<%= render partial: 'shared/form_object_type.html', locals: { index: 0, type: "" } %>
							</div>
							<div>
								<label for="<%= "digital_object_type_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.type") %></label>
								<%= f.text_field "type][", value:type, class: "edit span6 dri-textfield", required: "true", id: "digital_object_type_#{index+1}" %>
								<%= render "shared/form_remove_field_button" %>
							</div>
						<% end %>				
					<% else %>
					  <div>
						  <label for="<%= "digital_object_type_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.type") %></label>
						  <%= f.text_field "type][", value:type, class: "edit span6 dri-textfield", required: "true", id: "digital_object_type_#{index+1}" %>
						  <%= render "shared/form_remove_field_button" %>
					  </div>
					<% end %>
				<% end %>
			<% end %>
			<%= render "shared/form_add_text_field_button", action:%w(add type), label_string: t("dri.views.fields.type") %>
		</fieldset>
	<% else %>
	  <%= f.hidden_field :type, value: "Collection" %>
	<% end %>

	<fieldset id="language">
	  <%= render "shared/form_fieldset_label",
		  f:f, source:'languages', help_string:'dri.help.fields.languages' %>
		<% @object.language.each_with_index do |language, index| %>
		  <div>
		  	  <label for="<%= "digital_object_language_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.language") %></label>
		  	  <%= f.text_field "language][", value:language, class: "edit span6 dri-textfield", id: "digital_object_language_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
      <%= render "shared/form_add_text_field_button", action:%w(add language), label_string: t("dri.views.fields.language") %>
	</fieldset>

	<fieldset id="relation">
    <% if params[:controller] == 'collections' %>
		  <%= render "shared/form_fieldset_label",
			  f:f, source:'related',
			  help_string:'dri.help.fields.relations_text' %>
    <% else %>
		  <%= render "shared/form_fieldset_label", f:f, source:'relations' %>
    <% end %>
		<% @object.relation.each_with_index do |relation, index| %>
		  <div>
              <label for="<%= "digital_object_relation_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.relation") %></label>
		  	  <%= f.text_field "relation][", value:relation, class: "edit span6 dri-textfield", id: "digital_object_relation_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
    <%= render "shared/form_add_text_field_button", action:%w(add relation), label_string: t("dri.views.fields.relation") %>
	</fieldset>

  <% if params[:controller] != 'collections' %>
		<fieldset id="source">
		  <%= render "shared/form_fieldset_label", f:f, source:'sources' %>
			<% @object.source.each_with_index do |source, index| %>
			  <div>
                  <label for="<%= "digital_object_source_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.source") %></label>
			  	  <%= f.text_field "source][", value:source, class: "edit span6 dri-textfield", id: "digital_object_source_#{index+1}" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
	       <%= render "shared/form_add_text_field_button", action:%w(add source), label_string: t("dri.views.fields.source") %>
		</fieldset>
  <% end %>

	<fieldset id="coverage">
	  <%= render "shared/form_fieldset_label", f:f, source:'coverages' %>
	  <%= render "shared/autocomplete_dropdown", source: 'coverage' %>
	  <% @object.coverage.each_with_index do |coverage, index| %>
		  <div>
		  	  <label for="<%= "digital_object_coverage_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.coverage") %></label>
			  <%= f.text_field "coverage][", value:coverage, class: "edit span6 dri-textfield", id: "digital_object_coverage_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
    <%= render "shared/form_add_text_field_button", action:%w(add coverage), label_string: t("dri.views.fields.coverage") %>
	</fieldset>

	<fieldset id="geographical_coverage">
	  <%= render "shared/form_fieldset_label", f:f, source:'geographical_coverages' %>
	  <%= render "shared/autocomplete_dropdown", source: 'geographical_coverage', default:'Logainm' %>
		<% @object.geographical_coverage.each_with_index do |geographical, index| %>
		  <div>
		  	  <label for="<%= "digital_object_geographical_coverage_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.geographical_coverage") %></label>
			  <%= f.text_field "geographical_coverage][", value:geographical, class: "edit span6 dri-textfield", id: "digital_object_geographical_coverage_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
    <%= render "shared/form_add_text_field_button", action:%w(add place), label_string: t("dri.views.fields.geographical_coverage") %>
	</fieldset>

	<fieldset id="temporal_coverage">
	  <%= render "shared/form_fieldset_label", f:f,
	  source:'temporal_coverage', span_sting:'dri.views.fields.temporal_coverages' %>
	  <%= render "shared/autocomplete_dropdown", source: 'temporal_coverage' %>
		<% @object.temporal_coverage.each_with_index do |temporal, index| %>
		  <div>
		  	  <label for="<%= "digital_object_temporal_coverage_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.temporal_coverage") %></label>
			  <%= f.text_field "temporal_coverage][", value:temporal, class: "edit span6 dri-textfield", id: "digital_object_temporal_coverage_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
		<%# title and action don't match so can't use current button partial %>
		<p class="add-text-field">
			<i class="fa fa-plus">&nbsp;</i>
			<a model-name="digital_object" title="Add Subject (Era)" data-label="<%= t('dri.views.fields.temporal_coverages') %>">
				<%= t('dri.views.objects.forms.add_temporal_coverage') %>
			</a>
		</p>
	</fieldset>

	<fieldset id="subject">
	  <%= render "shared/form_fieldset_label", f:f, source:'subjects' %>
	  <%= render "shared/autocomplete_dropdown", source: 'subject', default:'LOC Subject Headings' %>
		<% @object.subject.each_with_index do |subject, index| %>
		  <div>
		  	  <label for="<%= "digital_object_subject_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.subject") %></label>
			  <%= f.text_field "subject][", value:subject, class: "edit span6 dri-textfield", id: "digital_object_subject_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
        <%= render "shared/form_add_text_field_button", action:%w(add subject), label_string: t("dri.views.fields.subject") %>
	</fieldset>

	<fieldset id="identifier">
	  <%= render "shared/form_fieldset_label", f:f, source:'identifiers' %>
		<% @object.identifier.each_with_index do |identifier, index| %>
		  <div>
		  	  <label for="<%= "digital_object_identifier_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.identifier") %></label>
		  	  <%= f.text_field "identifier][", value:identifier, class: "edit span6 dri-textfield", id: "digital_object_identifier_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
		<p class="add-text-field">
			<i class="fa fa-plus">&nbsp;</i><a model-name="digital_object" data-label="<%= t('dri.views.fields.identifier') %>"><%= t('dri.views.objects.forms.add_identifier') %></a>
		</p>
	</fieldset>

  <% if params[:controller] != 'collections' && params[:is_sub_collection] != 'true' %>
		<fieldset id="format">
		  <%= render "shared/form_fieldset_label", f:f, source:'formats' %>
			<%= render "shared/autocomplete_dropdown", source: 'format' %>
			<% @object.format.each_with_index do |format, index| %>
			  <div>
			  	  <label for="<%= "digital_object_format_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.format") %></label>
			  	  <%= f.text_field "format][", value:format, class: "edit span6 dri-textfield", id: "digital_object_format_#{index+1}" %>
				  <%= render "shared/form_remove_field_button" %>
			  </div>
			<% end %>
			<p class="add-text-field">
				<i class="fa fa-plus">&nbsp;</i><a model-name="digital_object" data-label="<%= t('dri.views.fields.format') %>" title="Add Format"><%= t('dri.views.objects.forms.add_format') %></a>
			</p>
		</fieldset>
  <% end %>
	<%= render partial: 'shared/form_copyright_field', locals: { f: f, action: 'update' } %>
	<%= render partial: 'shared/form_licence_field', locals: { f: f, action: 'update' } %>

	<fieldset id="rights" class="dri_rights_metadata_fieldset dri_form_multiline_block">
	    <%= render "shared/form_fieldset_label", f:f, source:'rights' %>
		<% if @object.rights.size == 0 %>
			<div>
				<label for="digital_object_rights_1" class="visually-hidden"><%= t("dri.views.fields.rights") %></label>
				<%= f.text_area "rights][", value:'', class: "edit span6 dri-textarea", required:'required', id: 'digital_object_rights_1'  %>
				<%= render "shared/form_remove_field_button" %>
			</div>
		<% end %>
		<% @object.rights.each_with_index do |rights, index| %>
		  <div>
              <label for="<%= "digital_object_rights_#{index+1}" %>" class="visually-hidden"><%= t("dri.views.fields.rights") %></label>
		  	  <%= f.text_area "rights][", value:rights, class: "edit span6 dri-textarea", required:'required', id: "digital_object_rights_#{index+1}" %>
			  <%= render "shared/form_remove_field_button" %>
		  </div>
		<% end %>
        <%= render "shared/form_add_text_field_button", input_type: 'textarea', action:%w(add rights), label_string: t("dri.views.fields.rights") %>
	</fieldset>

<% end %>

<%= javascript_include_tag 'dri/dynamic_licence_options' %>
