<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/about-dri" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.about') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.about_dri'), "http://www.dri.ie/about-dri" %>
    </li>

    <%#<li role="presentation">%>
      <%#= link_to t('dri.headerlinks.about_api'), "/api-docs" %>
    <%#</li>%>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.deposit_guide'), "http://www.dri.ie/about/guide-to-deposit" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.publications'), "http://www.dri.ie/publications" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.projects'), "http://www.dri.ie/projects" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.blog'), "http://www.dri.ie/blog" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.events'), "http://www.dri.ie/events" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.resources'), "http://www.dri.ie/resources-0" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.research_data'), "http://www.dri.ie/research-data-and-dri" %>
    </li>

  </ul>
</li>
