<% if (controller.controller_name.eql?('licences')  && (controller.action_name.eql?('new') || controller.action_name.eql?('edit') || controller.action_name.eql?('index'))) || (controller.controller_name.eql?('static') && controller.action_name.eql?('admin')) %>
<li class="dropdown active dri_dropdown visible-sm visible-md visible-lg">
  <% else %>
<li class="dropdown dri_dropdown visible-sm visible-md visible-lg">
  <% end %>
  <a href="#" id="dri_admin_id" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><%= t('dri.headerlinks.admin') %> <span class="caret"></span></a>

  <ul class="dropdown-menu" role="menu">
    <% if signed_in? && current_user.is_admin? %>
    <% if (controller.controller_name.eql?('licences')  && (controller.action_name.eql?('new') ||
        controller.action_name.eql?('edit') || controller.action_name.eql?('index'))) %>
        <li role="presentation" class="active">
            <% else %>
        <li role="presentation">
            <% end %>
            <%= link_to t('dri.views.static.admin.licences'), main_app.licences_path, :id => "licences", :tabindex => "-1" %>
        </li>
    <% end %>
    
    <% if signed_in? && current_user.is_admin? %> <!-- ok -->
      <li role="presentation">
        <%= link_to t('dri.headerlinks.resque'), main_app.resque_server_path, :id => "resque", :tabindex => "-1" %>
      </li>

      <% if (controller.controller_name.eql?('static') && controller.action_name.eql?('admin')) %>
        <li role="presentation" class="active">
      <% else %>
        <li role="presentation">
     <% end %>
     <%= link_to t('user_groups.views.header.admin'), user_group.admin_path, :tabindex => "-1" %>
     </li>

      <% if controller.controller_name.eql?('pages') %>
        <li role="presentation" class="active">
      <% else %>
        <li>
      <% end %>
      <%= link_to t('dri.headerlinks.reports'), main_app.page_path('reports'), :tabindex => "-1" %>
      </li>
    <% end %>
  </ul>
</li>
