<% if has_browse_params? && controller_name != 'advanced' %>
<nav id="dri_display_grid_table_id" class="dri_sort_nav">
	<% changeViewParams = search_state.to_h.clone %>

	<div class="dri_change_sort_view" id="dri_change_sort_view_id" data-bs-content="<%= t('dri.help.dri_change_sort_view') %>"  data-bs-title="<%= t('dri.help.dri_change_sort_view_title')%>" data-bs-trigger="hover" data-bs-placement="top">

		<% if params[:view] == "grid" %>
		  <i class="fa fa-th fa-lg dri_icon_border"></i>
		  <% changeViewParams[:view] = "list" %>
		  <%= link_to changeViewParams, id: 'table_view' do %>
		    <i class="fa fa-list fa-lg dri_icon_border"></i>
		    <span class="visually-hidden">View results as list</span>
		  <% end %>
		  <% if ['catalog','my_collections'].include?(params[:controller]) %>
		    <% changeViewParams[:view] = "timeline" %>
		    <% timelineParams = changeViewParams.clone %>
		    <% timelineParams[:tl_field] = @available_timelines.first if @available_timelines %>
		    <%= link_to timelineParams, id: 'timeline_view' do %>
		      <i class="fa fa-clock-o fa-lg dri_icon_border"></i>
              <span class="visually-hidden">View results on time line</span>
		    <% end %>
		    <% changeViewParams[:view] = "maps" %>
		    <%= link_to changeViewParams, id: 'maps_view' do %>
		      <i class="fa fa-map-marker fa-lg dri_icon_border"></i>
              <span class="visually-hidden">View results on map</span>
		    <% end %>
		  <% end %>

		<% elsif params[:view] == "list" %>
		  <% changeViewParams[:view] = "grid" %>
		  <%= link_to changeViewParams, id: 'grid_view' do %>
		    <i class="fa fa-th fa-lg dri_icon_border"></i>
		    <span class="visually-hidden">View results as grid</span>
		  <% end %>
		  <% changeViewParams[:view] = "list" %>
		  <i class="fa fa-list fa-lg dri_icon_border"></i>
		  <% if ['catalog','my_collections'].include?(params[:controller]) %>
		    <% changeViewParams[:view] = "timeline" %>
		    <% timelineParams = changeViewParams.clone %>
		    <% timelineParams[:tl_field] = @available_timelines.first if @available_timelines %>
		    <%= link_to timelineParams, id: 'timeline_view' do %>
		      <i class="fa fa-clock-o fa-lg dri_icon_border"></i>
              <span class="visually-hidden">View results on time line</span>
		    <% end %>
		    <% changeViewParams[:view] = "maps" %>
		    <%= link_to changeViewParams, id: 'maps_view' do %>
		      <i class="fa fa-map-marker fa-lg dri_icon_border"></i>
		      <span class="visually-hidden">View results on map</span>
		    <% end %>
		  <% end %>

		<% elsif params[:view] == "timeline" %>
		  <% changeViewParams.delete(:direction) %>
		  <% changeViewParams.delete(:tl_page) %>
		  <% changeViewParams.delete(:tl_field) %>

		  <% changeViewParams[:view] = "grid" %>
		  <%= link_to changeViewParams, id: 'grid_view' do %>
		    <i class="fa fa-th fa-lg dri_icon_border"></i>
            <span class="visually-hidden">View results as grid</span>
		  <% end %>
		  <% changeViewParams[:view] = "list" %>
		  <label for="table_view" class="visually-hidden">View results as list</label>
		  <%= link_to changeViewParams, id: 'table_view' do %>
		    <i class="fa fa-list fa-lg dri_icon_border"></i>
		    <span class="visually-hidden">View results as list</span>
		  <% end %>
		  <% if ['catalog','my_collections'].include?(params[:controller]) %>
		    <i class="fa fa-clock-o fa-lg dri_icon_border"></i>
		    <% changeViewParams[:view] = "maps" %>
		    <%= link_to changeViewParams, id: 'maps_view' do %>
		      <i class="fa fa-map-marker fa-lg dri_icon_border"></i>
		      <span class="visually-hidden">View results on map</span>
		    <% end %>
		  <% end %>

		<% elsif params[:view] == "maps" %>
		  <% changeViewParams[:view] = "grid" %>
		  <%= link_to changeViewParams , id: 'grid_view' do %>
		    <i class="fa fa-th fa-lg dri_icon_border"></i>
            <span class="visually-hidden">View results as grid</span>
		  <% end %>
		  <% changeViewParams[:view] = "list" %>
		  <%= link_to changeViewParams, id: 'table_view' do %>
		    <i class="fa fa-list fa-lg dri_icon_border"></i>
		    <span class="visually-hidden">View results as list</span>
		  <% end %>
		  <% if ['catalog','my_collections'].include?(params[:controller]) %>
		    <% changeViewParams[:view] = "timeline" %>
		    <% timelineParams = changeViewParams.clone %>
		    <% timelineParams[:tl_field] = @available_timelines.first if @available_timelines %>
		    <%= link_to timelineParams, id: 'timeline_view' do %>
		      <i class="fa fa-clock-o fa-lg dri_icon_border"></i>
		      <span class="visually-hidden">View results on time line</span>
		    <% end %>
		    <i class="fa fa-map-marker fa-lg dri_icon_border"></i>
		  <% end %>
		<% end %>
	</div>
</nav>

<% end %>
