<% lang_params = {:path => request.fullpath} %>

<li class="dropdown dri_dropdown d-sm-none">

	<a href="#" id="dri_manage_id" data-bs-toggle="dropdown" role="button" aria-expanded="false" aria-controls="language-dropdown" class="dropdown-toggle"><%= t('dri.headerlinks.language') %> <span class="caret"></span></a>
	
	<ul class="dropdown-menu" role="menu">
		<% if I18n.locale == :en %>
		<% lang_params[:id] = 'ga' %>
		<li class="active" role="presentation">
			<a aria-current="page <%= t('dri.application.lang.en') %>" role="menuitem"><%= t('dri.application.lang.en') %></a>
		</li>
		<li role="presentation">
			<%= link_to t('dri.application.lang.ga'), main_app.lang_path(lang_params), id: :ga %>
		</li>
		<% else %>
		<% lang_params[:id] = 'en' %>
		<li class="active" role="presentation">
			<a aria-current="page" role="menuitem"><%= t('dri.application.lang.ga') %></a>
		</li>
		<li role="presentation">
			<%= link_to t('dri.application.lang.en'), main_app.lang_path(lang_params), id: :en, role: 'menuitem'%>
		</li>
		<% end %>
	</ul>
</li>
