<li class="dropdown dri_dropdown">
  <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" aria-controls="dri-about-menu"><%= t('dri.headerlinks.about') %> <span class="caret"></span></a>
  <ul id="dri-about-menu" class="dropdown-menu">
    <li>
      <%= link_to t('dri.headerlinks.about_dri'), "http://dri.ie/about-dri" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.our_members'), "http://dri.ie/our-members" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.team'), "http://dri.ie/dri-team" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.find_us'), "http://dri.ie/contact" %>
    </li>
  </ul>
</li>
