<nav id="dri_main_nav_id" class="dri_main_nav_new navbar navbar-default navbar-fixed-top" style="z-index: 1000;">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only"><%= t('dri.nav.main_nav.toggle_navigation') %></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>

			</button>
			<span class="dri_navbar_search hidden-sm hidden-md hidden-lg"> <%= render 'shared/header_main_search_form' %></span>
			<%= link_to main_app.root_path do %>
			<div class="dri_ident_tiny hidden-sm hidden-md hidden-lg"></div>
			<% end %>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav dri_uppercase">
				<%= render 'shared/header_main_common_nav' %>
				<%= render 'shared/header_main_about_dropdown' %>
				<% if current_user %>
				<%= render 'shared/header_main_workspace_dropdown' %>
				<% if current_user.is_admin? || current_user.is_cm? %>
				<%= render 'shared/header_main_ingest_dropdown' %>
				<% end %>
				<% end %>
				<%= render 'shared/header_main_nav_lang' %>
				<% if current_user %>

      <% end %>
      <% if !current_user %>
          <li class="hidden-sm hidden-md hidden-lg">
            <%= link_to "Sign Up", user_group.new_user_path %>
          </li>
      <% end %>
      <li class="hidden-sm hidden-md hidden-lg">
        <% if current_user %>
            <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to t('blacklight.header_links.login'), main_app.new_user_session_path%>
        <% end %>

      </li>

			</ul>

			</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
