
    
    <li class="dropdown-item" role="presentation">
      <%= link_to t('dri.headerlinks.digipres'), "https://dri.ie/digital-preservation" %>
    </li>

    <li class="dropdown-item" role="presentation">
      <%= link_to t('dri.headerlinks.standards'), "https://dri.ie/standards-adoption" %>
    </li>    

    <li class="dropdown-item" role="presentation">
      <%= link_to t('dri.headerlinks.fair'), "https://dri.ie/fair-and-open-science" %>
    </li>

    <li class="dropdown-item" role="presentation">
      <%= link_to t('dri.headerlinks.culturalheritage'), "https://www.dri.ie/digital-cultural-heritage" %>
    </li>

    <li class="dropdown-item" role="presentation">
      <%= link_to t('dri.headerlinks.dpassh'), "https://dri.ie/dpassh" %>
    </li>


