<% if (controller.controller_name.eql?('collections') && controller.action_name.eql?('new')) ||
controller_name.eql?('manage_users') || (controller.controller_name.eql?('institutes') && controller.action_name.eql?('new')) || controller.controller_name.eql?('user_background_tasks') %>
  <li class="dropdown active dri_dropdown visible-sm visible-md visible-lg">
<% else %>
  <li class="dropdown dri_dropdown visible-sm visible-md visible-lg">
<% end %>

  <a href="#" id="dri_manage_id" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><%= t('dri.headerlinks.manage') %> <span class="caret"></span></a>

  <ul class="dropdown-menu" role="menu">
    <% if signed_in? && (current_user.is_cm? || current_user.is_om? || current_user.is_admin? || @collections.size > 0 ) %>

      <% if (controller.controller_name.eql?('collections') && controller.action_name.eql?('new')) %>
        <li role="presentation" class="active">
          <% else %>
        <li role="presentation">
      <% end %>
        <%= link_to t('dri.headerlinks.new_collection'), new_collection_path, :id => "new_collection", :tabindex => "-1" %>
      </li>
    <% if (controller.controller_name.eql?('institutes') && controller.action_name.eql?('new')) %>
    <li role="presentation" class="active">
      <% else %>
    <li role="presentation">
      <% end %>
      <%= link_to t('dri.headerlinks.new_organisation'), new_organisation_path %>
    </li>

    <% end %>

    <% if signed_in? && current_user.is_om? %>
      <% if controller.controller_name.eql?('manage_users') %>
        <li role="presentation" class="active">
      <% else %>
        <li role="presentation">
      <% end %>
      <%= link_to t('dri.headerlinks.manage_users'), main_app.manage_users_path, :tabindex => "-1" %>
    </li>
    <% end %>

     <% if tasks? %>
      <% if (controller.controller_name.eql?('user_background_tasks')) %>
        <li role="presentation" class="active">
      <% else %>
        <li role="presentation">
      <% end %>
      <%= link_to t('dri.headerlinks.my_tasks'), user_tasks_path, id: "tasks" %>
    <% end %>

  </ul>
</li>
