<% if (request.path.include? "/bookmarks") || (request.path.include? "/user_groups/users") || (request.path.include? "/search_history") || (request.path.include? "/saved_searches") %>
<li class="dropdown active dri_dropdown">
	<% else %>
<li class="dropdown dri_dropdown">
	<% end %>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('dri.headerlinks.workspace') %> <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<% if request.path.include? "/user_groups/users" %>
		<li role="presentation" class="active">
			<% else %>
		<li role="presentation">
			<% end %>
			     
            <%= link_to user_group.user_path(current_user) do %>
            <i class="fa fa-user"></i>&nbsp;<%= current_user[:first_name].to_s %>
            <% end %>

		</li>
		<% if request.path.include? "/bookmarks" %>
		<li role="presentation" class="active">
			<% else %>
		<li role="presentation">
			<% end %>
			<%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path({:mode => 'collections', :view => 'grid'}), :tabindex => "-1" %>
		</li>
		<% if request.path.include? "/saved_searches" %>
		<li role="presentation" class="active">
			<% else %>
		<li role="presentation">
			<% end %>
			<%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, :tabindex => "-1", :id => 'saved_search' %>
		</li>
	</ul>
</li>