<% lang_params = { path: request.fullpath } %>

<% if I18n.locale == :en %>
	<% lang_params[:id] = 'ga' %>
	<ul class="dropdown" role="menu">
		<li role="presentation">
			<%= link_to t('dri.application.lang.ga'), '#', :"data-toggle" => "dropdown", id: :en %>
			<i class="icon-caret-down"></i>
			<ul class="dropdown-menu" role="menu">
				<%= link_to lang_path(lang_params), id: :ga do %>
				<li role="presentation">
					<%= t('dri.application.lang.ga') %>
				</li>
				<% end %>
			</ul>
		</li>
	</ul>
<% else %>
	<% lang_params[:id] = 'en' %>
	<ul class="dropdown" role="menu">
		<%= link_to t('dri.application.lang.ga'), '#', :"data-toggle" => "dropdown", id: :ga %>
		<i class="icon-caret-down"></i>
		<ul class="dropdown-menu" role="menu">
			<%= link_to lang_path(lang_params), id: :en  do %>
			<li role="presentation">
				<%= t('dri.application.lang.en') %>
			</li>
			<% end %>
		</ul>
	</ul>
<% end %>
