<!-- Header to be displayed to users -->
<header id="dri_header_container_id" class="dri_header_container">

	<%= render 'shared/header_navbar_public_social_media' %>
	<div class="dri_authentication_search_container">      
	           <%= render 'shared/header_navbar_public_user' %>
	    <%= render 'catalog/dri_search_form' %>


	</div>
	<%= render 'shared/header_navbar_public_logo' %>

</header><!-- close dri_header_container -->

<%= render 'shared/header_main_nav' %>

<%= render 'shared/header_crumbtrail' %>

<%= render 'shared/header_browse_features' %>

