<div id="dri_social_media_container_id"
class="dri_social_media_container">
	<nav id="dri_social_media_nav_id" class="dri_social_media_nav" >
		<%= link_to "https://bsky.app/profile/dri.ie", :id => "follow_bluesky", :target => "_blank", class: ["social_media_icon"] do %>
			<i class="fa-brands fa-square-bluesky"></i>
			<span class="visually-hidden">bluesky</span>
		<% end %>
		<%= link_to "https://www.facebook.com/digitalrepositoryireland", :id => "follow_facebook", :target => "_blank", class: ["social_media_icon"] do %>
			<i class="fa-brands fa-square-facebook"></i>
			<span class="visually-hidden">facebook</span>
		<% end %>
		<%= link_to "https://vimeo.com/digitalrepositoryireland", :id => "follow_vimeo", :target => "_blank", class: ["social_media_icon"] do %>
			<i class="fa-brands fa-vimeo"></i>
			<span class="visually-hidden">vimeo</span>
		<% end %>
		<%= link_to "https://www.slideshare.net/dri_ireland", :id => "https://www.slideshare.net/dri_ireland", :target => "_blank", class: ["social_media_icon"] do %>
			<i class="fa-brands fa-slideshare"></i>
			<span class="visually-hidden">slideshare</span>
        <% end %>
        <%= link_to "https://instagram.com/dri_ireland", :id => "https://instagram.com/dri_ireland", :target => "_blank", class: ["social_media_icon"] do %>
          <i class="fa-brands fa-instagram"></i>
          <span class="visually-hidden">instagram</span>
		<% end %>
	</nav>
</div>
