<% if root? %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.home'), main_app.root_path, id: 'dri_home_id' %>
</li>

<% if ((controller_name == 'catalog') && (controller.action_name != 'index')  || (request.path.include? "/catalog") ) %>
    <li class="active">
<% else %>
    <li>
<% end %>

<%= link_to t('dri.headerlinks.browse'), main_app.catalog_index_path(mode: 'collections', search_field: 'all_fields'), id: 'browse' %>
</li>

<% if (controller.controller_name == 'institutes' && controller.action_name == 'index') %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.institutions'), organisations_path, id: 'institutions' %>
</li>

<!--
<li>
  <%= render 'shared/header_main_about_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_team_dropdown' %>
</li>

-->

<% if ['/bookmarks','/user_groups/users','/search_history','/saved_searches'].include?(request.path) || (controller.controller_name == 'my_collections' && controller.action_name == 'index') || controller.controller_name == 'workspace' %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.workspace'), workspace_path, id: 'workspace' %>
</li>

