<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/membership" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.membership') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.why_join_dri'), "http://www.dri.ie/why-join-dri" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.member_benefits'), "http://www.dri.ie/member-benefits" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.membership_fees'), "http://www.dri.ie/membership-fees" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.our_members'), "http://www.dri.ie/our-members" %>
    </li>

  </ul>
</li>