<% if browse_active? %>
  <li class="dropdown dri_dropdown active">
<% else %>
  <li class="dropdown dri_dropdown">
<% end %>

  <% browselink = main_app.search_catalog_path(mode: 'collections', search_field: 'all_fields') %>
  <a href="#" class="dropdown-toggle pt-2 pb-2" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="dri-browse-menu"><%= t('dri.headerlinks.browse') %> <span class="caret"></span></a>
  <ul id="dri-browse-menu" class="dropdown-menu collapse">
    <% if catalog_active? %>
      <li class="active">
        <%= link_to t('dri.headerlinks.browse_collections'), browselink, id: 'browse', 'aria-current': "page" %>
      </li>
    <% else %>
      <li>
        <%= link_to t('dri.headerlinks.browse_collections'), browselink, id: 'browse' %>
      </li>
    <% end %>

    <% if organisations_active? %>
      <li class="active">
        <%= link_to t('dri.headerlinks.browse_organisations'), main_app.organisations_path, id: 'institutions', 'aria-current': "page" %>
      </li>
    <% else %>
      <li>
        <%= link_to t('dri.headerlinks.browse_organisations'), main_app.organisations_path, id: 'institutions' %>
      </li>
    <% end %>
  </ul>
</li>
