<!-- Overridden _header_navbar.html.erb file. This file overrides
     the file of the same name provided with blacklight. Placing a copy
     here allows us to specify our own custom header instead of the
     default blacklight one.
-->

<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="span2">
          <%= link_to application_name, root_path, :class => "brand", :id => "logo" %>
        </div>

        <div class="span6 clearfix" id="searchbar">         
          <%= render_search_bar  %>
        </div>

        <div class="span4 pull-right">
         <%= render :partial=>'/user_util_links' %>
        </div>

      </div>

      <div class="row">
           <ul class="nav pull-left">
            <li><%= link_to t('dri.headerlinks.home'), root_path, :id => "home" %></li>
            <li><%= link_to t('dri.headerlinks.collections'), collections_path, :id => "collections" %></li>
            <li><%= link_to t('dri.headerlinks.ingest'), new_ingest_path, :id => "ingest" %></li>
            <li><%= link_to t('dri.headerlinks.about'), "#", :id => "about" %></li>
            <li><%= link_to t('dri.headerlinks.contact'), "#", :id => "contact" %></li>
	          <li><%= link_to t('dri.headerlinks.usergroups'), user_group_path, :id=>"usergroup" %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

