<% if root? %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.home'), 'http://www.dri.ie/', id: 'dri_home_id' %>
</li>

<%= render 'shared/header_main_browse_dropdown' %>
<%= render 'shared/header_main_deposit_dropdown' %>
<%= render 'shared/header_main_resources_dropdown' %>
<%= render 'shared/header_main_ourwork_dropdown' %>
<%= render 'shared/header_main_newsevents_dropdown' %>
<%= render 'shared/header_main_about_dropdown' %>

<% if workspace_active? %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.workspace'), main_app.workspace_path, id: 'workspace' %>
</li>

