<% if (request.path.include? "/bookmarks") || (request.path.include? "/user_groups/users") || (request.path.include? "/search_history") || (request.path.include? "/saved_searches") %>
    <li class="dri_main_nav_top dropdown selected">
<% else %>
    <li class="dri_main_nav_top dropdown">
<% end %>

<div class="dropdown-toggle" id="dri_workspace_id" data-toggle="dropdown">
  <a href="#"><%= t('dri.headerlinks.workspace') %></a>
</div>

<ul class="dropdown-menu dri_main_nav_sub" role="menu" aria-labelledby="dri_workspace_id">
  <% if request.path.include? "/user_groups/users" %>
      <li role="presentation" class="selected">
  <% else %>
      <li role="presentation">
  <% end %>
  <%= link_to t('dri.views.static.workspace.account'), user_group.user_path(current_user), :tabindex => "-1" %>
  </li>
  <% if request.path.include? "/bookmarks" %>
      <li role="presentation" class="selected">
  <% else %>
      <li role="presentation">
  <% end %>
  <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path({:mode => 'collections', :view => 'grid'}), :tabindex => "-1" %>
  </li>
  <!-- hide for July UAT>
  <% if request.path.include? "/search_history" %>
      <li role="presentation" class="selected">
  <% else %>
      <li role="presentation">
  <% end %>
  <%= link_to t('blacklight.header_links.search_history'), search_history_path, :tabindex => "-1" %>
  </li>
  -->
  <% if request.path.include? "/saved_searches" %>
      <li role="presentation" class="selected">
  <% else %>
      <li role="presentation">
  <% end %>
  <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, :tabindex => "-1", :id => 'saved_search' %>
  </li>

</ul>
</li>