<!-- container for search, sort and pagination etc. navigations and search text input -->
<div id="dri_search_features_nav_container_id"
class="dri_search_features_nav_container">

	<%= render 'shared/header_browse_save_search' %>
	<%= render 'shared/header_browse_sort_by' %>
	<%= render 'shared/header_browse_per_page' %>
	<%= render 'shared/header_browse_change_view' %>
	<%= render 'shared/header_bookmark_clear' %>
	<%= render 'shared/header_saved_search_clear' %>

</div>
<!-- close dri_search_features_nav_container -->