<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/about-dri" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.about') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.about_dri'), "http://www.dri.ie/about-dri" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.our_members'), "http://www.dri.ie/our-members" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.team'), "http://www.dri.ie/dri-team" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.find_us'), "http://www.dri.ie/contact" %>
    </li>

  </ul>
</li>
