<!-- start dri_crumbtrail_nav_container -->
<% if @document %>
  <div id="dri_crumbtrail_nav_container_id">
    <ol class="breadcrumb">
    <% unless @document.is_a?(DRI::Batch) %>

        <% if @document[Solrizer.solr_name('ancestor_id', :stored_searchable, type: :string).to_sym].present? %>
          <% @document[Solrizer.solr_name('ancestor_id', :stored_searchable, type: :string).to_sym].to_enum.with_index.reverse_each do |ancestor_id, index| %>
            <li><%= link_to @document[Solrizer.solr_name('ancestor_title', :stored_searchable, type: :string).to_sym][index], url_for_document(ancestor_id) %></li>
          <% end %>
        <% end %>

        <% if @generic_file %>
          <li><%= link_to truncate(@document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym].first, length:50), url_for_document(@document.id) %></li>
          <li class="active"><%= @generic_file.label %></li>

        <% else %>
          <% if controller.action_name == 'edit' %>
            <li><%= link_to truncate(@document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym].first, length:50),
                     url_for_document(@document['id']) %></li>
            <li class="active"><%= t('dri.views.objects.edit.title') %></li>
          <% elsif controller.action_name == 'view' %>
            <li><%= link_to truncate(@document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym].first, length:50),
                     url_for_document(@document['id']) %></li>
            <li class="active"><%= t('dri.views.catalog.links.iiif_viewer') %></li>
          <% elsif controller_name == 'assets' && controller.action_name = 'index' %>
            <li><%= link_to truncate(@document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym].first, length:50), url_for_document(@document.id) %></li>
            <li class="active"><%= t('dri.views.catalog.links.view_assets') %></li>
          <% else %>
            <li class="active"><%= truncate(@document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym].first, length:50) %></li>
          <% end %>
        <% end %>

    <% end %>
    </ol>
  </div>
<% end %>

<% if @collection %>
  <div id="dri_crumbtrail_nav_container_id">
    <ol class="breadcrumb">
      <li class="active">
        <% if controller_name == 'objects' %>
          <%= link_to( t('dri.views.objects.legends.view_collection'),
              my_collections_path(@collection), id: 'view_collection' ) %>
        <% else %>
          <%= link_to( t('dri.views.objects.legends.view_collection'),
              url_for_document(@collection.id), id: 'view_collection' ) %>
        <% end %>
      </li>
    </ol>
  </div>
<% end %>
<!-- close dri_crumbtrail_nav_container -->
