<% if root? %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.home'), 'http://www.dri.ie/', id: 'dri_home_id' %>
</li>

<li>
  <%= render 'shared/header_main_browse_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_deposit_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_resources_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_ourwork_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_newsevents_dropdown' %>
</li>

<li>
  <%= render 'shared/header_main_about_dropdown' %>
</li>

<% if ['/bookmarks','/user_groups/users','/search_history','/saved_searches','/ingest/','/ingest/batch','/ingest/ingests', '/pages/reports', '/reports'].include?(request.path) || controller.controller_name == 'my_collections' || controller.controller_name == 'workspace' %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.workspace'), main_app.workspace_path, id: 'workspace' %>
</li>

