<!-- Header to be displayed to users -->
<header id="dri_header_container_id" class="dri_header_container">
  <div id="dri_authentication_menus_container_id"
       class="dri_authentication_menus_container">

    <nav id="dri_account_nav_id" class="dri_account_nav">
      <ul id="dri_account_links_id" class="dri_account_links" role="tree">
        <% if !current_user %>
            <li class="on">
              <%= link_to "Sign Up", user_group.new_user_path, :alt => "sign up link" %>
            </li>
        <% end %>
        <li class="noborder">
          <% if current_user %>
              <%= link_to t('blacklight.header_links.logout'), user_group.destroy_user_session_path, :method => :delete, :id => "logout", :alt => t('blacklight.header_links.logout') %>
          <% else %>
              <%= link_to t('blacklight.header_links.login'), user_group.new_user_session_path, :id => "login", :alt => t('blacklight.header_links.login') %>
          <% end %>

        </li>
        <%= render :partial => 'shared/header_lang' %>
        </ul>
    </nav>
    <!-- close dri_account_nav -->
  </div>
  <!--  close dri_authentication_menus_container -->
  <div id="dri_social_media_container_id"
       class="dri_social_media_container">

    <nav id="dri_social_media_nav_id" class="dri_social_media_nav">
      <ul id="dri_social_media_links_id" class="dri_social_media_links">
        <li>
          <a href="https://www.facebook.com/digitalrepositoryireland" class="facebook"></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/company/digital-repository-of-ireland" class="linkedin"></a>
        </li>
        <li>
          <a href="http://www.slideshare.net/dri_ireland" class="share"></a>
        </li>
        <li>
          <a href="https://twitter.com/dri_ireland" class="twitter"></a>
        </li>
      </ul>
    </nav>
  </div>

  <!--  close dri_social_media_container -->
  <%= link_to main_app.root_url do %><div id="dri_ident_id" class="dri_ident"></div>
  <% end %>
</header><!-- close dri_header_container -->

<%= render :partial => 'shared/header_main_nav' %>

<!-- no sub navs for the moment - hidden -->
<% if current_user %>
    <div id="dri_sub_nav_container_id" class="dri_sub_nav_container dri_no_display">
      <nav id="dri_sub_nav_id" class="dri_sub_nav">
        <ul id="dri_main_nav_links_id"
            class="dri_sub_nav_links dri_nav_collections">

          <li>
            <%= link_to t('dri.views.static.workspace.account'), user_group.user_path(current_user), :id => "FIXMEview_account" %>
          </li>
          <li>
            <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
          </li>
          <li>
            <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
          </li>
          <li>
            <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
          </li>

        </ul>
      </nav>
    </div>
<% end %>
<!-- close dri_sub_nav_container -->

<!-- no crumbtrail for the moment - hidden 	-->
<div id="dri_crumbtrail_nav_container_id"
     class="dri_crumbtrail_nav_container dri_no_display">
  <nav id="dri_crumbtrail_nav_id" class="dri_crumbtrail_nav">
    <ul id="dri_crumbtrail_nav_links_id"
        class="dri_crumbtrail_nav_links">
      <li>
        <a href="#">Excepteur</a>
      </li>
      <li>
        <a href="#">Sed ut perspiciatis</a>
      </li>
      <li class="selected">
        <a href="#">Excepteur</a>
      </li>
    </ul>
  </nav>
</div>
<!-- close dri_crumbtrail_nav_container -->

<!-- container for search, sort and pagination etc. navigations and search text input -->
<div id="dri_search_features_nav_container_id"
     class="dri_search_features_nav_container">
  <% if has_search_parameters? %>
      <% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>
          <!-- navigation to allow the user to determine how the search result are sorted e.g. by relevance, A to Z, Z to A -->
          <nav id="dri_sort_nav_id" class="dri_sort_nav">
            <select id="dri_sort_options_id" class="dri_sort_options" name="sort_options">
              <%- blacklight_config.sort_fields.each do |sort_key, field| %>
                  <% if field.label == current_sort_field.label %>
                      <option value="<%= url_for(params_for_search.merge(:sort => sort_key)) %>" selected><%= (field.label).capitalize %></option>
                  <% else %>
                      <option value="<%= url_for(params_for_search.merge(:sort => sort_key)) %>"><%= (field.label).capitalize %></option>
                  <% end %>
              <%- end -%>
            </select>
          </nav>
      <% end %>
  <% end %>

  <% if has_search_parameters? %>
      <% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>
          <!-- navigation to allow the user to determine how the search result is displayed e.g. number of items output  -->
          <nav id="dri_pager_nav_id" class="dri_pager_nav">
            <ul id="dri_pager_nav_links_id" class="dri_pager_nav_links">
              <%- blacklight_config.per_page.each do |count| %>
                  <% if current_per_page == count %><li class="selected"><% else %><li><% end %>
                  <%= link_to(t(:'blacklight.search.per_page.label', :count => count).html_safe, url_for(params_for_search(:per_page => count))) %>
                  </li>
              <%- end -%>
            </ul>
          </nav>
      <% end %>
  <% end %>

  <!-- use kaminari views -->
  <%= render :partial => 'shared/results_paginator' %>

  <% if @previous_document || @next_document %>

      <!-- navigation to allow the user to page through the search results  -->
      <nav id="dri_pagination_nav_id" class="dri_pagination_nav">
        <ul id="dri_pagination_nav_links_id"
            class="dri_pagination_nav_links">

          <%if @previous_document %>
              <li class="previous">
                <%= link_to_previous_document @previous_document %>
              </li>
          <% end %>
          <li class="selected">
            <%= item_page_entry_info %> &nbsp;
          </li>
          <%if @next_document %>
              <li class="next">
                <%= link_to_next_document @next_document %>
              </li>
          <% end %>
        </ul>
      </nav>
  <% end %>

  <!-- search term input block (including any required hidden fields) to allow user to input a search term(s)  -->
  <div id="dri_search_term_input_id" class="dri_search_term_input">

    <%= render 'catalog/dri_search_form' %>

    <!-- close dri_search_term_input_form -->

  </div>
  <!-- close dri_search_term_input -->

</div>
<!-- close dri_search_features_nav_container -->
<% if has_search_parameters? and current_user %>
    <div id="dri_search_save_input_id" class="dri_search_save_input">

      <form id="dri_search_save_input_form_id"
            class="dri_search_save_input_form">
        <button id="dri_search_save_submit_button_id" type="submit"
                class="dri_search_save_submit_button" id="search">
          Save
          Current Search
        </button>
      </form>
      <!-- close dri_search_save_input_form -->

    </div>
<% end %>

