<li class="dropdown dri_dropdown">
  <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="dri-resources-menu"><%= t('dri.headerlinks.resources') %> <span class="caret"></span></a>
  <ul id="dri-resources-menu" class="dropdown-menu collapse">

    <li>
      <%= link_to t('dri.headerlinks.training'), "https://dri.ie/dri-training-and-education" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.publications'), "https://dri.ie/publications" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.research_data'), "https://dri.ie/research-data-and-dri" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.user_guides'), "https://guides.dri.ie/" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.early_career'), "https://dri.ie/dri-early-career-research-award" %>
    </li>
  </ul>
</li>
