<!-- Header to be displayed to users -->
<header id="dri_header_container_id" class="dri_header_container">
<%= render 'shared/header_navbar_logo' %>

<%= render 'shared/header_navbar_social_media' %>
<div class="dri_authentication_search_container">
  <%= render 'shared/header_navbar_user' %>
  <%= render "catalog/dri_search_form" %>
</div>

</header><!-- close dri_header_container -->

<!-- Needed for print styling -->
<div id="dri_ident_print" class="dri_ident_print dri_no_display">
  <%= image_tag 'dri/dri_ident.png', alt: "DRI Logo" %>
</div>

<%= render 'shared/header_main_nav' %>

<% unless root? %>
  <%= render 'shared/header_crumbtrail' %>
  <%= render 'shared/header_browse_features' %>
<% end %>
