<% if I18n.locale == :en %>
    <% params[:id] = :ga %>
    <ul id="dri_language_links_id" class="dri_language_links menu">
      <li class="selected" aria-selected="true">
        <%= link_to 'English', '#' %>
        <%= image_tag("dri/account_arrow.png", :width=>"10", :height=>"5") %>
        <ul>
          <li>
            <%= link_to 'Gaeilge', lang_path(params) %>
          </li>
        </ul>
      </li>
    </ul>
<% else %>
    <% params[:id] = :en %>
    <ul id="dri_language_links_id" class="dri_language_links menu">
      <li class="selected" aria-selected="true">
        <%= link_to 'Gaeilge', '#' %>
        <%= image_tag("dri/account_arrow.png", :width=>"10", :height=>"5") %>
        <ul>
          <li>
            <%= link_to 'English', lang_path(params) %>
          </li>
        </ul>
      </li>
    </ul>
<% end %>