
    
    <li role="presentation">
      <%= link_to t('dri.headerlinks.allea'), "https://dri.ie/allea" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.oecd'), "https://dri.ie/oecd" %>
    </li>    

    <li role="presentation">
      <%= link_to t('dri.headerlinks.dpc'), "https://dri.ie/digital-preservation-coalition" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.norf'), "https://dri.ie/norf" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.europeana'), "https://dri.ie/Europeana" %>
    </li>

<!--    <li role="presentation">
      <%= link_to t('dri.headerlinks.committees'), "https://dri.ie/committees" %>
    </li> -->



