  <%= form_tag main_app.search_catalog_path, method: :get, id: 'mobile_searchform', class: 'dri_search_term_input_form' do %>
    <% if search_fields_from_config.length > 1 %>
      <%= select_tag(:search_field,
                     options_for_select(search_fields_from_config, h(params[:search_field])),
                     title: t('blacklight.search.form.search_field.title'),
                     id: "search_field",
                     class: "custom-select search-field") %>
    <% elsif search_fields_from_config.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields_from_config.first.last %>
    <% end %>
    <% if (params[:mode].blank?) %>
        <%= hidden_field_tag 'mode', 'objects' %>
    <% end %>

    <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
    <label for="mobile_q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
    <%= text_field_tag :q, params[:q], id: "mobile_q", class: "dri_search_term_text_input dri_no_clear dri_help_popover_slow", :'data-content' =>  t('dri.help.q'),  :'data-original-title' =>  t('dri.help.q_title'), :'data-trigger' => "hover", :'data-placement' => "bottom" %>

    <%= link_to "+ #{t('dri.views.catalog.links.advanced_options')}", '',
        :'data-target' => '#dri_advanced_search_modal_id',
        :'data-toggle' => 'modal',
        id: 'advanced_search_button_mobile' %>

    <button type="submit" class="dri_search_term_text_submit_button dri_no_display" id="search">
      <%=t('blacklight.search.form.submit')%>
    </button>
  <% end %><!-- end form -->
<!-- close dri_search_term_input_form -->
