<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/news" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.news_events') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.news'), "http://www.dri.ie/news" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.events'), "https://dri.ie/events" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.blog'), "https://www.dri.ie/blog" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.vacancies'), "https://www.dri.ie/vacancies" %>
    </li>

  </ul>
</li>
