<li class="dropdown dri_dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="dri-ourwork-menu"><%= t('dri.headerlinks.our_work') %> <span class="caret"></span></a>

  <ul id="dri-ourwork-menu" class="dropdown-menu collapse">

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.digipres'), "https://dri.ie/digital-preservation" %>
    </li>

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.standards'), "https://dri.ie/standards-adoption" %>
    </li>

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.fair'), "https://dri.ie/fair-and-open-science" %>
    </li>

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.culturalheritage'), "https://dri.ie/digital-cultural-heritage" %>
    </li>

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.projects'), "https://dri.ie/projects" %>
    </li>

    <li class="dropdown-item">
      <%= link_to t('dri.headerlinks.networks'), "https://dri.ie/collaborations" %>
    </li>
  </ul>
</li>
