<div id="dri_social_media_container_id"
class="dri_social_media_container">

	<nav id="dri_social_media_nav_id" class="dri_social_media_nav" >
		<ul id="dri_social_media_links_id" class="dri_social_media_links" data-bs-content="<%= t('dri.help.social_media_links') %>"  data-bs-title="<%= t('dri.help.social_media_links_title')%>" data-bs-trigger="hover" data-bs-placement="right">
			<%= link_to "https://twitter.com/dri_ireland", :id => "follow_twitter", :target => "_blank" do %>
			<li>
				<i class="fa fa-twitter fa-lg"></i>
				<span class="visually-hidden">twitter</span>
			</li>
			<% end %>
			<%= link_to "https://www.facebook.com/digitalrepositoryireland", :id => "follow_facebook", :target => "_blank" do %>
			<li>
				<i class="fa fa-facebook-official fa-lg"></i>
				<span class="visually-hidden">facebook</span>
			</li>
			<% end %>
			<%= link_to "https://vimeo.com/digitalrepositoryireland", :id => "follow_vimeo", :target => "_blank" do %>
			<li>
				<i class="fa fa-vimeo-square fa-lg"></i>
				<span class="visually-hidden">vimeo</span>
			</li>
			<% end %>
			<%= link_to "https://www.slideshare.net/dri_ireland", :id => "https://www.slideshare.net/dri_ireland", :target => "_blank" do %>
			<li>
				<i class="fa fa-slideshare"></i>
				<span class="visually-hidden">slideshare</span>
            </li>
            <% end %>
            <%= link_to "https://instagram.com/dri_ireland", :id => "https://instagram.com/dri_ireland", :target => "_blank" do %>
            <li>
              <i class="fa fa-instagram fa-lg"></i>
              <span class="visually-hidden">instagram</span>
            </li>
			<% end %>
		</ul>
	</nav>
</div>
