<div id="dri_organisations_manage">
  <%= form_tag collection_organisations_path(@document), :id => 'associate_institute', :name => 'associate_institute' do %>
    <select multiple="multiple" size="10" id="select_institutes" name="selected_institutes[]" class="dri_select_institutes">
      <% if @available_institutes %>
        <% @available_institutes.each do |inst| %>
          <option value="<%= inst %>"><%= inst %></option>
        <% end %>
      <% end %>
                
      <% @removal_institutes.each do |inst| %>
        <option value="<%= inst %>" selected="selected"><%= inst %></option>
      <% end %>
    </select>

    <%= submit_tag t('dri.views.collection.institute.set_institutes'), :id => "associate_inst", :class => 'dri_button_green w240' %>
  <% end %>
</div>

<script>
  var selectInstitutes = $('.dri_select_institutes').bootstrapDualListbox({
                  nonSelectedListLabel: "<%= t('dri.views.collection.institute.available') %>",
                  selectedListLabel: "<%= t('dri.views.collection.institute.selected') %>",
                  preserveSelectionOnMove: 'moved',
                  moveOnSelect: false,
                });
</script>
