<% @iiif_sources = [] %>

<div id="oject-multiple-asset-carousel" class="carousel slide dri_carousel_controls" data-bs-interval = "false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--First item set to active-->
      <%= render partial: "shared/carousel_item", collection: displayfiles, as: :generic_file, locals: { document: document, displayfiles_count: displayfiles.size } %>
    </div>

    <% if (displayfiles.size > 1) %>
      <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#oject-multiple-asset-carousel" data-bs-slide="prev" alt="previous page">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#oject-multiple-asset-carousel" data-bs-slide="next" alt="next page">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
</div>
<!-- Controls -->
<% if (displayfiles.size > 0) %>
   <p class="dri_assets_total"><%= "#{t('dri.views.fields.total_assets')} (#{displayfiles.size})" %></p>
<% end %>

 <% if document.published? && document.public_read? %>
  <div style="display:none">
    <%= content_tag('div', id: 'dri_iiif_view', style: 'height:100%', data: { sources: @iiif_sources}) do %>
    <% end %>
  </div>

  <% content_for :head do %>
    <%= javascript_include_tag 'iiif_viewer', async: Rails.env.production? %>
  <% end %>
<% end %>

<div class="modal fade" id="dri_cookie_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-describedby="dri_end_user_agreement_text" aria-labelledby="dri_cookie_modal_header">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="dri_cookie_modal_header"><%= t('dri.application.terms.header') %></h1>
      </div>
      <div class="modal-body">
        <div class="dri_cookie_acceptance_text">
          <p><%= render partial: 'shared/terms' %></p>
        </div>
        <p><%= t('dri.application.terms.message', url: main_app.page_path('terms') ).html_safe %></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="accept_agreement" class="dri_button_green" data-bs-dismiss="modal">
          <%= t('dri.application.terms.accept') %>
        </button>
        <button type="button" class="dri_button_black" id="reject_agreement" data-bs-dismiss="modal"><%= t('dri.application.terms.reject') %></button>
      </div>
    </div>
  </div>
</div>