<script>
  $(document).on("click", "#configure_download", function () {
    var fileid = $(this).data('fileid');
    var infoModal = $('#dri_download_modal_id');
    htmlData = $('.' + fileid).html();
    infoModal.find('.modal-body').html(htmlData);
    return false;
  });
</script>

<% @iiif_sources = [] %>

<div id="oject-multiple-asset-carousel" class="carousel slide dri_carousel_controls" data-ride="carousel" data-interval = "false" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--First item set to active-->
      <div class="item dri_asset_carousel_item dri_bottom_stack active">
        <%= render partial: "shared/object_show_surrogate", locals: {document: document, generic_file: displayfiles.first, first: true} %>
        <%= render partial: "shared/object_show_download", locals: {document: document, generic_file: displayfiles.first, index: 1, displayfiles_count: displayfiles.size } %>
      </div>
      <% displayfiles[1..-1].each_with_index do |file,i| %>
        <div class="item dri_asset_carousel_item dri_bottom_stack">
          <%= render partial: "shared/object_show_surrogate", locals: { document: document, generic_file: file, first: false } %>
          <%= render partial: "shared/object_show_download", locals: { document: document, generic_file: file, index: i + 2, displayfiles_count: displayfiles.size } %>
        </div>
      <% end %>
    </div>

    <% if (displayfiles.size > 1) %>
      <div>
        <a class="left carousel-control" href="#oject-multiple-asset-carousel" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="right carousel-control" href="#oject-multiple-asset-carousel" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    <% end %>
  </div>
  <!-- Controls -->
<% if (displayfiles.size > 0) %>
    <p class="dri_assets_total"><%= "#{t('dri.views.fields.total_assets')} (#{displayfiles.size})" %></p>
<% end %>

 <% if document.published? && document.public_read? %>
  <div style="display:none">
    <%= content_tag('div', id: 'dri_iiif_view', style: 'height:100%', data: { sources: @iiif_sources}) do %>
    <% end %>
  </div>

  <% content_for :head do %>
    <%= javascript_include_tag 'iiif_viewer', async: Rails.env.production? %>
  <% end %>
<% end %>
