<% present(document, DRI::ObjectPresenter) do |presenter| %>
	<% if presenter.file_type_labels != t("dri.data.types.Unknown") %>
	    <span class="dri_icon_image">
	      <% present(document, DRI::ImagePresenter) do |images| %>
	        <% images.icons.each do |icon| %>
	          <%= image_tag(icon, alt: "object image" ) %>
	        <% end %>
	      <% end %> &nbsp;
	      <%= presenter.file_type_labels %>
	    </span>
	<% else %>
	    <!-- takes value from metadata -->
	    <span class="dri_icon_text"><%= document[Solrizer.solr_name('object_type', :displayable, type: :string).to_sym].first %></span>
	<% end %>
<% end %>
<% if document.visibility == "restricted" %>
  <span class="dri_icon_text pull-right"><i class="fa fa-lock" style="font-size: 1.4em;" title="<%= t('dri.views.catalog.forms.restricted_asset') %>"></i></span>
<% elsif document.visibility == "logged-in" %>
   <span class="dri_icon_text pull-right"><i class="fa fa-user" style="font-size: 1.4em;" title="<%= t('dri.views.catalog.forms.registered_asset') %>"></i></span>
<% end %>

