<% @surrogate = nil %>
<% if generic_file.present? && !generic_file.preservation_only? %>

    <% if generic_file.audio? %>
        <% @surrogate = surrogate_url(document.id, generic_file.id, "mp3") %>
        <% if @surrogate %>
            <audio id="surrogate_audio" class="video-js vjs-default-skin" controls
             preload="auto" width="100%" height="100"  data-setup='{}'>
              <source src="<%= @surrogate %>" type="audio/mpeg" >
            </audio>
            <%= render partial: 'object_show_single_audio_details', locals: { generic_file: generic_file } %>
        <% end %>

    <% elsif generic_file.video? %>
        <% @surrogate_webm = surrogate_url(document.id, generic_file.id, "webm") %>
        <% @surrogate_mp4 = surrogate_url(document.id, generic_file.id, "mp4") %>
        <% @surrogate = @surrogate_webm %>
        <% if @surrogate_webm %>
            <%= video_tag ["#{@surrogate_webm}", "#{@surrogate_mp4}"], controls: true, width:"100%", height: "270px" %>
        <% end %>

    <% elsif generic_file.pdf? %>
        <% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
        <% @surrogate_pdf = surrogate_url(document.id, generic_file.id, "pdf") %>
        <% @title = generic_file.label %>
        <% if @surrogate %>
            <%= link_to '#dri_pdf_viewer_modal_id', :'data-toggle' => 'modal', :'data-source' => @surrogate_pdf, :'data-title' => @title, :id => "view_pdf", :class => "view_pdf" do %>
              <img class="dri_carousel_img" src="<%= @surrogate %>">
            <% end %>
        <% end %>

    <% elsif generic_file.text? %>
        <% @surrogate = surrogate_url(document.id, generic_file.id, "pdf") %>
        <% @surrogate_pdf = surrogate_url(document.id, generic_file.id, "pdf") %>
        <% @title = generic_file.label %>
        <% if @surrogate %>
            <%= link_to '#dri_pdf_viewer_modal_id', :'data-toggle' => 'modal', :'data-source' => @surrogate_pdf, :'data-title' => @title, :id => "view_pdf", :class => "view_pdf" do %>
              <%= image_tag('PDF_Logo.png') %>
            <% end %>
        <% end %>

    <% elsif generic_file.image? %>
        <% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
        <% content_for :head do %>
            <meta property="og:image" content="<%= @surrogate %>" /> 
        <% end %>
        <% @surrogate_colorbox = surrogate_url(document.id, generic_file.id, "full_size_web_format") %>
        <% if @surrogate %>
            <% if document.published? && document.public_read? %>
              <% @iiif_sources << iiif_info_url(document.id, generic_file.id) %> 
              <%= link_to "#dri_iiif_view", class: 'dri_iiif' do %>
                  <img class="dri_carousel_img" src="<%= @surrogate %>">      
              <% end %>
            <% else %>
               <%= link_to @surrogate_colorbox, :class => 'dri_gallery group1' do %>
                  <img class="dri_carousel_img" src="<%= @surrogate %>">      
                <% end %>
            <% end %>    
        <% end %>
    <% end %>

    <% if @surrogate.blank? %>
        <h2 class="dri_restrict_title"><%= t('dri.views.catalog.legends.surrogate_not_available') %></h2>
        <p class="dri_restrict_message" id="asset_not_available">
          <% if generic_file.supported_type? %>
            <%= t('dri.views.catalog.legends.surrogate_not_available_why') %>
          <% else %>
            <%= t('dri.views.catalog.legends.surrogate_not_supported', mime_type: generic_file.mime_type) %>
          <% end %>
        </p>
    <% end %>
<% end %>

