<% @surrogate = nil %>
<% if generic_file.present? && !generic_file.preservation_only? %>

    <% if generic_file.audio? %>
        <% @surrogate_mp3 = @presenter.surrogate_url(generic_file.id, "mp3") %>
        <% @surrogate = @surrogate_mp3 %>
        <% if @surrogate %>
          <% @surrogate_ogg = @presenter.surrogate_url(generic_file.id, "ogg") %>
          <%= audio_tag [@surrogate_mp3, @surrogate_ogg], controls: true, autobuffer: true, class: 'dri_audio' %>
           <%= render partial: 'shared/object_show_single_audio_details', locals: { generic_file: generic_file } %>
        <% end %>

    <% elsif generic_file.video? %>
        <% @surrogate = @presenter.surrogate_url(generic_file.id, "mp4") %>
        <% if @surrogate %>
            <% @surrogate_webm = @presenter.surrogate_url(generic_file.id, "webm") %>
            <%= video_tag [@surrogate, @surrogate_webm], controls: true, class: "dri_video" %>
        <% end %>

    <% elsif generic_file.pdf? %>
        <% @surrogate = @presenter.surrogate_url(generic_file.id, "pdf") %>
        <% @title = generic_file.label %>
        <% if @surrogate %>
            <% @surrogate_thumb = @presenter.surrogate_url(generic_file.id, "thumbnail_large") %>

            <%= link_to '#dri_pdf_viewer_modal_id', :'data-toggle' => 'modal', :'data-source' => @surrogate, :'data-title' => @title, id: "view_pdf", class: "view_pdf" do %>
              <% if first %>
                <img class="dri_carousel_img" src="<%= @surrogate_thumb %>">
              <% else %>
                <img class="dri_carousel_img" data-src="<%= @surrogate_thumb %>">
              <% end %>
            <% end %>
        <% end %>

    <% elsif generic_file.text? %>
        <% @surrogate = @presenter.surrogate_url(generic_file.id, "pdf") %>
        <% @title = generic_file.label %>
        <% if @surrogate %>
            <%= link_to '#dri_pdf_viewer_modal_id', :'data-toggle' => 'modal', :'data-source' => @surrogate, :'data-title' => @title, id: "view_pdf", class: "view_pdf" do %>
              <%= image_tag('PDF_Logo.png') %>
            <% end %>
        <% end %>

    <% elsif generic_file.image? %>
        <% @surrogate = @presenter.surrogate_url(generic_file.id, "full_size_web_format") %>
        <% if @surrogate %>
            <% @surrogate_thumb = @presenter.surrogate_url(generic_file.id, "thumbnail_large") %>
            <% content_for :head do %>
              <meta property="og:image" content="<%= @surrogate_thumb %>" />
            <% end %>

            <% if document.published? && document.public_read? %>
              <% @iiif_sources << iiif_info_url(document.id, generic_file.id) %>
              <%= link_to "#dri_iiif_view", class: 'dri_iiif', data: { viewer_index: @iiif_sources.length - 1 } do %>
                  <img class="dri_carousel_img" src="<%= @surrogate_thumb %>">
              <% end %>
            <% else %>
               <%= link_to @surrogate, class: 'dri_gallery group1' do %>
                  <% if first %>
                    <img class="dri_carousel_img" src="<%= @surrogate_thumb %>">
                  <% else %>
                    <img class="dri_carousel_img" data-src="<%= @surrogate_thumb %>">
                  <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <% if @surrogate.blank? %>
        <h2 class="dri_restrict_title"><%= t('dri.views.catalog.legends.surrogate_not_available') %></h2>
        <p class="dri_restrict_message" id="asset_not_available">
          <% if generic_file.supported_type? %>
            <%= t('dri.views.catalog.legends.surrogate_not_available_why') %>
          <% else %>
            <%= t('dri.views.catalog.legends.surrogate_not_supported', mime_type: generic_file.mime_type) %>
          <% end %>
        </p>
    <% end %>
<% end %>

