<ul>

  <% collection = document.root_collection %>

  <% if collection %>

    <!-- If it's a root collection, we show all the objects within it -->
    <% if document.root_collection? %>
      <% collection_objects_params = { f: {ActiveFedora.index_field_mapper.solr_name('root_collection_id', :facetable).to_sym => [document[ActiveFedora.index_field_mapper.solr_name('root_collection_id', :stored_searchable, type: :string)].first]}, mode: "objects", search_field: "all_fields", view: "grid" } %>
    <% else %> <!-- else (sub-collection, we show only the objects that belong to this sub-collection) -->
      <% collection_objects_params = { f: {ActiveFedora.index_field_mapper.solr_name('ancestor_id', :facetable).to_sym => [document[:id]]}, mode: "objects", search_field: "all_fields", view: "grid" } %>
    <% end %>

    <h5>
      <i class="fa fa-folder-open"></i>&nbsp;<%= t('dri.views.catalog.forms.all_objects_in_collection') %>
    </h5>

  <% end %>

  <% if (objects_count > 0) %>

    <% image_count = document.type_count("image", published_only: true) %>
    <% text_count = document.type_count("text", published_only: true) %>
    <% audio_count = document.type_count("audio", published_only: true) %>
    <% video_count = document.type_count("video", published_only: true) %>
    <% mixed_count = document.type_count("mixed_types", published_only: true) %>
    <% _3d_count   = document.type_count_3d("3d", published_only: true) %>
  
      <li>
        <%= link_to search_catalog_path(collection_objects_params), id: 'collection_s_object' do %>
          <%= t("dri.data.types.all") %>
          <span class="dri_stat_num"><%= objects_count %></span>
        <% end %>
      </li>

      <% if (image_count > 0) %>
          <li>
            <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "image")) do %>
                <%= t("dri.data.types.Image") %>
                <span class="dri_stat_num"><%= image_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (audio_count > 0) %>
          <li>
            <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "audio")) do %>
                <%= t("dri.data.types.Sound") %>
                <span class="dri_stat_num"><%= audio_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (video_count > 0) %>
          <li>
            <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "video")) do %>
                <%= t("dri.data.types.MovingImage") %>
                <span class="dri_stat_num"><%= video_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (text_count > 0) %>
          <li>
            <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "text")) do %>
                <%= t("dri.data.types.Text") %>
                <span class="dri_stat_num"><%= text_count %></span>
            <% end %>
          </li>
      <% end %>
      
      <%if(_3d_count > 0) %>
       <li>
           <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "3d")) do %>
             <%= t("dri.data.types.3D")%>
             <span class = "dri_stat_num"><%=_3d_count%> </span>  
           <%end%>
      </li> 
      <%end%>
      <% if (mixed_count > 0) %>
          <li>
            <%= link_to main_app.search_catalog_path(get_collection_media_type_params(document, document[:id], "mixed_types")) do %>
                <%= t("dri.data.types.MixedType") %>
                <span class="dri_stat_num"><%= mixed_count %></span>
            <% end %>
          </li>
      <% end %>
<% end %>
</ul>
