<ul>

  <% collection = document.root_collection %>

  <% if collection %>

    <!-- If it's a root collection, we show all the objects within it -->
    <% if document.root_collection? %>
      <% collection_objects_params = { f: {'root_collection_id_ssi'.to_sym => [document['root_collection_id_ssi']]}, mode: "objects", search_field: "all_fields", view: "grid" } %>
    <% else %> <!-- else (sub-collection, we show only the objects that belong to this sub-collection) -->
      <% collection_objects_params = { f: {'ancestor_id_ssim'.to_sym => [document[:id]]}, mode: "objects", search_field: "all_fields", view: "grid" } %>
    <% end %>

    <h5>
      <i class="fa fa-folder-open"></i>&nbsp;<%= t('dri.views.catalog.forms.all_objects_in_collection') %>
    </h5>

  <% end %>

  <% if (objects_count > 0) %>

    <% image_count = @file_display_type_count["image"] %>
    <% text_count = @file_display_type_count["text"] %>
    <% audio_count = @file_display_type_count["audio"] %>
    <% video_count = @file_display_type_count["video"] %>
    <% mixed_count = @file_display_type_count["mixed_types"] %>
    <% _3d_count   = @file_display_type_count["3d"] %>

      <li>
        <%= link_to search_catalog_path(collection_objects_params), id: 'collection_s_object' do %>
          <%= t("dri.data.types.all") %>
          <span class="dri_stat_num"><%= objects_count %></span>
        <% end %>
      </li>

      <% if (image_count) %>
          <li>
            <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "image")) do %>
                <%= t("dri.data.types.Image") %>
                <span class="dri_stat_num"><%= image_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (audio_count) %>
          <li>
            <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "audio")) do %>
                <%= t("dri.data.types.Sound") %>
                <span class="dri_stat_num"><%= audio_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (video_count) %>
          <li>
            <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "video")) do %>
                <%= t("dri.data.types.MovingImage") %>
                <span class="dri_stat_num"><%= video_count %></span>
            <% end %>
          </li>
      <% end %>

      <% if (text_count) %>
          <li>
            <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "text")) do %>
                <%= t("dri.data.types.Text") %>
                <span class="dri_stat_num"><%= text_count %></span>
            <% end %>
          </li>
      <% end %>

      <%if(_3d_count) %>
       <li>
           <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "3d")) do %>
             <%= t("dri.data.types.3D")%>
             <span class = "dri_stat_num"><%=_3d_count%> </span>
           <%end%>
      </li>
      <%end%>
      <% if (mixed_count) %>
          <li>
            <%= link_to main_app.search_catalog_path(collection_media_type_params(document, document[:id], "mixed_types")) do %>
                <%= t("dri.data.types.MixedType") %>
                <span class="dri_stat_num"><%= mixed_count %></span>
            <% end %>
          </li>
      <% end %>
<% end %>
</ul>
