 <% unless @presenter.displayfiles(@assets).empty? %>

  <!-- display the asset carousel -->
  <div class="dri_asset_holder">
    <%= render partial: "shared/object_show_carousel", locals: {document: @document, displayfiles: @presenter.displayfiles(@assets)} %>
  </div> <!-- ending dri_asset_holder -->

  <div class="modal fade dri_pdf_view" id="dri_pdf_viewer_modal_id">
    <div class="modal-dialog" style="margin: 2.5vh auto;">
      <div class="modal-content">
        <div class="modal-header" id="dri_pdf_header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body" style="height: calc(80vh - 210px);">
          <p><%= t('dri.views.catalog.legends.surrogate_not_viewable') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="dri_button_grey" data-dismiss="modal">
            <%= t('dri.window.modal.close') %>
            </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>

<div class="modal fade" id="dri_download_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('dri.views.catalog.forms.download') %></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="dri_button_grey" data-dismiss="modal">
          <%= t('dri.window.modal.close') %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
