<div class="dri_sidenav">
	<h5><i class="fa fa-lg fa-gear"></i>&nbsp;<%= t('dri.views.catalog.titles.object_tools') %> </h5>
	<!-- close vc_title -->

	<ul>
      <% if current_or_guest_user && controller_name != 'my_collections' %>
          <%= render_show_doc_actions %>
		  <li>
			  <% if @document.collection? %>
			    <%= link_to t('dri.views.catalog.forms.manage_bookmark'), bookmarks_path({mode: 'collections', view: 'grid', show_subs: true}), :tabindex => "-1", id: "manage_bookmark" %>
			  <% else %>
			    <%= link_to t('dri.views.catalog.forms.manage_bookmark'), bookmarks_path({mode: 'objects', view: 'grid'}), tabindex: "-1" %>
			  <% end %>
		  </li>
		<% end %>

		<% if @document.has_geocode? %>
		  <li>
			  <%= link_to t('dri.views.catalog.forms.map'), maps_path(@document.id, request_controller: controller_name), id: "logainm_map", :'data-bs-toggle' => 'modal',  :'data-bs-target' => '#dri_map_modal_id' %>
		  </li>
		<% end %>

		<li>
			<%= link_to t('dri.views.catalog.forms.metadata_full'), object_metadata_path(@document.id, format: 'js'), id: "styled_metadata", remote: true, :'data-bs-toggle' => 'modal',  :'data-bs-target' => '#dri_metadata_modal_id' %>
		</li>

		<li>
			<%= link_to t('blacklight.tools.endnote'), object_path(@document, format: 'endnote') %>
		</li>

		<li>
			<%= link_to t('blacklight.tools.cite'), citation_object_path(@document), id: 'show_citation', remote: true, :'data-bs-toggle' => 'modal',  :'data-bs-target' => '#dri_citation_modal_id' %>
		</li>

		<% if @document.has_aggregation_data? && @document.public_read? && !@assets.empty? && @document.valid_edm? %>
			<li>
				<%= link_to t('dri.views.catalog.forms.europeana_link'), Settings.transcribathon.link_item + Aggregation.find_by(collection_id: @document.root_collection_id).aggregation_id + '/_' + @document.id, :target => '_blank' %>
			</li>
		<% end %>

		<% if (can? :edit, @document) %>
		  <li>
			  <%= link_to t('dri.views.catalog.links.history'), object_history_path(@document.id), id: 'show_object_history_report' %>
		  </li>
		<% end %>

		<% if @document.published? && @document.public_read? %>
		  <% @available = true %>
		  <% @li_class = "dri_formats" %>
		<% else %>
      <% @li_class = "dri_formats_spacing" %>
    <% end %>

    <%= content_tag(:li, nil, class: @li_class) do %>
    	<%=
	    	link_to(
		    	image_tag("rdf_icon.png", title: t('dri.help.dri_view_rdf')),
		    	search_state.url_for_document(@document.id, format: :ttl),
		    	target: :_blank
		    )
		  %>
  		<%
	  		# if it's an object with images, show the manifest
	  		# if it's a collection containing images, show the images as a sequence
  			iiif_path = if !@document.collection? && @document.contains_images?
					    	iiif_manifest_url(@document.id, format: :json)
					    elsif @document.collection? && @document.collection_contains_published_images?
					    	iiif_collection_sequence_url(@document.id, format: :json)
					    else
					    	nil
					    end
			@iiif_full_path = iiif_path ? "#{Rails.application.config.mirador_url}?manifest=#{iiif_path}" : nil
  		%>
  		    <% if @iiif_full_path && @available %>
  			  <%=
    			link_to(
	    			image_tag('iiif_logo.png', title: t('dri.help.dri_view_iiif'), alt: 'Iiif logo'),
				    @iiif_full_path,
	    		    target: :_blank
    			)
  			  %>
  			<% end %>
		<% end %>
  </ul>
</div>

<div class="modal fade" id="dri_citation_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('blacklight.tools.cite') %></h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dri_metadata_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('dri.views.catalog.forms.metadata_full') %></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<%= link_to t('dri.views.catalog.buttons.download_metadata_xml'),
				    object_metadata_path(@document.id, format: :xml), {id: "download_metadata", class: "btn btn-default"}
				%>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dri_map_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('dri.views.catalog.forms.map') %></h4>
			</div>
			<div class="modal-body" id="map_container"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

