<h2><%= t('dri.views.ingest.steps.collection') %></h2>

<%= form_tag :action=>"create" do %>
  <%= select_tag "ingestcollection",  options_for_select(get_collections), :prompt => t('dri.views.ingest.forms.collection_prompt'), :required => "true" %>
  <%= submit_tag t('dri.views.ingest.buttons.continue'), :class => "btn-primary btn-large", :id => "continue" %>

<% end %>

<%= button_to t('dri.views.ingest.buttons.new_collection'), new_collection_path, :id => "new_collection", :class => "btn", :method => :get %>
