<table id="datatable_user_activity" class="display" data-source="<%= activity_url(report: "user", format: "json", protocol: Rails.application.config.action_mailer.default_url_options[:protocol]) %>">
  <thead>
    <tr>
      <th><%= t('dri.datatables.activity.updated_at') %></th>
      <th><%= t('dri.datatables.user_activity.type') %></th>
      <th><%= t('dri.datatables.user_activity.item') %></th>
      <th><%= t('dri.datatables.user_activity.event') %></th>
      <th><%= t('dri.datatables.user_activity.object') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>