<table id="datatable_activity" class="display" data-source="<%= activity_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= t('datatables.activity.updated_at') %></th>
      <th><%= t('datatables.activity.object_id') %></th>
      <th><%= t('datatables.activity.type') %></th>
      <th><%= t('datatables.activity.in_collection') %></th>
      <th><%= t('datatables.activity.committer') %></th>
      <th><%= t('datatables.activity.status') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>