<div class="dri_about_container">
	<div class="dri_about_01">
		<h1> CREATE ARCHIVE SHARE. </h1>

	</div>
	<div class="dri_about_02">
		<h4> The Digital Repository of Ireland is the national trusted digital

		repository for social and cultural data – both contemporary and

		historical – held by Irish institutions. </h4>

	</div>
	<div class="dri_about_03">

		<h4>Sign Up to become a user of DRI</h4>

		<p>
			If you would like increased functionality – e.g. to save your

			searches or discovered objects – or to request authorisation

			to access certain restricted collections, click here to apply for a

			username.
		</p>
		<div class="dri_green_button" >
			<%= link_to t('dri.application.home.links.register_dri'), user_group.new_user_path %>
		</div>

	</div>
	<div class="dri_about_04">
		<p>
			About the Repository
		</p>

	</div>
	<div class="dri_about_05">
		<p>
			We are Ireland’s national trusted digital repository for social and

			cultural data; as such, we archive, preserve, link, and provide

			access to a wealth of content across the humanities and social

			sciences. When you explore or search this repository, you are

			entering a world of rich content that reflects and shapes a broad

			portrait of Ireland.
		</p>
		<p>
			Through this single portal, you can view both historical and

			contemporary content that spans a wide variety of formats.

			Currently, we have sound files, sharp and luscious photographs,

			historical documents, high quality images of art works,

			publications, and more. As we progress past our current pilot

			phase, we will continue to add more collections from different

			institutions, and to expand picture of Ireland presented by the

			user.
		</p>
		<p>
			We have created this repository with two central purposes: to

			preserving Ireland’s digital heritage over the long term, and to

			provide access to that heritage to you, the user. Please enjoy

			browsing and searching the available content.
		</p>
		<div class="dri_about_06b">
			<h3><span class="dri_colour_text">Explore</span> the wealth of collections available on DRI</h3><br />
		</div>
	</div>
	<div class="dri_about_06a">
		<div class="dri_about_06">

		</div>


	</div>

	<div class="dri_about_07">
		<h1>Who we are</h1>
		<p>
			The Digital Repository of Ireland is funded by the Higher

			Education Authority (HEA) through a PRTLI Cycle 5 grant.

			The project is built by a research consortium of six academic

			partners, including the Royal Irish Academy (RIA, lead institute),

			National University of Ireland, Maynooth (NUIM), Trinity College

			Dublin (TCD), Dublin Institute of Technology (DIT), National

			University of Ireland, Galway (NUIG), and National College of Art

			and Design (NCAD). At present, the DRI has 36 staff members

			drawn from a wide variety of backgrounds, including

			software engineers, digital archivists and librarians, policy

			and requirements specialists, social scientists and humanities

			scholars.
		</p><br />

	</div>
	<div class="dri_about_08">
		<h1>Policy</h1>
		<p>
			The DRI is a repository, but it is also a research project into

			best practices in digital archiving and preservation. We are

			committed to the open sharing of our practices and discoveries

			with the community. For some quick facts about digital

			preservation and DRI, please see the first issues of our Digital

			Repository of Ireland Fact Sheet series:
		</p>

		<ul>
			<li>
				<%= link_to "#{main_app.root_url}/assets/factsheets/Fact%20Sheet%20No%201%20Metadata%20ver%206.pdf", :target => "_blank" do %>Metadata and the DRI<% end %>
			</li>
			<li>
				<%= link_to "#{main_app.root_url}/assets/factsheets/Fact%20Sheet%20No%202%20Copyright%20and%20Licensing%20ver%203.pdf", :target => "_blank" do %>Copyright and Licensing<% end %>
			</li>
			<li>
				<%= link_to "#{main_app.root_url}/assets/factsheets/Fact%20Sheet%20No%203%20File%20Formats%20ver%202.pdf", :target => "_blank" do %>File Formats<% end %>
			</li>
			<li>
				<%= link_to "#{main_app.root_url}/assets/factsheets/Fact%20Sheet%20No%204%20Long%20term%20digital%20preservation%20ver%201.pdf", :target => "_blank" do %>Long term digital preservation<% end %>
			</li>
		</ul>

	</div>
	<br />
	<div class="nested">
		<div class="dri_about_09">
			<%= link_to "http://apps.dri.ie/locationLODer/", :target => "_blank" do %><h2>Location LODer Live &raquo;</h2><% end %>
		</div>
		<div class="dri_about_10">
			<%= link_to "http://www.inspiring-ireland.ie/", :target => "_blank" do %><%= image_tag("dri/institutes/ii_live_about.png", :alt=>"Hardiman Atlas" ) %><% end %>
		</div>
	</div>

</div>