<div id="dri_about_id" class="dri_about">
	<div class="dri_about_banner">
		<%= image_tag("dri/about/dri_about_banner.png", :alt=>"PRESERVATION ACCESS BISCOVER Banner Image" ) %>
	</div>
	<div>
		<div class="dri_about_text_row">
			<div class="dri_about_repository">

				<h5>About the Repository</h5>

				<p>
					As a trusted national infrastructure for Ireland’s social and cultural heritage, we preserve, curate,

					and provide sustained access to a wealth of Ireland’s humanities and social sciences data.

					When you explore or search the repository, you are entering a world of rich content that reflects

					and shapes a broad portrait of Ireland.</p><p>

					Through this single portal, you can view historical and contemporary content from across

					institutions, domains, and formats. From the same search window, you can browse artworks

					and hear fascinating life histories, read cherished old letters and listen to music and archived

					broadcasts, or dig through business records and ephemera. There are sound files, sharp and

					luscious photographs, videos, historical documents, high quality images, publications, and more.

					</p><p>We have created this repository with two central purposes: to preserve Ireland’s digital heritage

					for the long term, and to provide you, the user, with access to that heritage. Please enjoy browsing

					and searching the available content.</p>
				</p>
				<%= link_to '' do %>
				<%= image_tag("dri/about/dri_about_explore_strap.png", :alt=>"PRESERVE" ) %>
				<% end %>
			</div>
			<div class="dri_about_who">
				<h5> Who we are </h5>
				<p>
					The Digital Repository of Ireland is a research

					organisation with staff members from a wide

					variety of backgrounds, including software

					engineers, designers, digital archivists and

					librarians, data curators, digital imaging

					experts, policy and requirements specialists,

					educators, social scientists and humanities

					scholars. DRI has been built by a research

					consortium of six academic partners:

					Royal Irish Academy (RIA, lead institute),

					Maynooth University (MU), Trinity College

					Dublin (TCD), Dublin Institute of Technology

					(DIT), National University of Ireland, Galway

					(NUIG),and National College of Art and Design

					(NCAD). The Digital Repository of Ireland is

					funded by the Higher Education Authority

					(HEA) through a PRTLI Cycle 5 grant.
				</p>
			</div>
		</div>
		<div class="dri_about_last_row">
			<div class="dri_about_lifecycle_container">
				<div class="dri_about_lifecycle_infographic">
				<%= link_to '' do %>
				<%= image_tag("dri/about/dri_about_lifecycle_infographic.png", :alt=>"PRESERVE" ) %>
				<% end %>
				</div>
				<div class="dri_about_lifecycle_text">
				<h6>Connect with DRI</h6>
				<p>
					We are Ireland’s national trusted digital repository for social and

					cultural data; as such, we archive, preserve, link, and provide

					access to a wealth of content across the humanities and social

					sciences. When you explore or search this repository, you are

					entering a world of rich content that reflects and shapes a broad

					portrait of Ireland.
				</p>
				</div>

			</div>
				<div class="dri_about_demo">
				<%= link_to "http://demo.dri.ie/" do %><%= image_tag("dri/about/dri_about_demo_logo.png", :alt=>"DRI Demostrator Projects" ) %><% end %>
				</div>
				<div class="dri_about_ii">
				<%= link_to "http://www.inspiring-ireland.ie/", :target => "_blank" do %><%= image_tag("dri/institutes/ii_live_about.png", :alt=>"Inspiring Ireland" ) %><% end %>
				</div>
		</div>

	</div>
