<% @page_title = 'DRI Lifecycle' %>
<div id="dri_about_id" class="dri_about_container2">
	<div class="dri_about_title_top">
		About: DRI Lifecycle
	</div>
	<div class="dri_about_col01">
		<div class="dri_about_content">
			<h5> Step 1: Evaluate your Collection </h5>
			<p>
				Duis id enim eget massa congue sodales in vitae mi. Fusce et nisi nulla. Praesent consectetur, tellus vitae egestas aliquet, dolor nisl pulvinar felis, porta molestie metus erat eu tellus. Aenean posuere interdum magna, at elementum neque. Mauris auctor in nulla sit amet placerat. Quisque lobortis sagittis iaculis. In mi massa, vehicula ac commodo cursus, consectetur ac eros. Nam at massa dolor. Nulla laoreet ullamcorper varius. Etiam finibus lorem quis tincidunt blandit.
			</p>
			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
			<%= image_tag("dri/about/dri_about_preserve.png", :alt=>"PRESERVE" ) %>
			<h5> Step 2: Data Preparation </h5>
			<%= image_tag("dri/about/dri_about_preparation.png", :alt=>"PREPARATION" ) %>
			<p>
				Aliquam accumsan, purus eget maximus interdum, tortor nulla mollis quam, sit amet lacinia turpis mauris eu ex. Curabitur pellentesque neque eget eros consequat mollis. Vivamus eu mi tortor. Nunc sed maximus lacus. Etiam sed condimentum tellus. Duis eros orci, tincidunt eget interdum quis, scelerisque gravida nunc. Mauris sagittis at metus eu consequat. Praesent id turpis placerat, eleifend libero vel, faucibus ante.
			</p>
			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
			
		</div>

	</div>
	<div class="dri_about_col02">
		<div class="dri_about_content">
			<h5> Step 3: Understanding Adminstrative Roles </h5>
			<p>
				Sed eget ex ut turpis tempus feugiat in at arcu. Duis pharetra augue vitae purus ornare, ut rutrum ligula laoreet. Suspendisse non mattis purus, quis pretium augue. Nunc in aliquet magna. Quisque eget pharetra nunc. Nullam fringilla tellus ac velit gravida pretium. Proin quis enim et mi tincidunt ullamcorper id eu elit. Etiam scelerisque aliquam metus quis sollicitudin. Etiam non ligula et eros placerat commodo vel eu est. Aliquam tristique condimentum libero sit amet maximus. Maecenas dictum in massa vel pellentesque. Phasellus tincidunt eget urna vel venenatis. Sed ac elit vitae mi consequat hendrerit. Morbi aliquet commodo mollis. Nam ultricies, diam eget aliquam condimentum, dui eros venenatis lacus, sed ornare ligula lectus vel ante.
			</p>
			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
			<%= image_tag("dri/about/dri_about_roles.png", :alt=>"ROLES" ) %>
			<h5> Step 4: Curabitur pellentesque </h5>

			<p>
				Duis id enim eget massa congue sodales in vitae mi. Fusce et nisi nulla. Praesent consectetur, tellus vitae egestas aliquet, dolor nisl pulvinar felis, porta molestie metus erat eu tellus. Aenean posuere interdum magna, at elementum neque. Mauris auctor in nulla sit amet placerat. Quisque lobortis sagittis iaculis. In mi massa, vehicula ac commodo cursus, consectetur ac eros. Nam at massa dolor. Nulla laoreet ullamcorper varius. Etiam finibus lorem quis tincidunt blandit.
			</p>

			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
			<%= image_tag("dri/about/dri_about_ingestion.png", :alt=>"INGESTION" ) %>
		</div>
	</div>
	<div class="dri_about_col03">
		<div class="dri_about_content">

			<h5>Step 5: Publish</h5>
				<%= image_tag("dri/about/dri_about_publishing.png", :alt=>"PUBLISHING" ) %>

			<p>
				Proin posuere pharetra lacus eu congue. Suspendisse rhoncus odio arcu, porttitor mollis risus bibendum in. Pellentesque lacinia ac dolor eu scelerisque. Nam et enim nec nisi condimentum placerat. Integer luctus nibh at nunc fermentum, quis hendrerit lectus iaculis. Proin blandit aliquam felis vitae sodales. Suspendisse semper, lorem vel dapibus vestibulum, dui arcu feugiat eros, eget efficitur mauris enim at nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dolor arcu, ullamcorper et dui a, suscipit accumsan nunc. Ut et purus ut ipsum porttitor porttitor sed eget mauris. Nunc lacinia ligula eget ipsum interdum dignissim. Donec ut fringilla nulla. Sed laoreet, nulla eget tempor eleifend, nulla mi convallis risus, eu commodo nibh dui non nulla. Curabitur in sagittis neque, vitae dictum sem. Donec nec lacinia nunc.
			</p>

			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
		

			<h5>Step 6: Publish</h5>

			<p>
				Donec feugiat porta sem, eget ornare odio rhoncus vel. Aliquam a lorem diam. Vestibulum eget lorem tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean nec mauris sit amet purus sagittis lobortis quis vitae leo. In hac habitasse platea dictumst. Fusce ultrices, nisl sed lobortis varius, ante nisl finibus quam, accumsan molestie risus elit faucibus purus.
			</p>

			<h6>Resources</h6>
			<ul>
				<%= link_to '' do %>
				<li>
					Maximus Interdum
				</li>
				<% end %>
				<%= link_to '' do %>
				<li>
					Praesent Consectetur
				</li>
				<% end %>
			</ul>
			<%= image_tag("dri/about/dri_about_depositing.png", :alt=>"DEPOSITING" ) %>
		</div>

	</div>
</div>