<% @institutes = InstituteHelpers.get_all_institutes %>

<% institute_browse_params = { :mode => "collections", :search_field => "all_fields", :view => "grid", :f => {} } %>
<% @institutes.each_with_index do |institute, i| %>
    <% collection_count = get_institute_collection_counts institute[:name].to_s.html_safe %>
    <div class="dri_collection_institutes_pages
        <% if (i != 0) %>
            <%= "not_first" %>
        <% end %>
    ">
      <% institute_browse_params[:f] = { :institute_sim => [institute[:name].to_s.html_safe] } %>
      <%= link_to main_app.catalog_index_path(institute_browse_params) do %>
          <div class="dri_collection_institutes_pages_img">
            <% if (!institute[:logo].blank?) %>
                <%= image_tag institute[:logo], alt: institute[:name].to_s.html_safe %>
            <% end %>
          </div>
          <div class="dri_collection_institutes_pages_text" >
            <h6>
              <%= institute[:name].to_s.html_safe %>
            </h6>
            <p><%= t('dri.headerlinks.collections') %>
              <span class="dri_bold_text">
                <%= "(#{collection_count})" %>
              </span>
            </p>
          </div>
      <% end %>
    </div>
<% end %>