<div class="dri_ingest_form_container">
  <div class="dri_ingest_form" style="width: 100%">

    <%= form_for @licence, html: { id: "dri_new_licence_form", multipart: true }  do |f| %>
      <fieldset>
        <%= f.label "#{t('dri.views.licences.forms.name')}:" %>
        <%= f.text_field :name %>
      </fieldset>

      <fieldset>
        <%= f.label "#{t('dri.views.licences.forms.url')}:" %>
        <%= f.text_field :url %>
      </fieldset>

      <fieldset>
        <%= f.label "#{t('dri.views.licences.forms.logo')}:" %>
        <%= f.text_field :logo %>
      </fieldset>

      <fieldset>
        <%= f.label "#{t('dri.views.licences.forms.description')}:" %>
        <%= f.text_field :description %>
      </fieldset>

      <%= f.submit id: 'add_licence', class: 'dri_button_green dri_w330' %>

    <% end %>
  </div>
</div>
