<article class="block5">
  <div class="dri_content_list_collection">
    <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
        <div class="dri_collection_image">
          <% image = cover_image ( document ) %>
          <% unless image.nil? %>
              <%= image_tag image, :width=>"228" %>
          <% else %>
              <%= image_tag "no_image.png", :width=>"228" %>
          <% end %>
        </div>
    <% end %>
    <!-- close image -->

    <div>
      <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
          <h1><%= document[:title_tesim][0] %></h1>
      <% end %>
      <p>
        <%= truncate_description(document[:description_tesim][0], 280).html_safe %>
      </p>
      <p class="dri_publishing_institute">
        <% unless document[:institute_tesim].nil? %>
            <% document[:institute_tesim].each do |institute| %>
                <%= institute %>
            <% end %>
        <% end %>
      </p>
      <%= link_to (catalog_index_path(:collection => document[:id], :mode => "objects", :search_field => "all_fields")) do %>
          <div class="dri_num_list_objects">
            <span class="dri_object_text_num">
              <%= t('dri.views.catalog.forms.objects_in_collection') + " " + count_items_in_collection(document[:id]).to_s %>
            </span>
          </div>
      <% end %> <!-- close dri_num_objects -->
    </div>
  </div>
  <!-- close content_block -->
</article>