<article class="dri_result_object dri_clearfix">
  <div class="dri_content_list_collection">
    <div class="dri_content_list_collection_data">
      <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
          <h4><%= document[:title_tesim][0] %></h4>
      <% end %>
      <p class="dri_list_description">
        <%= truncate_description(document[:description_tesim][0], 280).html_safe %>
      </p>
      <p class="dri_list_subject">
        <% if document[:subject_tesim] %>
            <% document[:subject_tesim].each do |subject| %>
                <%= subject %> <% if !document[:subject_tesim].last %> , <% end %>
            <% end %>
        <% else %>
            n/a
        <% end %>
      </p>
      <div class="dri_list_icon">
        <% unless format?(document).eql?("unknown") %>
            <span class="dri_icon_image"><%= image_tag(icon_path(document)) %> &nbsp; <%= get_document_type document %></span>
        <% else %>
            <span class="dri_icon_text"><%= document[:object_type_ssm].first %></span>
        <% end %>
      </div>
      <!-- close dri_icon -->
    </div>
    <% get_cover_image document %>
    <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
        <div class="dri_image">
          <%= image_tag @cover_image, :width=>"200" %>
        </div><!-- close image -->
    <% end %>

    <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
        <%= link_to 'remove bookmark', bookmark_path(document.id), method: :delete, :id => 'remove_bookmark' %>
    <% end %>
  </div>
  <!-- close content_block -->
</article>