
<article class="block5" id="<%= document.id.to_s %>">
  <div class="dri_content_block">
           <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
     
                <%= link_to bookmark_path(document.id), method: :delete, :id => 'remove_bookmark' do %>
                                <span class="dri_remove_bookmark">x</span>
                <span class="dri_remove_bookmark_back"><i class="fa fa-circle"></i></span>
                <% end %>
            <% end %>
    <% get_cover_image document %>
    <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
        <h1><%= document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym][0] %></h1>
        <div class="dri_image">

          <%= image_tag @cover_image, :width=>"200" %>
        </div><!-- close image -->
    <% end %>

    <p class="dri_subject">
      <% if document[Solrizer.solr_name('subject', :stored_searchable, type: :string).to_sym] %>
          <% document[Solrizer.solr_name('subject', :stored_searchable, type: :string).to_sym].each do |subject| %>
              <% unless uri?(subject) %> <%= subject %> <% end %>
              <% unless document[Solrizer.solr_name('subject', :stored_searchable, type: :string).to_sym].last == subject || uri?(subject) %> | <% end %>
          <% end %>
      <% else %>
          n/a
      <% end %>
    </p>

    <div class="dri_icon">
      <% unless get_document_type(document).eql?(t("dri.data.types.Unknown")) %>
          <span class="dri_icon_image"><%= image_tag(icon_path(document)) %> &nbsp; <%= get_document_type document %></span>
      <% else %>
          <span class="dri_icon_text"><%= document[Solrizer.solr_name('object_type', :displayable, type: :string).to_sym].first %></span>
      <% end %>
    </div>
    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
