<article class="block5">
<div class="dri_content_block">

<%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>

<h2 class-"dri_editor"><!-- Creator -->
  <% if document[:creator_tesim] %>
	  <a href="#"><%= document[:creator_tesim].first %></a>
	<% else %>
	  n/a
	<% end %>
</h2>

<h2 class="dri_editor"><!-- Subjects -->
  <% if document[:subject_tesim] %>

      <% document[:subject_tesim].each do |subject| %>
        <%= subject %>,
      <% end %>

  <% else %>
    n/a
  <% end %>
</h2>
<div class="dri_icon">
  <span class="dri_icon_image"><%= image_tag("dri/formats/#{document[:type_tesim].first.downcase}_icon.png") %></span>
  <span class="dri_icon_text"><%= document[:type_tesim].first %></span>
</div>
<!-- close dri_icon -->

</div><!-- close content_block -->
</article>
