<% if collection?(document) %>
    <article class="block5">
      <div class="dri_content_block_collection">
        <%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
            <div>
              <div class="dri_collection_image">

                <% image = cover_image ( document ) %>
                <% unless image.nil? %>
                    <%= image_tag image, :width=>"228" %>
                <% else %>
                    <%= image_tag "no_image.png", :width=>"228" %>
                <% end %>

              </div>
              <!-- close image -->

              <h1><%= document[:title_tesim][0] %></h1>
              <p class="dri_publishing_institute">
                <% document[:rights_tesim].each do |rights| %>
                    <%= rights %>
                <% end %>
              </p>
            </div>
        <% end %>
        <%= link_to (catalog_index_path(:collection => document[:id], :mode => "objects", :search_field => "all_fields")) do %>
            <div class="dri_num_objects">
              <span class="dri_object_text_num"> <%= t('dri.views.catalog.forms.objects_in_collection') + " " + count_items_in_collection(document[:id]).to_s %> </span>
            </div>
        <% end %> <!-- close dri_num_objects -->
      </div>
      <!-- close content_block -->
    </article>

<% else %>

    <article class="block5">

      <div class="dri_content_block">
        <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>
        <p class="dri_subject">

          <% if document[:subject_tesim] %>
              <% document[:subject_tesim].each do |subject| %>
                  <%= subject %> <% if !document[:subject_tesim].last %> , <% end %>
              <% end %>
          <% else %>
              n/a
          <% end %>

        </p>

        <div class="dri_icon">
          <% unless format?(document).eql?("unknown") %>
              <span class="dri_icon_image"><%= image_tag(icon_path(document)) %> &nbsp; <%= document[:file_type_display_tesim][0].to_s %></span>
          <% else %>
              <span class="dri_icon_text"><%= document[:object_type_ssm].first %></span>
          <% end %>
        </div>
        <!-- close dri_icon -->
      </div>
      <!-- close content_block -->
    </article>

<% end %>
