<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>

    <div id="facets" class="facets sidenav dri_facet_filters" data-content="<%= t('dri.help.facets') %>" data-original-title="<%= t('dri.help.facets_title') %>" data-trigger="hover" data-placement="top">

      <div class="dri_head_title"><%= t('blacklight.search.facets.title') %>      <span class="dri_search_num"><%= @response.response[:numFound] %></span></div>

      <div class="facets-collapse">
        <%= render_facet_partials %>
      </div>
    </div>

<% end %>

