<% # main container for facets/limits menu -%>
<% if facets_from_request(facet_field_names, @response).any?  %>
  <div id="facets" class="facets sidenav dri_facet_filters dropdown" data-bs-content="<%= t('dri.help.facets') %>" title="<%= t('dri.help.facets_title') %>" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top">
	  <div class= "panel-heading">
		<h3 class="dri_head_title">
			<a class="dropdown-toggle" data-bs-toggle="collapse" href="#facet-panel-collapse" aria-expanded="false" aria-controls="Collapse Facets" > <%= t('blacklight.search.facets.title') %>
				<span class="dri_search_num" id="browse_results_count"><%= @response.response[:numFound] %></span>
			</a>
		</h3>
	  </div>
    <div id="facet-panel-collapse" class="panel-group facet-non-md collapse in show" aria-expanded="false" role="button">
	    <%= render_facet_partials facet_field_names, response: @response %>
	  </div>
  </div>
<% end %>
