<div id="dri_second_navigation_container_id" class="dri_second_navigation_container">
<%= render "socialmedia/twitter_feed" %>
</div>
<div id="dri_result_container_id" class="dri_result_container">
			<div id="dri_welcome_block_id" class="dri_welcome_block"><h1><%= t('dri.application.home.introtext.public') %></h1><p><%= t('blacklight.welcome') %></p>
			<p class="dri_home_link"><a href="http://dri.ie">Visit the DRI Website</a></p>
			<p class="dri_home_link"><a href="http://dri.ie/news">Read our News</a></p>
            <p class="dri_home_link"><a href="/v1/user_groups/users/new">Sign Up Now!</a></p>
            </div><!-- dri_welcome_block -->
            
			<div id="dri_slideshow_block_id" class="dri_slideshow_block"><a href="/v1/catalog/dri:1n79h8554"><%= image_tag("dri/ulysses.png", :width=>"320", :alt=>"slideshow_placeholder_image" ) %></a></div>
				<div class="dri_home_title dri_clearfix">
					<h2>Featured Collections</h2>
                    <div class="dri_border_bottom">&nbsp;  </div>
				</div>
				<!-- close dri_home_title -->
<article class="block5">
  <div class="dri_content_block_collection">
    <div class="dri_image">
        <img alt="0c483k077" src="http://objects.dri.ie/coverimages/0c483k077.png" width="228">
    </div> <!-- close image -->

    <h1><a href="/v1/catalog/dri:0c483k077" data-counter="5" data-search_id="446">Inspiring Ireland - National Library of Ireland</a></h1>  
    <p class="dri_publishing_institute">
      <a>
        Reproduction rights owned by National Library of Ireland
      </a>
    </p>

    <div class="dri_num_objects">
      <span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">15</a></span>
   </div>
   <!-- close dri_num_objects -->
  </div>
  <!-- close content_block -->
</article>
<article class="block5">
  <div class="dri_content_block_collection">
    <div class="dri_image">
        <img alt="0c483k05p" src="http://objects.dri.ie/coverimages/0c483k05p.png" width="228">
    </div> <!-- close image -->

    <h1><a href="/v1/catalog/dri:0c483k05p" data-counter="7" data-search_id="446">Inspiring Ireland - Irish Museum of Modern Art</a><form method="POST" action="/v1/catalog/dri:0c483k05p" style="display: none;"><input type="hidden" name="counter" value="7"><input type="hidden" name="search_id" value="446"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="IeJrQJxRl/dr4ZdDWfO4ZMaqjMdSHyINuhERNxvDh90="></form></h1>  
    <p class="dri_publishing_institute">
      <a>
        Copyright the artists. All rights reserved.
      </a>
    </p>

    <div class="dri_num_objects">
      <span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">14</a></span>
   </div>
   <!-- close dri_num_objects -->
  </div>
  <!-- close content_block -->
</article>
<article class="block5">
  <div class="dri_content_block_collection">
    <div class="dri_image">
        <img alt="0c483k034" src="http://objects.dri.ie/coverimages/0c483k034.png" width="228">
    </div> <!-- close image -->

    <h1><a href="/v1/catalog/dri:0c483k034" data-counter="9" data-search_id="446">Inspiring Ireland - Crawford Art Gallery</a></h1> 
    <p class="dri_publishing_institute">
      <a>
        © Crawford Art Gallery, Cork.
      </a>
    </p>

    <div class="dri_num_objects">
      <span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">15</a></span>
   </div>
   <!-- close dri_num_objects -->
  </div>
  <!-- close content_block -->
</article>

				<div class="dri_home_title">
					<h2>Newly Added</h2>
                     <div class="dri_border_bottom">&nbsp;  </div>
                    
				</div>
				<!-- close dri_home_title -->
           
               
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>This is a title for an object</h1>
							<div class="dri_image">
								<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						 <p class="dri_subject">
							<a>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt </a>
						</p>
						<div class="dri_icon">
                       		 <span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
							<span class="dri_icon_text">Audio</span>
						</div>
						<!-- close dri_icon -->
					</div>
					<!-- close content_block -->
				</article>
				<article class="block5">
							<div class="dri_content_block">
						<a href="#">
							<h1>This is a title for an object</h1>
							<div class="dri_image">
								<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
                       <p class="dri_subject">
							<a>Sed ut perspiciatis, Voluptatemaccusantium, Eaque ipsa quae, Sed ut perspiciatis,</a>
						</p>
						<div class="dri_icon">
                       		 <span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
							<span class="dri_icon_text">Audio</span>
						</div>
						<!-- close dri_icon -->
					</div>
					<!-- close content_block -->
				</article>
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>This is a title for an object</h1>
							<div class="dri_image">
								<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
					 	<p class="dri_subject">
							<a>Sed ut perspiciatis, Voluptatem accusantium, Eaque ipsa quae, Sed ut perspiciatis,</a>
						</p>
						<div class="dri_icon">
                       		 <span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
							<span class="dri_icon_text">Audio</span>
						</div>
						<!-- close dri_icon -->
					</div>
					<!-- close content_block -->
				</article>
			</div>