<div id="dri_welcome_block_id" class="dri_welcome_block">
  <h1><%= t('dri.application.home.welcome_to_dri') %></h1>
  <p>
    <%= t('dri.application.home.introtext') %>
  </p>
  <p class="dri_home_link">
    <%= link_to t('dri.application.home.links.visit_dri'), 'http://dri.ie', :target => "_blank" %>
  </p>
</div><!-- dri_welcome_block -->

<div id="dri_slideshow_block_id" class="carousel slide dri_slideshow_block">
  <div class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#" data-slide-to="0" class="active"></li>
      <li data-target="#" data-slide-to="1"></li>
      <li data-target="#" data-slide-to="2"></li>
      <li data-target="#" data-slide-to="3"></li>
      <li data-target="#" data-slide-to="4"></li>
      <li data-target="#" data-slide-to="5"></li>
      <li data-target="#" data-slide-to="6"></li>
      <li data-target="#" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
         <%= link_to "#{main_app.root_url}/catalog/1c18df827" do %>
            <%= image_tag("dri/slides/iipublic_crop.jpeg", :alt=>"Inspiring Ireland 1916 Public Memorabilia Collection" ) %>
            <div class="carousel-caption">
              <p>
                Inspiring Ireland 1916 Public Memorabilia Collection
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/9593zf44k" do %>
            <%= image_tag("dri/slides/hclarke_crop.jpeg", :alt=>"Clarke Stained Glass Studios Collection" ) %>
            <div class="carousel-caption">
              <p>
                Clarke Stained Glass Studios Collection
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/5999sh95k" do %>
            <%= image_tag("dri/slides/1916_crop.jpg", :alt=>"Letters of 1916" ) %>
            <div class="carousel-caption">
              <p>
                Letters of 1916
              </p>
        <% end %>
        </div>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/9593xp97w" do %>
            <%= image_tag("dri/slides/iqda_crop.jpg", :alt=>"Life Histories and Social Change" ) %>
            <div class="carousel-caption">
              <p>
                Life Histories and Social Change<br />
              </p>
            </div>
        <% end %>
      </div>
       <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/95942h48r" do %>
            <%= image_tag("dri/slides/nuig_crop.jpeg", :alt=>"Bailiúchán Sheáin Mhic Ghiollarnáth (Leathanaigh Scanta)" ) %>
            <div class="carousel-caption">
              <p>
                Bailiúchán Sheáin Mhic Ghiollarnáth (Leathanaigh Scanta)
              </p>
            </div>
        <% end %>
      </div>
       <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/95944b38t" do %>
            <%= image_tag("dri/slides/deevy_crop.jpg", :alt=>"The Teresa Deevy Archive" ) %>
            <div class="carousel-caption">
              <p>
                The Teresa Deevy Archive
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/5999n9755" do %>
            <%= image_tag("dri/slides/kdw_crop.jpeg", :alt=>"Kilkenny Design Workshops" ) %>
            <div class="carousel-caption">
              <p>
                Kilkenny Design Workshops
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/5999p401h" do %>
            <%= image_tag("dri/slides/rte_crop.jpg", :alt=>"RTÉ Archives - Elections" ) %>
            <div class="carousel-caption">
              <p>
                Candidates, Campaigns and Tallymen - A Slice of Election Coverage
              </p>
            </div>
        <% end %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#dri_slideshow_block_id" data-slide="prev"> <i class="fa fa-chevron-left fa-2x"></i> </a>
    <a class="right carousel-control" href="#dri_slideshow_block_id" data-slide="next"> <i class="fa fa-chevron-right fa-2x"></i> </a>
  </div>

</div>

<div class="dri_home_container dri_clearfix">
  <div id="featured_collections" >
    <div class="dri_home_title">
      <h2><%= t('dri.application.home.featured_collections') %></h2>
      <div class="dri_border_bottom">
        &nbsp;
      </div>
    </div>
    <!-- close dri_home_title -->
    <div class="dri_clearfix">
		<article class="block5" id="95944s32v">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/95944s32v">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="95944s32v" src="https://objects.dri.ie/ie.dri.production.coverimages/95944s32v.jpg" width="228">
		          </div>
		          <!-- close image -->
		          <h1>Michael Healy
		                    Collection</h1>
		          <p class="dri_publishing_institute">
		                National Irish Visual Arts Library (NIVAL), NCAD
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=95944s32v&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (41)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
		<article class="block5" id="95944s31k">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/95944s31k">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="95944s31k" src="https://objects.dri.ie/ie.dri.production.coverimages/95944s31k.jpg" width="228">
		          </div>
		          <!-- close image -->
		          <h1>The Capuchins and the Irish Revolution</h1>
		          <p class="dri_publishing_institute">
		                Irish Capuchin Provincial Archives
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=95944s31k&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (37)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
		<article class="block5" id="9593zg12h">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/9593zg12h">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="9593zg12h" src="https://objects.dri.ie/ie.dri.production.coverimages/9593zg12h.jpg" width="228">
		          </div>
		          <!-- close image -->
		          <h1>Dublin City Electoral Lists</h1>
		          <p class="dri_publishing_institute">
		                Dublin City Library and Archive
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=9593zg12h&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (2009)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
    </div>
  </div>

  <div>
    <div class="dri_home_title dri_clearfix">
      <h2><%= t('dri.application.home.featured_objects') %></h2>
      <div class="dri_border_bottom">
        &nbsp;
      </div>

    </div>
    <!-- close dri_home_title -->
    <div class="dri_clearfix">
		<article class="block5" id="9593xp942">
		  <div class="dri_content_block">

		    <a href="/catalog/9593xp942">
		        <h1>Screenprint workshop</h1>
		        <div class="dri_image">

              <%= image_tag("dri/home_tmp/wp98dw74j_crop16_9_width_200_thumbnail.jpeg", :alt=>"Wp98dw74j crop16 9 width 200 thumbnail") %>
		        </div><!-- close image -->
		</a>
		    <p class="dri_subject">
		          Design in Ireland
		    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

		  </div>
		  <!-- close content_block -->
		</article>

<article class="block5" id="9593x0336">
  <div class="dri_content_block">

    <a data-context-href="/catalog/9593x0336/track?counter=1&amp;per_page=9&amp;search_id=802876" href="/catalog/9593x0336">
        <h1>A scene from Christ Deliver Us! by Thomas Kilroy, 2010.</h1>
        <div class="dri_image">

          <%= image_tag("dri/home_tmp/5999n632r_crop16_9_width_200_thumbnail.jpeg", :alt=>"5999n632r crop16 9 width 200 thumbnail") %>
        </div><!-- close image -->
</a>
    <p class="dri_subject">
               A Sense of Freedom
               |
               Arts
               |
               Drama
               |
               Irish drama
               |
               Theatre
               |
               Production and direction
               |
               Kilroy, Thomas
               |
               Actors
               |
               Duffin, Aoife
               |
               Religion
               |
               Catholicism
               |
               History
               |
               Communities

    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
<article class="block5" id="5999n681p">
  <div class="dri_content_block">

    <a data-context-href="/catalog/5999n681p/track?counter=13&amp;per_page=9&amp;search_id=802880" href="/catalog/5999n681p">
        <h1>Down Survey map.</h1>
        <div class="dri_image">

          <%= image_tag("dri/home_tmp/9593x084p_crop16_9_width_200_thumbnail.jpeg", :alt=>"9593x084p crop16 9 width 200 thumbnail") %>
        </div><!-- close image -->
</a>
    <p class="dri_subject">
               A Sense of Place
               |
               History
               |
               Local history
               |
               Land titles
               |
               Land tenure
               |
               Eviction
               |
               Names, Geographical
               |
               Religion
               |
               17th century land transfers
               |
               Dispossession
               |
               Topographic maps
               |
               Place names

    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
    </div>
  </div>
</div>
<div id="dri_rss_feed_id" class="dri_second_navigation_container">
  <%= render "socialmedia/rss_feed" %>

</div>
