<div id="dri_welcome_block_id" class="dri_welcome_block">
	<h1><%= t('dri.application.home.introtext.public') %></h1>
	<p>
		<%= t('blacklight.welcome') %>
	</p>
	<p class="dri_home_link">
		<%= link_to t('dri.application.home.links.visit_dri'), 'http://dri.ie' %>
	</p>
	<p class="dri_home_link">
		<%= link_to t('dri.application.home.links.news_dri'), 'http://dri.ie/news' %>
	</p>
	<p class="dri_home_link">
		<%= link_to t('dri.application.home.links.register_dri'), user_group.new_user_path %>
	</p>
</div><!-- dri_welcome_block -->

<div id="dri_slideshow_block_id" class="dri_slideshow_block">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <%= link_to (user_group.new_user_path) do %>|
      <%= image_tag("dri/slides/slide1.png", :alt=>"slide1" ) %>
      <div class="carousel-caption">
      <p>Slide 1</p>
      <% end %>
      </div>
    </div>
    <div class="item">
      <%= image_tag("dri/slides/slide2.png", :alt=>"slide2" ) %>
      <div class="carousel-caption">
      Slide 2
      </div>
    </div>
    <div class="item">
      <%= image_tag("dri/slides/slide3.png", :alt=>"slide3" ) %>
      <div class="carousel-caption">
      Slide 3
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>
<div class="dri_home_title dri_clearfix">
	<h2><%= t('dri.application.home.featured_collections') %></h2>
	<div class="dri_border_bottom">
		&nbsp;
	</div>
</div>
<div id="dri_result_container_id" class="dri_result_container">

	<!-- close dri_home_title -->
	<article class="block5">
		<div class="dri_content_block_collection">
			<a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC/catalog/dri:0c483k077" data-counter="13">
			<div>
				<div class="dri_collection_image">

					<img alt="0c483k077" src="http://objects.dri.ie/coverimages/0c483k077.png" width="228">

				</div>
				<!-- close image -->

				<h1>Inspiring Ireland - National Library of Ireland</h1>
				<p class="dri_publishing_institute">
					Reproduction rights owned by National Library of Ireland
				</p>
			</div> </a><a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC?f%5Bis_collection_sim%5D%5B%5D=false&amp;f%5Broot_collection_sim%5D%5B%5D=Inspiring+Ireland+-+National+Library+of+Ireland">
			<div class="dri_num_objects">
				<span class="dri_object_text_num"> Objects 15 </span>
			</div> </a><!-- close dri_num_objects -->
		</div>
		<!-- close content_block -->
	</article>
	<article class="block5">
		<div class="dri_content_block_collection">
			<a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC/catalog/dri:0c483k05p" data-counter="15">
			<div>
				<div class="dri_collection_image">

					<img alt="0c483k05p" src="http://objects.dri.ie/coverimages/0c483k05p.png" width="228">

				</div>
				<!-- close image -->

				<h1>Inspiring Ireland - Irish Museum of Modern Art</h1>
				<p class="dri_publishing_institute">
					Copyright the artists. All rights reserved.
				</p>
			</div> </a><a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC?f%5Bis_collection_sim%5D%5B%5D=false&amp;f%5Broot_collection_sim%5D%5B%5D=Inspiring+Ireland+-+Irish+Museum+of+Modern+Art">
			<div class="dri_num_objects">
				<span class="dri_object_text_num"> Objects 14 </span>
			</div> </a><!-- close dri_num_objects -->
		</div>
		<!-- close content_block -->
	</article>
	<article class="block5">
		<div class="dri_content_block_collection">
			<a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC/catalog/dri:0c483k034" data-counter="17">
			<div>
				<div class="dri_collection_image">

					<img alt="0c483k034" src="http://objects.dri.ie/coverimages/0c483k034.png" width="228">

				</div>
				<!-- close image -->

				<h1>Inspiring Ireland - Crawford Art Gallery</h1>
				<p class="dri_publishing_institute">
					© Crawford Art Gallery, Cork.
				</p>
			</div> </a><a href="/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC?f%5Bis_collection_sim%5D%5B%5D=false&amp;f%5Broot_collection_sim%5D%5B%5D=Inspiring+Ireland+-+Crawford+Art+Gallery">
			<div class="dri_num_objects">
				<span class="dri_object_text_num"> Objects 15 </span>
			</div> </a><!-- close dri_num_objects -->
		</div>
		<!-- close content_block -->
	</article>

	<div class="dri_home_title">
		<h2><%= t('dri.application.home.newly_added') %></h2>
		<div class="dri_border_bottom">
			&nbsp;
		</div>

	</div>
	<!-- close dri_home_title -->

	<article class="block5">
		<div class="dri_content_block">
			<a href="#"> <h1>This is a title for an object</h1>
			<div class="dri_image">
				<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
			</div> <!-- close image --> </a>
			<p class="dri_subject">
				<a>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt </a>
			</p>
			<div class="dri_icon">
				<span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
				<span class="dri_icon_text">Audio</span>
			</div>
			<!-- close dri_icon -->
		</div>
		<!-- close content_block -->
	</article>
	<article class="block5">
		<div class="dri_content_block">
			<a href="#"> <h1>This is a title for an object</h1>
			<div class="dri_image">
				<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
			</div> <!-- close image --> </a>
			<p class="dri_subject">
				<a>Sed ut perspiciatis, Voluptatemaccusantium, Eaque ipsa quae, Sed ut perspiciatis,</a>
			</p>
			<div class="dri_icon">
				<span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
				<span class="dri_icon_text">Audio</span>
			</div>
			<!-- close dri_icon -->
		</div>
		<!-- close content_block -->
	</article>
	<article class="block5">
		<div class="dri_content_block">
			<a href="#"> <h1>This is a title for an object</h1>
			<div class="dri_image">
				<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
			</div> <!-- close image --> </a>
			<p class="dri_subject">
				<a>Sed ut perspiciatis, Voluptatem accusantium, Eaque ipsa quae, Sed ut perspiciatis,</a>
			</p>
			<div class="dri_icon">
				<span class="dri_icon_image"><%= image_tag("dri/audio_icon.png", :alt=>"oaudio_thumbnail_image" ) %></span>
				<span class="dri_icon_text">Audio</span>
			</div>
			<!-- close dri_icon -->
		</div>
		<!-- close content_block -->
	</article>
</div>
<div id="dri_second_navigation_container_id" class="dri_second_navigation_container">
	<%= render "socialmedia/twitter_feed" %>
</div>