<div id="dri_second_navigation_container_id" class="dri_second_navigation_container">
<%= render "socialmedia/twitter_feed" %>
</div>
<div id="dri_result_container_id" class="dri_result_container">
				<div id="dri_welcome_block_id" class="dri_welcome_block"><h4><%= t('blacklight.welcome') %></h4>
<%= t('dri.application.home.introtext.public') %></div>
				<div id="dri_slideshow_block_id" class="dri_slideshow_block">
				<%= image_tag("no_image.png", :width=>"345", :alt=>"slideshow_placeholder_image" ) %>
				</div>
				<div class="dri_home_title dri_clearfix">
          <h2><%= t('dri.application.home.featured') %></h2>
				</div>
				<!-- close dri_home_title -->
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>A Favorite Scotch Air, arranged as a Rondo A Favorite
								Scotch Air, arranged as a Rondo</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>

							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Sed ut perspiciatis, Voluptatem <br>
								accusantium, Eaque ipsa quae,<br> Sed ut perspiciatis
							</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>Title of Collection</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Catriona Walsh</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>

				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>Title of Collection</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Catriona Walsh</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>

				<div class="dri_home_title">
          <h2><%= t('dri.application.home.new_collections') %></h2>
				</div>
				<!-- close dri_home_title -->
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>Title of Collection</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Catriona Walsh</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>Title of Collection</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Catriona Walsh</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>
				<article class="block5">
					<div class="dri_content_block">
						<a href="#">
							<h1>Title of Collection</h1>
							<div class="dri_image">
							<%= image_tag("no_image.png", :width=>"200", :height=>"113", :alt=>"object_thumbnail_image" ) %>
							</div> <!-- close image -->
						</a>
						<h2>
							<a href="#">David Joyce</a>
						</h2>
						<h2 class="dri_editor">
							<a href="#">Catriona Walsh</a>
						</h2>
						<div class="dri_num_objects">
							<span class="dri_object_text">Objects</span> <span class="dri_object_text_num"><a href="#">28</a></span>
						</div>
						<!-- close dri_num_objects -->
					</div>
					<!-- close content_block -->
				</article>
			</div>
