<% @surrogate = nil %>

<% if generic_file.audio? %>
    <% @surrogate = surrogate_url(document.id, generic_file.id, "mp3") %>
    <% unless @surrogate.nil? %>
        <audio controls>
          <source src="<%= @surrogate %>" type="audio/mpeg">
        </audio>
        <%= render :partial => "object_show_single_audio_details", :locals => {:generic_file => generic_file} %>
    <% end %>

<% elsif generic_file.video? %>
    <% @surrogate_webm = surrogate_url(document.id, generic_file.id, "webm") %>
    <% @surrogate_mp4 = surrogate_url(document.id, generic_file.id, "mp4") %>
    <% @surrogate = @surrogate_webm %>
    <% unless @surrogate_webm.nil? %>
        <!-- Video JS handels video playback but requires javascript -->
        <%= videojs_rails sources: { webm: @surrogate_webm, mp4: @surrogate_mp4, setup: "{}", controls: true }, width:"100%", height: "270px" %>
        <!-- ><video controls>
          <source src="<%= @surrogate %>" type="video/webm">
        </video> -->
    <% end %>

<% elsif generic_file.pdf? %>
    <% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
    <% @surrogate_colorbox = surrogate_url(document.id, generic_file.id, "lightbox_format") %>
    <% unless @surrogate.nil?  %>
        <%= link_to @surrogate_colorbox, :data => { :colorbox => true } do %>
            <img class="dri_carousel_img" src="<%= @surrogate %>">
        <% end %>
    <% end %>

<% elsif generic_file.text? %>
    <% @surrogate = surrogate_url(document.id, generic_file.id, "rtf") %>
    <% unless @surrogate.nil? %>
        <h2 class="dri_restrict_title"><%= t('dri.views.objects.legends.rtf_surrogate_title') %></h2>
        <p class="dri_restrict_message" id="asset_not_available">
          <%= t('dri.views.objects.legends.rtf_surrogate_text') %>
        </p>
    <% end %>

<% elsif generic_file.image? %>
    <% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
    <% @surrogate_colorbox = surrogate_url(document.id, generic_file.id, "lightbox_format") %>
    <% unless @surrogate.nil? %>
        <%= link_to @surrogate_colorbox, :data => { :colorbox => true } do %>
            <img class="dri_carousel_img" src="<%= @surrogate %>">
        <% end %>
    <% end %>
<% end %>

<% if @surrogate.blank?%>
    <h2 class="dri_restrict_title"><%= t('dri.views.catalog.legends.surrogate_not_available') %></h2>
    <p class="dri_restrict_message" id="asset_not_available">
      <%= t('dri.views.catalog.legends.surrogate_not_available_why') %>
    </p>
<% end %>
