<div id="oject-multiple-asset-carousel" class="carousel slide dri_carousel_controls" data-ride="carousel" data-interval = "false" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--First item set to active-->


      <div class="item dri_asset_carousel_item dri_bottom_stack active">
        <%= render :partial => "object_show_surrogate", :locals => {:document => document, :generic_file => @displayfiles.first} %>
        <%= render :partial => "object_show_download", :locals => {:document => document, :generic_file => @displayfiles.first, :index => 1} %>
      </div>


      <% @displayfiles[1..-1].each_with_index do |file,i| %>
        <div class="item dri_asset_carousel_item dri_bottom_stack">
          <%= render :partial => "object_show_surrogate", :locals => {:document => document, :generic_file => file} %>
          <%= render :partial => "object_show_download", :locals => {:document => document, :generic_file => file, :index => i + 2} %>
        </div>
      <% end %>
    </div>

    <% if (@displayfiles.count > 1) %>
      <div>
        <a class="left carousel-control" href="#oject-multiple-asset-carousel" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="right carousel-control" href="#oject-multiple-asset-carousel" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    <% end %>
  </div>
  <!-- Controls -->
<% if (@displayfiles.count > 0) %>
    <p class="dri_assets_total"><%= "#{t('dri.views.fields.total_assets')} (#{@displayfiles.count})" %></p>
<% end %>

 <% if (signed_in? && current_user.is_admin?) || (document.published? && document.public_read?) %>
  <div style="display:none">
    <div id="dri_iiif_view" style="height:100%;width:100%">
      <% sources = @displayfiles.map{|file| "#{Settings.iiif.server}/#{document.id}:#{file[:id]}/info.json" } %>
      <%= openseadragon_picture_tag(
            sources,
            { class: 'osd-image'},
            { data: { openseadragon: { 
                                      preserveViewport: false,
                                      visibilityRatio: 1,
                                      sequenceMode: true,
                                      showNavigator: true,
                                      navImages: {
                                          zoomIn: {
                                            REST:     image_path('openseadragon/zoomin_rest.png'),
                                            GROUP:    image_path('openseadragon/zoomin_grouphover.png'),
                                            HOVER:    image_path('openseadragon/zoomin_hover.png'),
                                            DOWN:     image_path('openseadragon/zoomin_pressed.png')
                                          },
                                          zoomOut: {
                                              REST:   image_path('openseadragon/zoomout_rest.png'),
                                              GROUP:  image_path('openseadragon/zoomout_grouphover.png'),
                                              HOVER:  image_path('openseadragon/zoomout_hover.png'),
                                              DOWN:   image_path('openseadragon/zoomout_pressed.png')
                                          },
                                          home: {
                                              REST:   image_path('openseadragon/home_rest.png'),
                                              GROUP:  image_path('openseadragon/home_grouphover.png'),
                                              HOVER:  image_path('openseadragon/home_hover.png'),
                                              DOWN:   image_path('openseadragon/home_pressed.png')
                                          },
                                          fullpage: {
                                              REST:   image_path('openseadragon/fullpage_rest.png'),
                                              GROUP:  image_path('openseadragon/fullpage_grouphover.png'),
                                              HOVER:  image_path('openseadragon/fullpage_hover.png'),
                                              DOWN:   image_path('openseadragon/fullpage_pressed.png')
                                          },
                                          rotateleft: {
                                              REST:   image_path('openseadragon/rotateleft_rest.png'),
                                              GROUP:  image_path('openseadragon/rotateleft_grouphover.png'),
                                              HOVER:  image_path('openseadragon/rotateleft_hover.png'),
                                              DOWN:   image_path('openseadragon/rotateleft_pressed.png')
                                          },
                                          rotateright: {
                                              REST:   image_path('openseadragon/rotateright_rest.png'),
                                              GROUP:  image_path('openseadragon/rotateright_grouphover.png'),
                                              HOVER:  image_path('openseadragon/rotateright_hover.png'),
                                              DOWN:   image_path('openseadragon/rotateright_pressed.png')
                                          },
                                          previous: {
                                              REST:   image_path('openseadragon/previous_rest.png'),
                                              GROUP:  image_path('openseadragon/previous_grouphover.png'),
                                              HOVER:  image_path('openseadragon/previous_hover.png'),
                                              DOWN:   image_path('openseadragon/previous_pressed.png')
                                          },
                                          next: {
                                              REST:   image_path('openseadragon/next_rest.png'),
                                              GROUP:  image_path('openseadragon/next_grouphover.png'),
                                              HOVER:  image_path('openseadragon/next_hover.png'),
                                              DOWN:   image_path('openseadragon/next_pressed.png')
                                          }
                                        }
                                      }
                    }}
            )
      %>
   </div>
  </div>
<% end %>
