<% if generic_file.audio? %>
<% @surrogate = surrogate_url(document.id, generic_file.id, "mp3") %>
<% unless @surrogate.nil? %>
<audio controls class="dri_audio_player">
	<source src="<%= @surrogate %>" type="audio/mpeg">
</audio>
<%= render :partial => "object_show_single_audio_details", :locals => {:generic_file => generic_file} %>
<% end %>

<% elsif generic_file.video? %>
<% @surrogate = surrogate_url(document.id, generic_file.id, "mp4") %>
<% unless @surrogate.nil? %>
<video controls>
	<source src="<%= @surrogate %>" type="video/mp4">
</video>
<% end %>

<% elsif generic_file.pdf? %>
<% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
<% @surrogate_colorbox = surrogate_url(document.id, generic_file.id, "lightbox_format") %>
<% unless @surrogate.nil?  %>
<%= link_to @surrogate_colorbox, :data => { :colorbox => true } do %>
<img class="dri_carousel_img" src="<%= @surrogate %>">
<% end %>
<% end %>

<% elsif generic_file.image? %>
<% @surrogate = surrogate_url(document.id, generic_file.id, "thumbnail_large") %>
<% @surrogate_colorbox = surrogate_url(document.id, generic_file.id, "lightbox_format") %>
<% unless @surrogate.nil? %>
<%= link_to @surrogate_colorbox, :data => { :colorbox => true } do %>
<img class="dri_carousel_img" height="300" src="<%= @surrogate %>">
<% end %>
<% end %>
<% end %>

<% if @surrogate.blank? %>
<h2 class="dri_restrict_title"><%= t('dri.views.catalog.legends.surrogate_not_available') %></h2>
<p class="dri_restrict_message">
	<%= t('dri.views.catalog.legends.surrogate_not_available_why') %>
</p>
<% end %>
