<div class="dri_objecttools_title">
	<i class="fa fa-lg fa-arrows"></i>&nbsp;<%= t('dri.views.catalog.titles.navigation_tools') %>
</div>
<%= render 'previous_next_doc' %>
<ul class="dri_view_collection">

	<li>
		<%= link_back_to_catalog %>
	</li>

	<% collection = governing_collection_solr(@document) %>

	<% unless collection.nil? %>
	<li>

		<%= link_to catalog_path(collection['id']), :id => 'view_collection' do %>
		<i class="fa fa-lg fa-folder-open"></i><%= t('dri.views.objects.legends.view_collection') %>
		<% end %>
	</li>
	<% end %>
</ul>
<!-- close vc_title -->

<% unless collection.nil? %>
<% if collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)] && collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0] %>
<div class="dri_vc_image hidden-xs">
	<%= image_tag(collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0], :alt=> t('dri.views.alt_tags.cover_image') ) %><!-- needs callback -->
</div>
<% end %>
<% end %>
<!-- close vc_title -->
