<script>
  $(document).ready(function() {
    $('#dri_asset_uploader').change(function() {
      if ($(this).val()) {
        $('#dri_upload_asset_file').attr('style', 'display: inherit;');
      }
    });
    $('#dri_metadata_uploader').change(function() {
      if ($(this).val()) {
        $('#dri_upload_metadata_file').attr('style', 'display: inherit;');
      }
    });
    $('#dri_preservation_asset_uploader').change(function() {
      if ($(this).val()) {
        $('#dri_upload_preservation_asset_file').attr('style', 'display: inherit;');
      }
    });
  });
</script>
<div class="dri_sidenav">
<h5>
  <i class="fa fa-pencil"></i> <%= t('dri.views.catalog.titles.editor_tools') %>
</h5>
<ul>
  
  <li>
    <%= form_tag(url_for(object_files_path(@document.id)), :multipart => true, :method => :post, :id => "file_uploader") do %>
      <div class="dri_fileUpload">
       <%= t('dri.views.catalog.links.upload_file') %><%= button_tag t('dri.views.objects.buttons.upload'), :id => "dri_upload_asset_file", :name => "upload_file", :style => "display:none; margin-left: 5px;", :class => "dri_button_green_small" %>
        <%= file_field_tag 'Filedata', :required=>'required', :class => 'upload', :id => 'dri_asset_uploader' %>
      </div>
      <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
      <%= hidden_field_tag 'datastream', "content" %>
    <% end %>
  </li>

  <% if @files.present? %>
    <li>
      <%= form_tag(url_for(object_files_path(@document.id)), :multipart => true, :method => :post, :id => "file_uploader") do %>
        <%= hidden_field_tag "preservation", "true" %>
        <div class="dri_fileUpload">
        <%= t('dri.views.catalog.links.upload_preservation_file') %><%= button_tag t('dri.views.objects.buttons.upload'), :id => "dri_upload_preservation_asset_file", :name => "upload_file", :style => "display:none; margin-left: 5px;", :class => "dri_button_green_small"  %>
        <%= file_field_tag 'Presfiledata', :required=>'required', :class => 'upload', :id => 'dri_preservation_asset_uploader' %>
        </div>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
        <%= hidden_field_tag 'datastream', "content" %>
     <% end %>
    </li>
  <% end %>

  <!-- Replace metadata only visible if non-EAD collection AND not a Documentation object -->
  <% if (@document.editable? && @document.active_fedora_model != "DRI::Documentation") %>
    <li>
      <%= form_tag(url_for(:action=>"update", :controller=>"metadata", :id=>@document.id), :multipart => true, :method => :put, :id => "metadata_uploader") do %>
        <div class="dri_fileUpload">
          <%= t('dri.views.objects.legends.replace_metadata') %><%= button_tag t('dri.views.objects.buttons.upload'), :id => "dri_upload_metadata_file", :name => "upload_file", :style => "display:none; margin-left: 5px;", :class => "dri_button_green_small" %>
          <%= file_field_tag 'metadata_file', :accept => "application/xml", :required => "true", :class => 'upload', :id => 'dri_metadata_uploader' %>
        </div>
        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
        <%= hidden_field_tag 'datastream', "content" %>
      <% end %>
    </li>
  <% end %> <!-- END IF (non-EAD collections AND not Documentation Object) -->
  
  <% if @files.present? %>
    <%= link_to surrogates_generate_path(@document), :method => :put, data: { confirm: t('dri.views.objects.confirm.surrogates') }, :id => "surrogates_generate" do %>
      <li>
        <%= t('dri.views.catalog.links.generate_surrogates') %>
      </li>
    <% end %>
  <% end %>

  <% unless @document.published? %>
    <li>
      <%= form_tag status_update_path(@document.id) ,:method => :put do %>
        <% if @document.draft? %>
          <%= hidden_field_tag( :status, "reviewed") %>
          <span class="label label-danger"><%= t('dri.views.catalog.links.draft') %></span><%= submit_tag t('dri.views.catalog.links.mark_object_reviewed'), :id => 'status_update' %>
        <% else %>
          <%= hidden_field_tag( :status, "draft") %>
          <span class="label label-success"><%= t('dri.views.catalog.links.reviewed') %></span><%= submit_tag t('dri.views.catalog.links.mark_object_draft'), :id => 'status_update' %>
        <% end %>
      <% end %>
    </li>  

    <% if @document.editable? %>
      <%= link_to '', :'data-target' => '#dri_delete_object_modal_id', :'data-toggle' => 'modal' do %>
        <li>
          <%= t('dri.views.objects.buttons.delete_object') %>
        </li>
      <% end %>
    <% end %>

  <% end %>

  <%= link_to edit_object_path(@document), :id => "edit_record" do %>
  <li>
    <%= t('dri.views.catalog.links.edit_this_record') %>
  </li>
  <% end %>

</ul>
</div>

<% if can? :edit, @document && @document.editable? && !@document.published? %>
<div class="modal fade" id="dri_delete_object_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('dri.views.objects.buttons.delete_object') %></h4>
      </div>

      <div class="modal-body">
        <span class="label label-danger"><%= t('dri.views.objects.confirm.delete') %></span>
        <br />
        <%= form_tag (object_path(@document.id)), :class=>'dri_ingest_form', :method => :delete, :style=>"margin:0;padding:0;display:inline;" do %>
          <%= submit_tag t('dri.views.objects.buttons.delete_object'), :class => "dri_button_red", :id => "delete_object_#{@document.id}", :data => { :confirm => t('dri.views.objects.confirm.delete') } %>
        <% end %>
      </div>

      <div class="modal-footer">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
