<%= get_datastreams document %>
<% get_surrogates document %>

<h3><%= t('dri.views.catalog.headers.files') %></h3>
<dl class="dl-horizontal  dl-invert">
  <dt><%= t('dri.views.catalog.forms.metadata') %>: </dt>
  <dd><a href="<%= url_for :controller => 'metadata', :action => 'show', :id => document.id %>" id="download_metadata"><%= t('dri.views.catalog.links.view_metadata') %></a></dd>
  <dt><%= t('dri.views.catalog.forms.pdf_file') %>:  </dt>
  <% if @datastreams.has_key?('masterContent') %>
    <dd>
      <object data="<%= url_for(:controller => 'files', :action => 'show', :id => @document.id) %>" type="application/pdf" width="100%" height="600">
        alt :<%= link_to t('dri.views.catalog.links.download'), url_for(:controller => 'files', :action => 'show', :id => @document.id), :id => "download_asset" %>
      </object>


  <% @surrogates.each do |desc, url| %>
    <object data="<%= url %>" type="application/pdf" width="100%" height="600">
        alt :<%= link_to desc, url, :id => "download_asset" %>
      </object>
  <% end %>

    </dd>
  <% else %>
    <dd><%= t('dri.views.catalog.legends.no_files') %></dd>
  <% end %>
</dl>
