<div class="dri_object_first_block">
    
	<%= render :partial => 'show_surrogate' %>
	<dl class="dri_object_metadata_readview">
		<% document_show_fields.each do |solr_fname, field| -%>
		<% if should_render_show_field? document, field %>
		<dt class="blacklight-<%= solr_fname.parameterize %>">
			<%= render_document_show_field_label :field => solr_fname %>
		</dt>
		<dd class="blacklight-<%= solr_fname.parameterize %>">
			<%= render_document_show_field_value :document => document, :field => solr_fname %>
		</dd>
		<% end -%>
		<% end -%>
		<%= render :partial => 'shared/display_licence' %>
		<% if (@depositing_institute) %>
		<% institute_browse_params = { :mode => "collections", :search_field => "all_fields", :view => "grid", :f => { Solrizer.solr_name('institute', :facetable).to_sym => [@depositing_institute[:name]] } } %>
		<dt class="blacklight-depositing_institute">
			<%= t('dri.views.fields.depositing_institute') %>
		</dt>
		<dd class="blacklight-depositing_institute">
			<%= link_to @depositing_institute[:name], main_app.catalog_index_path(institute_browse_params), :id => 'depositing_institute' %>
		</dd>
		<% end %>
	</dl>
</div>
<!-- close dri_object_first_block -->

<div class="dri_object_second_block">

	<div class="dri_back_search">
	    <div class="dri_clearfix dri_float_left">
	    <%= render 'previous_next_doc' %></div>
	           <div class="dri_clearfix dri_float_left">
       <%= link_back_to_catalog %></div>
		
	</div>

	<% collection = governing_collection_solr(@document) %>

	<% unless collection.nil? %>
	<div class="dri_vc_title dri_clearfix dri_float_left">
		<%# image_tag("vc_folder.png", :width=>"22", :height=>"12", :alt=>"Vc_folder" ) %>
		<i class="fa fa-lg fa-folder-open"></i>
		<%= link_to( t('dri.views.objects.legends.view_collection'), catalog_path(collection['id']), :id => 'view_collection' ) %>
	</div>
	<% end %>
	<!-- close vc_title -->

	<% unless collection.nil? %>
	<% if collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)] && collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0] %>
	<div class="dri_vc_image">
		<%= image_tag(collection[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0], :width=>"230", :alt=> t('dri.views.alt_tags.cover_image') ) %><!-- needs callback -->
	</div>
	<% end %>
	<% end %>
	<!-- close vc_title -->

	<%= render :partial => "tools" %>

	<% if signed_in? && ((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
	  <%= render :partial => "show_file_tools" %>
	  <%= render :partial => "show_editor_tools" %>
	<% end %>
	</div>
<!-- close dri_object_second_block -->
