<!-- close vc_title -->
<div class="accordion" id="dri_asset_tools_id">
  <div class="accordion-group dri_sidenav">

    <div class="accordion-heading">

	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#dri_asset_tools_id" href="#dri_asset_tools_collapsed_id">
	      <h5>
		      <i class="fa fa-caret-square-o-down fa-lg"></i> <%= t('dri.views.catalog.headers.files') %> (<%= @files.count %>)
		    </h5>
		  </a>

	  </div>

	  <div id="dri_asset_tools_collapsed_id" class="accordion-body collapse" style="height: 0px; ">
	    <div class="accordion-inner ">
		    <ul>
	        <% if @files.empty? %>
	          <li><%= t('dri.views.catalog.legends.no_files') %></li>
	        <% else %>
	          <% @files.each_with_index do |file, index| %>
			        <% if ((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
				        
				        <% if index > 0 %>
				          <li class="dri_asset_tools_entry">
				        <% else %>
				          <li>
				        <% end %>
				        
				          <div>
				            <span>
				              <%= link_to t('dri.views.catalog.links.details') + " " + ( index +1).to_s , object_file_path(@document, file.id), id: "asset_details", style: "display:inline-block" %>
		                    <% unless @document.published? %>
				      
				                  <%= form_tag(object_file_path(@document.id, file.id), method: :delete, id: "file_delete", style: "display:inline-block") do %>
		                        <%= button_tag t('dri.views.assets.buttons.delete'), :id => "dri_delete_asset_file", :name => "delete_file", :style => "display:inherit; margin-left: 5px;", class: 'dri_button_red_small', data: { confirm: t('dri.views.assets.confirm.delete') } %>
		                        <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
		                      <% end %>

		                    <% end %>
		                </span>
		              </div>
		              </li>
				  
				          <li>
				            <%= link_to t('dri.views.catalog.links.download'), file_download_path(@document, file.id), :id => "download_asset" %>
				          </li>
	            <% end %>

	            <% if file.preservation_only? %>
		          
		            <li><%= t('dri.views.catalog.legends.preservation_only') %></li>

		            <% if @status[file.id].present? && @status[file.id][:status] != 'success' %>
		              <li><%= t('dri.views.catalog.legends.file_status', status: @status[file.id][:status]) %></li>
	              <% end %>
	            
	            <% else %>
			      
			          <% if can? :read, @document %>
			            <% if @surrogates[file.id].blank? %>
	                  <li><%= t('dri.views.catalog.legends.no_surrogates') %></li>
			              <% if @status[file.id].present? %>
			                <li><%= t('dri.views.catalog.legends.file_status', status: @status[file.id][:status]) %></li>
			              <% end %>
			            <% else %>
				            <% @surrogates[file.id].each do |desc, url| %>
				              <li><%= link_to desc, url, id: desc %></li>
			              <% end %>
			            <% end %>
			          <% end %>

			        <% end %><!-- if preservation -->

			      <% end %><!-- each file -->  
		      <% end %>

		    </ul>
	    </div>
	  </div>

  </div>
</div>
