<!-- close vc_title -->
<div class="accordion" id="dri_asset_tools_id">
  <div class="accordion-group dri_sidenav">
    <div class="accordion-heading">

	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#dri_asset_tools_id" id="show_asset_tools" href="#dri_asset_tools_collapsed_id">
	    <h5>
		  <i class="fa fa-caret-square-o-down fa-lg"></i> <%= t('dri.views.catalog.headers.files') %> (<%= @files.count %>)
		</h5> </a>
	</div>

	<div id="dri_asset_tools_collapsed_id" class="accordion-body collapse" style="height: 0px; ">
	  <div class="accordion-inner ">
	    <ul>

		<% unless @files.empty? %>
    		<% @files.each_with_index do |file, index| %>

			  <% if ((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
			    <li>
				    <div>
				      <span>
				        <%= link_to t('dri.views.catalog.links.details') + " " + ( index +1).to_s , object_file_path(@document, file.id), id: "asset_details", style: "display:inline-block" %>

                          <% unless @document.published? %>
				            <%= form_tag(object_file_path(@document.id, file.id), method: :delete, id: "file_delete", style: "display:inline-block") do %>
                              <%= button_tag t('dri.views.assets.buttons.delete'), :id => "dri_delete_asset_file", :name => "delete_file", :style => "display:inherit; margin-left: 5px;", data: { confirm: t('dri.views.assets.confirm.delete') } %>
                              <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
                            <% end %>
                          <% end %>
                      </span>
                    </div>
				</li>
			    <li>
				  <%= link_to t('dri.views.catalog.links.download'), file_download_path(@document, file.id), :id => "download_asset" %>
				</li>
                <% if file.preservation_only? %>
                  <li>
                    <%= t('dri.views.catalog.legends.preservation_only') %>
                  <li>
               <% end %>
			  <% end %>

			  <% if can? :read, @document %>
			    <% if @surrogates[file.id].blank? %>
				  <li>
				    <%= t('dri.views.catalog.legends.no_surrogates') %>
				  </li>
				  <% if @status[file.id].present? %>
				    <li>
				      <%= t('dri.views.catalog.legends.file_status', status: @status[file.id][:status]) %>
				    </li>
				  <% end %>
				<% else %>
				  <% @surrogates[file.id].each do |desc, url| %>
				  <li>
				    <%= link_to desc, url, :id => desc %>
				   </li>
				<% end %>
			  <% end %>
			<% end %>
		
		<% end %>

		<% unless can? :read, @document %>
		  <li>
		    <%= t('dri.views.catalog.legends.no_permission') %>
		  </li>

		  <% if !signed_in? %>
		    <li>
			  <%= t('dri.views.catalog.legends.request_permission_not_logged_in') %>
			</li>
		  <% elsif (current_user.pending_member?(get_reader_group(@document.governing_collection))) %>
		    <li>
			  <%= t('user_groups.views.groups.index.pending') %>
			</li>
		  <% else %>
		    <li>
			  <%= form_tag(user_group.pending_memberships_path, :method => 'post') do %>
			    <%= hidden_field_tag('membership_user_id', current_user.id, {:name => "membership[user_id]"}) %>
			    <%= hidden_field_tag('membership_group_id', @reader_group.id, {:name => "membership[group_id]"} ) %>
			    <%= submit_tag t('dri.views.catalog.legends.request_permission_logged_in'), :id=> "request_access" %>
			  <% end %>
			</li>
		  <% end %>
		<% end %>

	<% else %>
	  <li>
	    <%= t('dri.views.catalog.legends.no_files') %>
	  </li>
	<% end %>

	    </ul>
	  </div>
	</div>

  </div>
</div>
