
<%# default partial to display solr document fields in catalog show view -%>
<% if ((@asset != "no file") && (@asset != "no permission")) %>
<div class="dri_object_render_block">
  <% if audio?( @document ) %>
    <div class="dri_audio_player">
      <audio controls>
        <% if (@asset == 'masterfile') %>
          <source src="<%= url_for(:controller => 'assets', :action => 'show', :id => @document.id) %>" type="audio/mpeg">
        <% elsif !@asset.blank? %>
          <source src="<%= @asset %>" type="audio/mpeg">
        <% end %>
      </audio>
    </div><!-- close dri_audio_player -->
  <% elsif video?( @document ) %>
    <div>
      <video width="320" height="240" controls>
        <% if (@asset == 'masterfile') %>
          <source src="<%= url_for(:only_path => false, :controller => 'assets', :action => 'show', :id => @document.id) %>" type="video/mp4">
        <% elsif !@asset.blank? %>
          <source src="<%= @asset %>" type="video/mp4">
        <% end %>
      </video>
    </div>
  <% elsif document?( @document ) %>
    <div>
      <object data="<%= url_for(:controller => 'assets', :action => 'show', :id => @document.id) %>" type="application/pdf" width="100%" height="600">
      </object>
    </div>    
  <% elsif image? ( @document ) %>
  <% end %>
 </div>
<% end %>
					<h2 class="dri_restrict_title">Restricted Asset</h2>
					<p class="dri_restrict_message">Sed ut perspiciatis unde omnis
						iste natus error sit voluptatem accusantium doloremque laudantium,
						rem aperiam, eaque ipsa quae ab illo inventore.</p>
					<input class="dri_request_access_button" name="request" type="button" value="↳ Request to Access This Asset">
                        
                        <p class="dri_restrict_progress">Your request is in progress.</p>


<dl class="dl-horizontal  dl-invert dri_object_metadata_readview">
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>

<%= render :partial => "show_downloads" %>

