<div class="dri_objecttools_title">
	<i class="fa fa-lg fa-arrows"></i>&nbsp;<%= t('dri.views.catalog.titles.navigation_tools') %>
</div>
<%= render 'previous_next_doc' %>

<ul class="dri_view_collection">
	<li>
		<%= link_back_to_catalog %>
	</li>

	<% collection = root_collection_solr(@document) %>

	<% unless collection.nil? %>

	<!-- If it's a root collection, we show all the objects within it -->
	<% if document[Solrizer.solr_name('collection_id', :stored_searchable, type: :string)] == nil %>
	<% collection_objects_params = { :f => {Solrizer.solr_name('root_collection_id', :facetable).to_sym => [document[Solrizer.solr_name('root_collection_id', :stored_searchable, type: :string)].first]}, :mode => "objects", :search_field => "all_fields", :view => "grid" } %>
	<%= link_to catalog_index_path(collection_objects_params), :id => 'collection_s_object' do %>
	<li>
		<i class="fa fa-lg fa-folder-open"></i><%= t('dri.views.catalog.forms.all_objects_in_collection') + " (#{objectsCount})" %>
	</li>
	<% end %>
	<% else %> <!-- else (sub-collection, we show only the objects that belong to this sub-collection) -->
	<% collection_objects_params = { :f => {Solrizer.solr_name('ancestor_id', :facetable).to_sym => [document[:id]]}, :mode => "objects", :search_field => "all_fields", :view => "grid" } %>
	<%= link_to catalog_index_path(collection_objects_params), :id => 'collection_s_object' do %>
	<li>
		<i class="fa fa-lg fa-folder-open"></i><%= t('dri.views.catalog.forms.all_objects_in_collection') + " (#{objectsCount})" %>
	</li><% end %>

	<% end %>
	<% end %>
	<% if (objectsCount > 0) %>

    <% imageCount = count_items_in_collection_by_type(document[:id], "Image") %>
    <% textCount = count_items_in_collection_by_type(document[:id], "Text") %>
    <% audioCount = count_items_in_collection_by_type(document[:id], "Audio") %>
    <% videoCount = count_items_in_collection_by_type(document[:id], "Video") %>
    <% mixedCount = count_items_in_collection_by_type(document[:id], "Mixed_Types") %>


	<li class="dri_title"><%= t("dri.data.types.Title") %></li>
      <% if (imageCount > 0) %>
          <li>
            <%= link_to main_app.catalog_index_path(get_collection_media_type_params(document, document[:id], "Image")) do %>
                <%= t("dri.data.types.Image") %>
                <span class="dri_stat_num"><%= imageCount %></span>
            <% end %>
          </li>
      <% end %>

      <% if (audioCount > 0) %>
          <li>
            <%= link_to main_app.catalog_index_path(get_collection_media_type_params(document, document[:id], "Audio")) do %>
                <%= t("dri.data.types.Sound") %>
                <span class="dri_stat_num"><%= audioCount %></span>
            <% end %>
          </li>
      <% end %>

      <% if (videoCount > 0) %>
          <li>
            <%= link_to main_app.catalog_index_path(get_collection_media_type_params(document, document[:id], "Video")) do %>
                <%= t("dri.data.types.MovingImage") %>
                <span class="dri_stat_num"><%= videoCount %></span>
            <% end %>
          </li>
      <% end %>

      <% if (textCount > 0) %>
          <li>
            <%= link_to main_app.catalog_index_path(get_collection_media_type_params(document, document[:id], "Text")) do %>
                <%= t("dri.data.types.Text") %>
                <span class="dri_stat_num"><%= textCount %></span>
            <% end %>
          </li>
      <% end %>

      <% if (mixedCount > 0) %>
          <li>
            <%= link_to main_app.catalog_index_path(get_collection_media_type_params(document, document[:id], "Mixed_Types")) do %>
                <%= t("dri.data.types.MixedType") %>
                <span class="dri_stat_num"><%= mixedCount %></span>
            <% end %>
          </li>
      <% end %>


<% end %>
</ul>
