
<div class="dri_object_first_block">
	<dl class="dri_object_metadata_readview">
		<% document_show_fields.each do |solr_fname, field| -%>
		<% if should_render_show_field? document, field %>
		<dt class="blacklight-<%= solr_fname.parameterize %>">
			<%= render_document_show_field_label :field => solr_fname %>
		</dt>
		<dd class="blacklight-<%= solr_fname.parameterize %>">
			<%= render_document_show_field_value :document => document, :field => solr_fname %>
		</dd>
		<% end -%>
		<% end -%>

		<% if (@document[Solrizer.solr_name('depositing_institute', :stored_searchable, type: :string).to_sym]) %>
		<% institute_browse_params = { :mode => "collections", :search_field => "all_fields", :view => "grid", :f => { Solrizer.solr_name('institute', :facetable).to_sym => @document[Solrizer.solr_name('depositing_institute', :stored_searchable, type: :string).to_sym] } } %>
		<dt class="blacklight-depositing_institute">
			<%= t('dri.views.fields.depositing_institute') %>
		</dt>
		<dd class="blacklight-depositing_institute">
      <%= link_to @document[Solrizer.solr_name('depositing_institute', :stored_searchable, type: :string).to_sym].first, main_app.catalog_index_path(institute_browse_params), :id => 'depositing_institute' %>
		</dd>
		<% end %>
	</dl>

</div>

<!-- close dri_object_first_block -->

<div class="dri_object_second_block">

<% if @document[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)] && @document[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0] %>
<div class="dri_vc_image hidden-xs">
	<%= image_tag(@document[Solrizer.solr_name('cover_image', :stored_searchable, type: :string)][0], :alt=> t('dri.views.alt_tags.cover_image') ) %>
</div>
<% end %>
     
    <% objectsCount = count_items_in_collection document[:id] %>
	<%= render :partial => "show_collection_navigation_tools", :locals => {:document => document, :objectsCount => objectsCount} %>	
	<%= render :partial => "tools", :locals => {:document => document} %>

	<% if signed_in? && (can? :manage_collection, document) %>
	<%= render :partial => "catalog/show_collection_editor_tools", :locals => {:document => document} %>


	<% end %>

	<% if signed_in? && (document[Solrizer.solr_name('root_collection_id', :stored_searchable, type: :string).to_sym] == document[:id]) && (can? :manage_collection, document) %>
	<% pending = pending_memberships( document ) %>
	<% unless pending.blank? %>
	<%= render :partial => 'collections/approve_membership', :locals => {:pending => pending} %>
	<% end %>
	<% end %>

</div>


