<% if can? :read, @document %>
    <%= render partial: 'shared/surrogate' %>
<% else %>

    <h2 class="dri_restrict_title"><%= t('dri.views.catalog.forms.restricted_asset') %></h2>
    <p class="dri_restrict_message" id="asset_no_permission"><%= t('dri.views.catalog.legends.no_permission') %></p>
    <% if current_user %>
        <% if @reader_group %>
          <% pending = @reader_group.pending_memberships %>

          <% if pending.find_by(user_id: current_user.id).nil? %>
              <%= link_to '', :'data-target' => '#dri_request_access_modal_id', :'data-toggle' => 'modal', id: "request_access" do %>
                  <%= button_tag(t('dri.views.catalog.legends.request_permission_logged_in'), {class: 'dri_request_access_button'}) %>
              <% end %>
          <% else %>
              <p class="dri_restrict_progress"><%= t('dri.views.catalog.legends.request_permission_in_progress') %></p>
          <% end %>
        <% end %>
    <% else %>
        <p class="dri_restrict_message"><%= t('dri.views.catalog.legends.request_permission_not_logged_in') %></p>
    <% end %>

<% end %>

<div class="modal fade" id="dri_request_access_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('dri.views.catalog.forms.restricted_data_request') %></h4>
      </div>

      <div class="modal-body">
        <% if @reader_group %>
          <%= render partial: "request_access_form" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="dri_button_grey" data-dismiss="modal">
          <%= t('dri.window.modal.close') %>
        </button>
        <button id="request_read_access" type="submit" class="dri_button_green" onclick="$('#request_form_submit_btn').click();">
          <%= t('dri.views.catalog.legends.request_permission_logged_in') %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->