<div class="dri_bookmark_object">
  <%= render_show_doc_actions %>
</div>
<!-- close dri_bookmark_object -->

<div class="dri_objecttools_title">
  <%= t('dri.views.objects.legends.cite') %>
</div>
<!-- close vc_title -->

<ul class="dri_view_collection">
  <li><a href="<%= url_for :controller => 'metadata', :action => 'show', :id => @document.id %>" id="download_metadata"><%= t('dri.views.catalog.forms.metadata') %></a></li>
  <li><%= link_to t('blacklight.tools.refworks'), refworks_export_url(:id => @document)  %> </li>
  <li><%= link_to t('blacklight.tools.endnote'), object_path(@document, :format => 'endnote') %></li>
  <li><a href="">Email this</a></li><!-- needs localisation -->
  <li><a href="">Send SMS</a></li><!-- needs localisation -->
  <li><%= link_to t('blacklight.tools.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :class => 'lightboxLink'} %></li>
  <li><a href="">Librarian view</a></li><!-- needs localisation -->
</ul>
