<% @page_title = t('blacklight.search.show.title', document_title: document_presenter(@document).html_title, application_name: application_name) %>

<div class="dri_object_container" id="object_container">
  <%= render_document_partial @document, :show %>
</div>

<% # Render partial for Related Materials (QDC and MODS)  %>
<%= render partial: "shared/show_related_items", locals: { params: params, document: @document } %>

<% if @children && @children.length > 0 %>
  <%= render partial: "shared/show_children", locals: { document: @document, children: @presenter.display_children(@children) } %>
<% end %>

<div class="dri_section_block" id="institutes_block">
  <%= render partial: 'shared/display_organisations' %>
</div>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.colorbox', async: Rails.env.production? %>
  <script>
    $(window).on("load", function () {
      $('a.dri_gallery').colorbox({rel:'group1', maxWidth:'95%', maxHeight:'95%', photo: true});
      $('a.dri_iiif').colorbox({
        height:'80%' ,
        width:'80%',
        inline: true
      });

      $(window).resize(function(){
        $.colorbox.resize({
          width: '80%',
          height: '80%'
        });
      });
    });
  </script>
  <meta property="fb:app_id"          content="298965153560401" />
  <meta property="og:type"            content="article" />
  <meta property="og:url"             content="<%= request.original_url %>" />
  <meta property="og:title"           content="<%= @page_title %>" />
  <meta property="og:description"    content="DRI Object" />
 
  <% if @document.linkset? %>
    <!-- FAIR Signposting https://signposting.org/FAIR -->
    <link href= "<%= linkset_json_url(@document.id) %>"  rel="linkset"  type="application/linkset+json">
    <link href= "<%= linkset_lset_url(@document.id) %>"  rel="linkset"  type="application/linkset">
  <% end %>

  <% if @dimensions %>
    <script>
      gtag('event', 'object_view', <%= @dimensions.to_json.html_safe %>);
    </script>
  <% end %>
<% end %>