<% get_delivery_file @document  %>
<% get_surrogates @document %>
<% get_object_type_counts @document %>



<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
<% extra_head_content << render_link_rel_alternates %>
<div class="dri_object_container">
		  <%= render :partial => 'previous_next_doc' %>
			<div class="dri_object_title_top"><%= render_field_value(document_heading) %></div>










				<div class="dri_object_first_block">

<%= render_document_partial @document, :show %>


				</div>

				<!-- close dri_object_first_block -->
				<div class="dri_object_second_block">
					<div class="dri_back_search">
						<a href="/?f%5Bcollection_sim%5D%5B%5D=test&amp;id=24&amp;results_view=true">
							⬅ Back to Search</a>
					</div>


					<div class="dri_vc_title">
						<img alt="Vc_folder" height="12" src="/assets/vc_folder.png" width="22"> <a href="/collections/dri:j9602060k">View
							Collection</a>


					</div>
					<!-- close vc_title -->
					<div class="dri_vc_image">
						<a href="/collections/dri:j9602060k">&nbsp;</a>


					</div>
					<!-- close vc_title -->
					<ul class="dri_view_collection">

						<li><a href="/?f%5Bcollection_sim%5D%5B%5D=%5B%22NAIC+Performance%22%5D">All Objects <span class="dri_stat_num"> 0</span></a> 	</li>
                        
						<li><a href="/?f%5Bcollection_sim%5D%5B%5D=%5B%22NAIC+Performance%22%5D&amp;f%5Bobject_type_sim%5D%5B%5D=Audio"><span class="translation_missing" title="translation missing: en.dri.data.types.Audio">Audio</span><span class="dri_stat_num">0</span></a></li>
						<li><a href="/?f%5Bcollection_sim%5D%5B%5D=%5B%22NAIC+Performance%22%5D&amp;f%5Bobject_type_sim%5D%5B%5D=Article">
                        <span class="translation_missing" title="translation missing: en.dri.data.types.Article">Article</span>
							<span class="dri_stat_num">0</span></a></li>
					</ul>

					<div class="dri_bookmark_object">
						<input type="checkbox" name="vehicle" value="Bike">
						Bookmark Object

					</div>
					<!-- close dri_bookmark_object -->
                    
                    <div class="dri_objecttools_title">
                    Object Tools

					</div>
					<!-- close vc_title -->
                    <ul class="dri_view_collection">
                    	<li><a href="">Export descriptive Meta Data</a></li>
						<li><a href="">Export to Reworks</a></li>
                        <li><%= link_to t('blacklight.tools.endnote'), object_path(@document, :format => 'endnote') %></li>
						<li><a href="">Email this</a></li>
                        <li><a href="">Send SMS</a></li>
						<li><a href="">View Citation</a></li>
                        <li><a href="">Librarian view</a></li>
					</ul>

				</div>
				<!-- close dri_object_second_block -->
			</div>
			
<div class="dri_object_container" style="display: none">



<div class="dri_search_results_container">
  		<div class="dri_pagination_container">
		  <%= render :partial => 'previous_next_doc' %>
		</div><!-- close dri_paging_container -->
  </div><!-- close line -->

    <div class="dri_object_view_block">

    <%= render_document_partial @document, :show %>

    <input class="dri_request_button" name="request" type="button" value="‚Ü≥ Request to Join this Group">

  </div><!-- close dri_object_view_block -->

  <div class="dri_object_view_block">
    <div class="dri_back_search"><%= link_back_to_catalog %></div>
      <% if signed_in? && (can?(:edit, @document)) %><div class="dri_edit_object"><%= link_to t('dri.views.catalog.links.edit_this_record'), url_for(:controller => collection?(@document) ? "collections" : "objects", :action => "edit", :id => @document.id), :id => "edit_record" %></div><% end %>

    <ul class="dri_stats">
      <li>
        <%= image_tag("/assets/view_stat.png", :width=>"25", :height=>"12") %><%= t('dri.views.objects.legends.viewcount') %>
        <span class="dri_stat_num">2701</span>
      </li>
    </ul><!-- close dri_stats -->

    <% unless collection?(@document) %>
      <div class="dri_vc_title">
        <%= image_tag("/assets/vc_folder.png", :width=>"22", :height=>"12") %> <%= link_to( t('dri.views.objects.legends.view_collection'), collection_path(@document[:is_governed_by_ssim][0].sub('info:fedora/', '')) ) %>
      </div><!-- close vc_title -->

      <ul class="dri_view_collection">
        <li><%= t('dri.views.objects.links.all_objects') %> <span class="dri_stat_num">
          <%= link_to(count_published_items_in_collection(@document[:is_governed_by_ssim][0].sub('info:fedora/', '')), render_arbitrary_facet_links({:collection => @document[:collection_tesim][0]}) ) %>
        </span></li>
        <% @type_counts.keys.each do |key| %>
          <% unless @type_counts[key].blank? %>
            <li><%= t("dri.data.types.#{key}") %> <span class="dri_stat_num"><%= link_to(@type_counts[key], render_arbitrary_facet_links({:collection => @document[:collection_tesim][0], :object_type => key})) %></span></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <div class="dri_bookmark_object">
      <%= image_tag("/assets/bm_folder.png", :width=>"22", :height=>"15") %>Bookmark Object
      <select name="dri_bookmark_folder">
        <option>Bookmark to Folder</option>
      </select>
    </div><!-- close dri_bookmark_object -->

    <div class="dri_cite_title">
      <%= t('dri.views.objects.legends.cite') %>
    </div>
    <div class="dri_cite_object">
      <ul class="dri_cite_object">
        <li>
          <%= link_to t('blacklight.tools.endnote'), object_path(@document, :format => 'endnote') %>
        </li>
      </ul>
    </div>

  </div><!-- close dri_object_view_block -->

</div>