<div class="dri_main_content_container">
		 <h3><%= t('dri.views.catalog.forms.tp_review')%></h3>



<div class="dri_section_block">
    <div class="dri_object_title_top"><%= @document.title.join  %></div>
    <div class="dri_border_bottom">
       &nbsp;
    </div>

    <%= render partial: 'shared/surrogate' %>

    <h4><%= t('dri.views.catalog.forms.tp_original_metadata')%></h4>
    <dl class="dri_object_metadata_readview">
      <dt><%= t('dri.views.catalog.forms.tp_type')%></dt>
      <dd>
        <% @document.type.each do |field| %>
          <%= field %><br/>
        <% end %>
      </dd>
      <dt><%= t('dri.views.fields.creators')%> and <%= t('dri.views.fields.contributors')%></dt>
      <dd>
        <% @document['person_tesim'].each do |field| %>
          <%= field %><br/>
        <% end %>
      </dd>
      <% if @document['subject_tesim'].present? %>
        <dt><%= t('dri.views.fields.subjects')%></dt>
        <dd>
          <% @document['subject_tesim'].each do |field| %>
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
      <% if @document.date.present? %>
        <dt><%= t('dri.views.fields.dates')%></dt>
        <dd>
          <% @document.date.each do |field| %> 
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
      <% if @document.creation_date.present? %>
        <dt><%= t('dri.views.fields.creation_dates')%></dt>
        <dd>
          <% @document.creation_date.each do |field| %>
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
      <% if @document.published_date.present? %>
        <dt><%= t('dri.views.fields.published_dates')%></dt>
        <dd>
          <% @document.published_date.each do |field| %> 
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
      <% if @document['temporal_coverage_tesim'].present? %>
        <dt><%= t('dri.views.fields.temporal_coverage')%></dt>
        <dd>
          <% @document['temporal_coverage_tesim'].each do |field| %> 
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
      <% if @document['geographical_coverage_tesim'].present? %>
        <dt><%= t('dri.views.fields.geographical_coverages')%></dt>
        <dd>
          <% @document['geographical_coverage_tesim'].each do |field| %>
            <%= field %><br/>
          <% end %>
        </dd>
      <% end %>
    </dl>

</div> 


<div class="dri_section_block">
  <h4><%= t('dri.views.catalog.forms.tp_enrichments')%></h4>

  <h5><%= t('dri.views.catalog.forms.tp_overall_dates')%></h5>
  <dl>
    <dt><%= t('dri.views.catalog.forms.tp_start_date')%></dt>
    <% if not @earliest_item.present? %>
      <dd><%= t('dri.views.catalog.forms.tp_no_start_date')%></dd>
      <dt></td>
    <% else %>
      <dd> <%= @earliest_item.start_date %> </dd>
      <dt><%= t('dri.views.catalog.forms.tp_following_pages')%></dt>
      <dd> <% @early_items.each do |item| %>
           <%= link_to "#{item.item_id}", item.item_link, :target => "_blank" %><br/>
          <% end %>
      </dd>
    <% end %>

    <dt><%= t('dri.views.catalog.forms.tp_end_date')%></dt>
    <% if not @latest_item.present? %>
      <dd><%= t('dri.views.catalog.forms.tp_no_end_date')%></dd>
      <dt></dt>
    <% else %>
      <dd> <%= @latest_item.end_date %> </dd>
      <dt><%= t('dri.views.catalog.forms.tp_following_pages')%></dt>
      <dd> <% @late_items.each do |item| %>
            <%= link_to "#{item.item_id}", item.item_link, :target => "_blank" %><br/>
           <% end %>
      </dd>
    <% end %>
  </dl>

  <p>
    <%= check_box_tag(:accept_start_end_dates) %>
    <%= label_tag(:pet_cat, t('dri.views.catalog.forms.tp_accept_dates')) %>
  </p>


  <p><%= t('dri.views.catalog.forms.qdc_see_more')%></p>

  <% page = 1 %>
  <span><% @items.each do |item| %>
          <% if item.start_date or item.end_date %>
            <ul class="tpItem list-unstyled">
              <li>
                <%= "#{item.start_date} - #{item.end_date}:" %>
                <%= link_to "Page #{page}: #{item.item_id}", item.item_link, :target => "_blank" %>
                <%= check_box_tag(:accept_start_end_dates) %>
                <%= label_tag(:accept_start_end_dates, t('dri.views.catalog.forms.tp_accept_dates')) %>
              </li>
            </ul>
          <% end %>
          <% page += 1 %>
        <% end %>
  </span>

<input type="submit" name="commit" value="Save Changes" class="btn-primary btn-large" id="save_edit" data-disable-with="Save Changes">
</div>

<%
=begin
%>
<div class="dri_section_block">
<% page = 1 %>
<% @items.each do |item| %>
  <ul class="tpItem list-unstyled">
    <li>
      <%= link_to "Page #{page}: #{item.item_id}", item.item_link, :target => "_blank" %>
    </li>
  </ul>
  <% page += 1 %>
<% end %>
</div>
<%
=end
%>
 
</div>

