<div class="dri_object_container">
  <div id="uppy" class="dri_uppy" data-objectid="<%= @document.id %>" data-url="<%= object_files_path(@document.id) %>">
    <form id="upload_options" class="uppy_upload_options">
      <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
      <%= hidden_field_tag 's3_url', "" %>
      <%= hidden_field_tag 'file_name', "" %>
      <%= label_tag 'preservation', t('dri.assets.upload_as_preservation') %>
      <%= check_box_tag 'preservation' %>
    </form>
  </div>

  <div>
    <table id="uploads" class="table table-bordered table-sm w-75 mt-3">
      <thead>
        <tr>
          <th><%= t('dri.datatables.assets.filename') %></th>
          <th><%= t('dri.datatables.assets.status') %></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <%= link_to object_files_path(@document.id), id: "view_assets" do %>
      <%= button_tag(t('dri.views.catalog.links.view_assets'), { class: 'dri_link_button' }) %>
    <% end %> 
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag "uppy_upload", type: :module %>
<% end %>
