<div class="modal-header">
  <h2 class="h4 modal-title"><%= t('blacklight.tools.cite') %></h2>
  <button type="button" class="dri-btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close">
  </button>
</div>
<div class="modal-body">
	<textarea id="citation-text-apa" class="dri_clipboard_text" cols="62" rows="6" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="readonly" style="display:none" aria-label="APA Citation"><%= export_as_apa_citation(@object, @doi.presence, @depositing_institute.presence) %></textarea>
    <textarea id="citation-text-chicago" class="dri_clipboard_text" cols="62" rows="6" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="readonly" style="display:none" aria-label="Chicago Citation"><%= export_as_chicago_citation(@object, @doi.presence, @depositing_institute.presence) %></textarea>
    <textarea id="citation-text-mla" class="dri_clipboard_text" cols="62" rows="6" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="readonly" style="display:none" aria-label="MLA Citation"><%= export_as_mla_citation(@object, @doi.presence, @depositing_institute.presence) %></textarea>
    <textarea id="citation-text-dri" class="dri_clipboard_text" cols="62" rows="6" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="readonly" aria-label="DRI Citation"><%= @object.export_as_dri_citation %><% if @doi.present? %><%= ", https://doi.org/#{@doi}" %><% end %></textarea>
</div>
<div class="modal-footer">
  <b><%= t('dri.views.catalog.legends.citation_style') %>:&nbsp;</b>
  <select id="dri_citation_options_id" class="dri_citation_options" name="citation_options">
     <% %w[dri apa chicago mla].each do |style| %>
     <option value="<%= style %>"><%= style %></option>
      <%- end -%>
  </select>
  <button id="citation-clipboard-button" class="dri_button_black btn-default clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#citation-text-dri" data-container="body">
    <%= t('dri.views.catalog.forms.copy_to_clipboard') %>
  </button>
  <button type="button" class="dri_button_black btn-default" data-bs-dismiss="modal"><%= t('dri.window.modal.close') %></button>
</div>
<%= javascript_include_tag 'dri/modals', async: Rails.env.production? %>



