<h4><%= t('blacklight.citations.mla') %></h4>
<%= @object.export_as_mla_citation %>
<br/><br/>

<h4><%= t('blacklight.citations.apa') %></h4>
<%= @object.export_as_apa_citation %>
<br/><br/>

<h4><%= t('blacklight.citations.chicago') %></h4>
<%= @object.export_as_chicago_citation %>
<br/><br/>

