<%= form_for @object, :as => :dri_model, :url => {:controller=>"objects", :action=>"update"}, :method=>"put", :html => {:class => 'form-vertical'} do |f| %>

  <%= render :partial => "shared/form_batch", :locals => { :f => f, :action => "update" } %>
  <%= render :partial => "shared/access_controls", :locals => {:f => f,:record => @object } %>

  <%= f.submit t('dri.views.objects.buttons.save'), :class => "btn-primary btn-large", :id => "save_edit" %>
<% end %>

  <%= render :partial => "replace_metadata", :locals => { :object => @object } %>

<fieldset>
  <legend><%= t('dri.views.objects.legends.upload_audio') %></legend>
  <% if @object.datastreams.has_key?("masterContent") %>
    <p><%= t('dri.views.objects.legends.file_caption') %> 
    <%= link_to t('dri.views.objects.links.listen'), url_for(:controller => 'assets', :action => 'show', :id => @object.id), :class => "player" %>
      <section id="audio">
      </section>
    </p>
  <% end %>

  <%= render :partial => "upload_file", :locals => { :object => @object } %>
</fieldset>
