<%= form_for @document_fedora, :as => :dri_model, :url => {:controller=>"objects", :action=>"update"}, :method=>"put", :html => {:class => 'form-vertical'} do |f| %>

  <%= render :partial => "shared/form_pdf", :locals => { :f => f, :action => "update" } %>

  <%= f.submit t('dri.views.objects.buttons.save'), :class => "btn-primary btn-large", :id => "save_edit" %>
<% end %>

  <%= render :partial => "replace_metadata", :locals => { :document_fedora => @document_fedora } %>

<fieldset>
  <legend><%= t('dri.views.objects.legends.upload_pdf') %></legend>
  <% if @document_fedora.datastreams.has_key?("masterContent") %>
    <p><%= t('dri.views.objects.legends.file_caption') %> 
      <%= link_to t('dri.views.objects.links.download'), url_for(:controller => 'files', :action => 'show', :id => @document_fedora.id) %>
    </p>
  <% end %>

  <%= render :partial => "upload_file", :locals => { :document_fedora => @document_fedora } %>
</fieldset>
