<%= form_for @document_fedora, :as => :dri_model, :url => {:controller=>"objects", :action=>"update"}, :method=>"put", :html => {:class => 'form-vertical'} do |f| %>

  <%= render :partial => "shared/form_pdf", :locals => { :f => f, :action => "update" } %>

  <%= f.submit t('dri.views.objects.buttons.save'), :class => "btn-primary btn-large", :id => "save_edit" %>
<% end %>

<fieldset>
        <legend><%= t('dri.views.objects.legends.replace_metadata') %></legend>
        <p class="legend-caption"><%= t('dri.views.objects.legends.replace_caption') %></p>
        <form id="metadata_uploader" action="<%= url_for(:action=>"update", :controller=>"metadata", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="file" name="metadata_file" accept="application/xml" required >
        <input name="_method" type="hidden" value="put" />
        <input class="btn-primary" name="upload_metadata" type="submit" value="<%= t('dri.views.objects.buttons.replace_metadata') %>" id="replace_metadata"/>
        </form>
</fieldset>

<fieldset>
        <legend><%= t('dri.views.objects.legends.upload_pdf') %></legend>
        <% if @document_fedora.datastreams.has_key?("masterContent") %>
          <p><%= t('dri.views.objects.legends.file_caption') %> 
            <%= link_to t('dri.views.objects.links.download'), url_for(:controller => 'files', :action => 'show', :id => @document_fedora.id) %>
          </p>
          <form id="file_uploader" action="<%= url_for(:action=>"create", :controller=>"files", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="file" name="Filedata" accept="application/pdf" required >
            <input type="hidden" name="datastream" value="masterContent" />
            <input class="btn-primary" name="upload_file" type="submit" value="<%= t('dri.views.objects.buttons.replace_master') %>" id="replace_file"/>
          </form>
        <% else %>
          <p class="legend-caption"><%= t('dri.views.objects.legends.upload_file_caption') %></p>
          <form id="file_uploader" action="<%= url_for(:action=>"create", :controller=>"files", :id=>@document_fedora.id) %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="file" name="Filedata" accept="application/pdf" required >
            <input type="hidden" name="datastream" value="masterContent" />
            <input class="btn-primary" name="upload_file" type="submit" value="<%= t('dri.views.objects.buttons.upload_master') %>" id="upload_file"/>
          </form>
        <% end %>
</fieldset>
