
<%= form_for @object, as: :digital_object, url: { controller: "objects", action: "create"}, method: "post", html: { class: 'form-vertical' } do |f| %>
  <%= hidden_field_tag :governing_collection_id, @collection %>
  <% if params[:is_documentation].present? && params[:is_documentation] == 'true' %>
  <%= hidden_field_tag :documentation_for, @collection %>
  <%end%>

  <%= render partial: "shared/form_metadata_qualifieddublincore", locals: { f: f, action: "create" } %>
  <section>
    <h2><%= t('dri.views.objects.legends.reuse') %></h2>
    <%= render partial: 'shared/form_rights_field', locals: { f: f } %>
    <%= render partial: 'shared/form_access_rights_field', locals: { f: f } %>
  </section>
  <%= f.submit t('dri.views.ingest.buttons.continue'), class: "btn-primary btn-large", id: "continue" %>
<% end %>
