<small>
  <% if has_user_authentication_provider? %>
    <div class="util-links-login">
      <% if current_user %>
        <%= link_to t('blacklight.header_links.logout'), user_group.destroy_user_session_path, :method => :delete, :id => "logout"  %>
        [<%= link_to current_user, user_group.edit_user_path(current_user), :id => "edit_account" %>]

      <% else %>
        <%= link_to t('blacklight.header_links.login'), user_group.new_user_session_path, :id => "login" %>
	|
	<%= link_to t('user_group.views.shared.register'), user_group.new_user_path %>
      <% end %>
    </div>

  <% end %>

  <div class="util-links-other">
    <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path, :id => "bookmarks" %>
    <% if current_user %>
      <% if !get_current_collection.nil? %>
        |
        <%= link_to t('dri.headerlinks.current_collection', :collection => get_current_collection.title), collection_path(get_current_collection), :id => "current_collection" %></li>
      <% end %>
      |
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, :id => "saved_search" %>
      
    <% end %>
    |
    <%= link_to t('blacklight.header_links.search_history'), search_history_path, :id => "search_history" %>
  </div>
</small>
