<table id="datatable_activity" class="display" data-source="<%= reports_url(report: "object", format: "json", protocol: Rails.application.config.action_mailer.default_url_options[:protocol]) %>">
  <thead>
    <tr>
      <th><%= t('dri.datatables.activity.updated_at') %></th>
      <th><%= t('dri.datatables.activity.object_id') %></th>
      <th><%= t('dri.datatables.activity.type') %></th>
      <th><%= t('dri.datatables.activity.in_collection') %></th>
      <th><%= t('dri.datatables.activity.committer') %></th>
      <th><%= t('dri.datatables.activity.status') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>