<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= application_name %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    <title><%= h(@page_title || application_name) %></title>

    <link href="<%= main_app.opensearch_catalog_url(format: 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
    </script>

    <% if Settings.dig(:analytics, :disable) == false %>
      <script type="text/plain"
        data-category="analytics"
        data-service="Google Analytics" async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA4_TRACKER'] %>"></script>
      <script
        type="text/plain"
        data-category="analytics"
        data-service="Google Analytics">
          gtag('js', new Date());
          gtag('config', '<%= ENV['GA4_TRACKER'] %>', {
            'cookie_flags': 'max-age=7200;secure;samesite=none',
            'anonymize_ip': true
          });
      </script>
    <% end %>
    <%= cloudflare_turnstile_script_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "dri/dri_layouts", media: "all" %>
    <%= stylesheet_link_tag "dri/dri_print", media: "print" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" crossOrigin="anonymous">
    <%= javascript_include_tag "custom" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>

  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>

  <body>
    <div id="dri_wrapper_id" class="block1 dri_wrapper">
    	<%= render partial: 'advanced/dri_modal' %>
    	<%= render partial: 'shared/header_navbar' %>
    	<div id="blacklight-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-turbo="false">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>

    	<%#  the blacklight maps gem seems to set a 'constraint' even when none appears to exist %>
    	<%# - check below is to see if a facet or text query exists %>
    	<% if query_has_constraints? && has_constraint_params? %>
    	  <%= render 'constraints' %>
    	<% end %>

    	<% if flash  %>
    	  <%= render partial: '/flash_msg' %>
    	<% end %>
    
    	<% if should_render_browse_mode_swap? %>
        <h1 class="visually-hidden top-content-title">Search</h1>
        <h2 class="visually-hidden">Search Results</h2>
        <%= render 'shared/browse_mode_swap' %>
    	<% end %>

      <div class="dri_main_content_container">
    	  <%= yield %>
    	</div>
      <div class="dri_search_features_nav_container dri_clearfix">
        <%= render partial: 'shared/results_paginator' %>
    	</div>
    	<!-- close dri_main_content_container -->
      <%= render partial: 'shared/footer' %>
    </div><!-- close dri_wrapper -->
    <%= javascript_include_tag "cookieconsent-config.js", type: :module, crossorigin: "anonymous" %>
  </body>
</html>
