<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">

    <%# FAIR Signposting - https://signposting.org/FAIR/#level1  %>
    <%if request.path =~ %r{^/my_collections/|^/catalog/} %>
      <% solrResponse = @response.present? ? @response : "No response available" %>

      <%if solrResponse == "No response available" %>
        <meta name="description" content="The FAIR Signposting data requested content was not found on our website.">

      <%else%>
        <link rel="Raw response" href="<%= solrResponse %>">
        <% response = solrResponse["response"] %>
        <% num = response["numFound"] %>
        
        <!-- Cite-as - DOI or current link -->
        <%if @doi.present?%>
          <link rel="cite-as" href= <%=@doi%> >
        <%else%>
          <link rel="cite-as" href= <%="https://repository.dri.ie#{request.path}"%> >
        <%end%>

        <%while num > 0 %>
          <% num -= 1%>
          <% docs = response["docs"][num] %>
          <% types = docs["resource_type_tesim"] %>

          <%schema_hash_links = {
            'text' => 'https://schema.org/Text',
            'image' => 'https://schema.org/image',
            'movingimage' => 'https://schema.org/Movie',
            'interactiveresource' => 'https://schema.org/interactivityType',
            '3d' => 'https://schema.org/3DModel',
            'sound' => 'https://schema.org/audio',
            'software' => 'https://schema.org/SoftwareApplication',
            'dataset' => 'https://schema.org/Dataset',
            'collection' => 'https://schema.org/Collection'
          }%>

          <!-- Type -->
          <% types.each do |t| %>
            <% type = t.downcase.delete(' ') %>
            <%if schema_hash_links.include?(type)%>
              <link rel="type" href="<%= schema_hash_links[type] %>">
            <%end%>
          <%end%>

          <!-- Author - Working  -->
          <link rel="author" 	href="<ORCID Link>">

          <!-- Describedby -->
          <link rel="describedby" type="application/x-bibtex" href="https://repository.dri.ie/objects/<%=docs["id"]%>/metadata" >
        <%end%>

        <!-- License -->
        <link rel="license" href="<%= @document.licence.url%>">

        <!-- Item - Working -->
        <%assets = @assets.present? ? @assets : "No assets in the object" %>
        <%if assets != "No assets in the object"%>
          <%assets.each do |a|%>
            <link rel="item" type="<%=a["mime_type_tesim"]%>" href="https://repository.dri.ie/objects/object\_<%=a["isPartOf_ssim"][0]%>/files/file\_<%=a["id"]%>/download?type=surrogate">
          <%end%>
        <%end%>
      <%end%>
    <%end%>

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= application_name %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    <title><%= h(@page_title || application_name) %></title>

    <link href="<%= main_app.opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

    <% if Settings.dig(:analytics, :disable) == false %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA4_TRACKER'] %>"></script>
      <%= javascript_include_tag 'analytics', async: true %>
    <% end %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "dri/dri_layouts", media: "all" %>
    <%= stylesheet_link_tag "dri/dri_print", media: "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>

  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>

  <body>
    <div id="dri_wrapper_id" class="block1 dri_wrapper">
    	<%= render partial: 'shared/cookies_modal' if display_end_user_agreement? %>
    	<%= render partial: 'advanced/dri_modal' %>
    	<%= render partial: 'shared/header_navbar' %>
    	<div id="blacklight-modal" class="modal fade" tabindex="-1">
    	  <div class="modal-dialog modal-lg">
    	    <div class="modal-content">
    	      Loading...
    	    </div>
    	  </div>
    	</div>
    	<%#  the blacklight maps gem seems to set a 'constraint' even when none appears to exist %>
    	<%# - check below is to see if a facet or text query exists %>
    	<% if query_has_constraints? && has_constraint_params? %>
    	  <%= render 'constraints' %>
    	<% end %>

    	<% if flash  %>
    	  <%= render partial: '/flash_msg' %>
    	<% end %>
    	<!-- This condition identifies the browse section of the application and every search result and/or facet refinement -->
    	<%# if (((%w(catalog bookmarks my_collections).include?(controller_name)) && action_name == 'index') && has_browse_params?
    	      ) || (controller_name == 'saved_searches' && action_name == 'index') %>
    	<% if should_render_browse_mode_swap? %>
        <h1 class="sr-only top-content-title">Search</h1>
        <h2 class="sr-only">Search Results</h2>
        <%= render 'shared/browse_mode_swap' %>
    	<% end %>

      <div class="dri_main_content_container">
    	  <%= yield %>
    	</div>
      <div class="dri_search_features_nav_container dri_clearfix">
        <%= render partial: 'shared/results_paginator' %>
    	</div>
    	<!-- close dri_main_content_container -->
    	<%= render partial: 'shared/footer' %>
    </div><!-- close dri_wrapper -->
  </body>
</html>
